            <div class="vfes-overlay__content js-overlay-content vfms-popup">
                <p class="vfes-title vfes-title--2 vfes-title--light vfms-popup__title">¿Qué incluye el Pack Universal?
                </p>
                <p class="vfes-paragraph vfes-align--center">El Pack Universal incluye programas, magazines, películas,
                    informativos… todo el
                    entretenimiento de una selección de canales internacionales (CNN, BBC World, France 24,
                    Deutsche Welle…) y latinos (TV Chile, Cubavisión y más).</p>
                <p class="vfes-paragraph vfes-align--center vfms-popup__subtitle">Contenidos incluido:</p>
                <ul class="vfms-popup__flex">
                    <li class="vfes-1/7 vfes-1/6-palm vfes-1/4-mov vfms-popup__item">
                        <img src="img/popups/universal/euronews-desktop.png">
                        <span class="vfms-popup__name">Euronews</span>
                    </li>
                    <li class="vfes-1/7 vfes-1/6-palm vfes-1/4-mov vfms-popup__item">
                        <img src="img/popups/universal/cnn-international-desktop.png">
                        <span class="vfms-popup__name">CNN International</span>
                    </li>
                    <li class="vfes-1/7 vfes-1/6-palm vfes-1/4-mov vfms-popup__item">
                        <img src="img/popups/universal/comedy-central-desktop.png">
                        <span class="vfms-popup__name">Az Corazón</span>
                    </li>
                    <li class="vfes-1/7 vfes-1/6-palm vfes-1/4-mov vfms-popup__item">
                        <img src="img/popups/universal/cnbc-desktop.png">
                        <span class="vfms-popup__name">CNBC</span>
                    </li>
                    <li class="vfes-1/7 vfes-1/6-palm vfes-1/4-mov vfms-popup__item">
                        <img src="img/popups/universal/el-trece-tv-desktop.png">
                        <span class="vfms-popup__name">El Trece TV</span>
                    </li>
                    <li class="vfes-1/7 vfes-1/6-palm vfes-1/4-mov vfms-popup__item">
                        <img src="img/popups/universal/cubavisio-n-internacional-desktop.png">
                        <span class="vfms-popup__name">Cubavisión Internacional</span>
                    </li>
                    <li class="vfes-1/7 vfes-1/6-palm vfes-1/4-mov vfms-popup__item">
                        <img src="img/popups/universal/bbc-hd-desktop.png">
                        <span class="vfms-popup__name">BBC HD</span>
                    </li>
                    <li class="vfes-1/7 vfes-1/6-palm vfes-1/4-mov vfms-popup__item">
                        <img src="img/popups/universal/bloomberg-desktop.png ">
                        <span class="vfms-popup__name">BLOOMERANG</span>
                    </li>
                    <li class="vfes-1/7 vfes-1/6-palm vfes-1/4-mov vfms-popup__item">
                        <img src="img/popups/universal/ve-plus-tv-desktop.png">
                        <span class="vfms-popup__name">Ve Plus TV</span>
                    </li>
                    <li class="vfes-1/7 vfes-1/6-palm vfes-1/4-mov vfms-popup__item">
                        <img src="img/popups/universal/tv-chile-desktop.png">
                        <span class="vfms-popup__name">TV Chile</span>
                    </li>
                    <li class="vfes-1/7 vfes-1/6-palm vfes-1/4-mov vfms-popup__item">
                        <img src="img/popups/universal/caracol-desktop.png">
                        <span class="vfms-popup__name">Caracol</span>
                    </li>
                    <li class="vfes-1/7 vfes-1/6-palm vfes-1/4-mov vfms-popup__item">
                        <img src="img/popups/universal/aljazeera-desktop.png">
                        <span class="vfms-popup__name">Aljazeera</span>
                    </li>
                    <li class="vfes-1/7 vfes-1/6-palm vfes-1/4-mov vfms-popup__item">
                        <img src="img/popups/universal/cgtn-desktop.png">
                        <span class="vfms-popup__name">CGTN</span>
                    </li>
                    <li class="vfes-1/7 vfes-1/6-palm vfes-1/4-mov vfms-popup__item">
                        <img src="img/popups/universal/rt-desktop.png">
                        <span class="vfms-popup__name">RT</span>
                    </li>
                    <li class="vfes-1/7 vfes-1/6-palm vfes-1/4-mov vfms-popup__item">
                        <img src="img/popups/universal/canal-parlamento-desktop.png">
                        <span class="vfms-popup__name">Canal Parlamento</span>
                    </li>
                    <li class="vfes-1/7 vfes-1/6-palm vfes-1/4-mov vfms-popup__item">
                        <img src="img/popups/universal/france-24-desktop.png">
                        <span class="vfms-popup__name">France 24</span>
                    </li>
                    <li class="vfes-1/7 vfes-1/6-palm vfes-1/4-mov vfms-popup__item">
                        <img src="img/popups/universal/pro-tv-desktop.png">
                        <span class="vfms-popup__name">PRO TV</span>
                    </li>
                    <li class="vfes-1/7 vfes-1/6-palm vfes-1/4-mov vfms-popup__item">
                        <img src="img/popups/universal/tv-5-monde-desktop.png">
                        <span class="vfms-popup__name">TV5 Monde</span>
                    </li>
                    <li class="vfes-1/7 vfes-1/6-palm vfes-1/4-mov vfms-popup__item">
                        <img src="img/popups/universal/ewtn-desktop.png">
                        <span class="vfms-popup__name">EWTN</span>
                    </li>
                    <li class="vfes-1/7 vfes-1/6-palm vfes-1/4-mov vfms-popup__item">
                        <img src="img/popups/universal/dw-desktop.png">
                        <span class="vfms-popup__name">DW</span>
                    </li>
                    <li class="vfes-1/7 vfes-1/6-palm vfes-1/4-mov vfms-popup__item">
                        <img src="img/popups/universal/tvp-desktop.png">
                        <span class="vfms-popup__name">TVP</span>
                    </li>
                </ul>
            </div>
