<!-- banner -->
<section class="vf-banner">
    <div class="vf-banner__container ws10-o-wrapper">
        <div class="ws10-o-layout ws10-u--pb0 ws10-u--pt6x">
            <div class="ws10-o-layout__item ws10-u--1/2@desktop">
                <h2 class="ws10-u-heading--4">Móvil + Fibra</h2>
                <h1 class="ws10-u-heading--2-lt ws10-flex ws10-flex__direction--column vf-banner__title">
                    <span>Llévate <strong>datos ilimitados + fibra óptica</strong> con hasta <strong>45% dto. durante 1 año</strong></span>
                </h1>
            </div>
            <div  class="ws10-o-layout__item ws10-u--1/2@desktop">
                <picture>
                    <source srcset="img/bodegon-desktop.webp" type="image/webp">
                    <source srcset="img/bodegon-desktop.png" type="image/png">
                    <img src="img/bodegon-desktop.png">
                </picture>
            </div>
        </div>
    </div>
</section>