<section class="vf-rates ws10-u--pt8x ws10-u--pb8x">
    <div class="vf-rates__container ws10-o-layout ws10-flex__align-items--end ws10-flex__justify--center">
        <div class="ws10-o-layout__item ws10-u--1/2@tablet ws10-u--1/3@desktop">
            <!-- Vodafone One Rate 1-->
            <section class="ws10-c-card ws10-c-card-rate ws10-c-card--no-shadow" data-ws10-js="card-rate">
                <div class="ws10-c-card-rate__w-rates">
                    <div class="ws10-c-card-rate__a-rate">
                        <ul class="ws10-c-card-rate__product-info">
                            <li class="ws10-c-card-rate__product-info-item">
                                <svg class="ws10-c-card-rate__product-icon ws10-u-color--black"
                                        xmlns="http://www.w3.org/2000/svg"
                                        xmlns:xlink="http://www.w3.org/1999/xlink">
                                    <use xlink:href="#icon-mobile"></use>
                                </svg>
                                <div class="ws10-c-card-rate__product">
                                    <p class="ws10-c-card-rate__product-title">
                                        Datos y minutos ilimitados
                                    </p>
                                    <p class="ws10-c-card-rate__product-txt ws10-c-card-rate__product-txt--primary">
                                        Velocidad media
                                        <svg class="ws10-c-card-rate__product-txt-icon"
                                                xmlns="http://www.w3.org/2000/svg"
                                                xmlns:xlink="http://www.w3.org/1999/xlink">
                                            <use xlink:href="#icon-thunder-1grey"></use>
                                        </svg>
                                    </p>
                                </div>
                            </li>
                            <li class="ws10-c-card-rate__product-info-item">
                                <svg class="ws10-c-card-rate__product-icon ws10-u-color--black"
                                        xmlns="http://www.w3.org/2000/svg"
                                        xmlns:xlink="http://www.w3.org/1999/xlink">
                                    <use xlink:href="#icon-broadband-or-wifi"></use>
                                </svg>
                                <div class="ws10-c-card-rate__product">
                                    <p class="ws10-c-card-rate__product-title">
                                        300Mbps Fibra
                                    </p>
                                    <p class="ws10-c-card-rate__product-txt">
                                        + llamadas ilimitadas en fijo
                                    </p>
                                </div>
                            </li>
                        </ul>
                        <div class="ws10-c-card-rate__w-cta">
                            <div class="ws10-c-card-rate__w-offers">
                                <div class="ws10-c-card-rate__offer"
                                        id="rate-1-offer-1">
                                    <p class="ws10-c-card-rate__dto ws10-c-card-rate__dto--percent">
                                        25% dto. 1 año
                                    </p>
                                    <p class="ws10-c-card-rate__dto ws10-c-card-rate__dto--label">
                                        Permanencia 1 año
                                    </p>
                                    <p class="ws10-c-card-rate__dto ws10-c-card-rate__dto--price">
                                        <del>54,99€/mes</del>
                                    </p>
                                    <p class="ws10-c-card-rate__price ws10-u-color--black">
                                        39,99€<sub>/mes</sub>
                                    </p>
                                </div>
                            </div>
                            <a href="https://www.vodafone.es/c/particulares/es/productos-y-servicios/vodafone-one/alt/mm/paquete-one-1/" target="_self" name="Más info" title="Más info" class="ws10-c-button ws10-c-button--auto" data-analytics-context="vodafone one ilimitada:mas info" data-analytics-element="card 1" data-analytics-category="cta" data-analytics-id="-7515870759291">
                                Más info
                            </a>
                        </div>

                    </div>
                </div>
            </section>
        </div>
        <div class="ws10-o-layout__item ws10-u--1/2@tablet ws10-u--1/3@desktop">
            <!-- Vodafone One Rate 2 -->
            <section class="ws10-c-card ws10-c-card-rate ws10-c-card--no-shadow" data-ws10-js="card-rate">
                <div class="ws10-c-card-rate__w-rates">
                    <div class="ws10-c-card-rate__a-rate">
                        <ul class="ws10-c-card-rate__product-info">
                            <li class="ws10-c-card-rate__product-info-item">
                                <svg class="ws10-c-card-rate__product-icon ws10-u-color--black"
                                        xmlns="http://www.w3.org/2000/svg"
                                        xmlns:xlink="http://www.w3.org/1999/xlink">
                                    <use xlink:href="#icon-mobile"></use>
                                </svg>
                                <div class="ws10-c-card-rate__product">
                                    <p class="ws10-c-card-rate__product-title">
                                        Datos y minutos ilimitados
                                    </p>
                                    <p class="ws10-c-card-rate__product-txt ws10-c-card-rate__product-txt--primary">
                                        Velocidad media
                                        <svg class="ws10-c-card-rate__product-txt-icon"
                                                xmlns="http://www.w3.org/2000/svg"
                                                xmlns:xlink="http://www.w3.org/1999/xlink">
                                            <use xlink:href="#icon-thunder-1grey"></use>
                                        </svg>
                                    </p>

                                </div>
                            </li>
                            <li class="ws10-c-card-rate__product-info-item">
                                <svg class="ws10-c-card-rate__product-icon ws10-u-color--black"
                                        xmlns="http://www.w3.org/2000/svg"
                                        xmlns:xlink="http://www.w3.org/1999/xlink">
                                    <use xlink:href="#icon-sim"></use>
                                </svg>
                                <div class="ws10-c-card-rate__product">
                                    <p class="ws10-c-card-rate__product-title">
                                        Datos y minutos ilimitados
                                    </p>
                                    <p class="ws10-c-card-rate__product-txt">
                                        línea con -10€/mes dto. durante 1 año
                                    </p>
                                </div>
                            </li>
                            <li class="ws10-c-card-rate__product-info-item">
                                <svg class="ws10-c-card-rate__product-icon ws10-u-color--black"
                                        xmlns="http://www.w3.org/2000/svg"
                                        xmlns:xlink="http://www.w3.org/1999/xlink">
                                    <use xlink:href="#icon-broadband-or-wifi"></use>
                                </svg>
                                <div class="ws10-c-card-rate__product">
                                    <p class="ws10-c-card-rate__product-title">
                                        600Mbps Fibra
                                    </p>
                                    <p class="ws10-c-card-rate__product-txt">
                                        + llamadas ilimitadas en fijo
                                    </p>
                                </div>
                            </li>

                        </ul>
                        <div class="ws10-c-card-rate__w-cta">
                            <div class="ws10-c-card-rate__w-offers">
                                <div class="ws10-c-card-rate__offer"
                                        id="rate-1-offer-1">
                                    <p class="ws10-c-card-rate__dto ws10-c-card-rate__dto--percent">
                                        40% dto. 1 año
                                    </p>
                                    <p class="ws10-c-card-rate__dto ws10-c-card-rate__dto--label">
                                        Permanencia 1 año
                                    </p>
                                    <p class="ws10-c-card-rate__dto ws10-c-card-rate__dto--price">
                                        <del>81,49€/mes</del>
                                    </p>
                                    <p class="ws10-c-card-rate__price ws10-u-color--black">
                                        46,49€<sub>/mes</sub>
                                    </p>
                                </div>
                            </div>
                            <a href="https://www.vodafone.es/c/particulares/es/productos-y-servicios/vodafone-one/alt/mm/paquete-one-2/" target="_self" name="Más info" title="Más info" class="ws10-c-button ws10-c-button--auto" data-analytics-context="vodafone one ilimitada:mas info" data-analytics-element="card 2" data-analytics-category="cta" data-analytics-id="-3976052093347">
                                Más info
                            </a>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <div class="ws10-o-layout__item ws10-u--1/2@tablet ws10-u--1/3@desktop">
            <!-- Vodafone One Rate 3 -->
            <section class="ws10-c-card ws10-c-card-rate ws10-c-card--no-shadow" data-ws10-js="card-rate">
                <div class="ws10-c-card-rate__w-rates">
                    <div class="ws10-c-card-rate__a-rate">
                        <ul class="ws10-c-card-rate__product-info">
                            <li class="ws10-c-card-rate__product-info-item">
                                <svg class="ws10-c-card-rate__product-icon ws10-u-color--black"
                                        xmlns="http://www.w3.org/2000/svg"
                                        xmlns:xlink="http://www.w3.org/1999/xlink">
                                    <use xlink:href="#icon-mobile"></use>
                                </svg>
                                <div class="ws10-c-card-rate__product">
                                    <p class="ws10-c-card-rate__product-title">
                                        Datos y minutos ilimitados
                                    </p>
                                    <p class="ws10-c-card-rate__product-txt ws10-c-card-rate__product-txt--primary">
                                        Velocidad media
                                        <svg class="ws10-c-card-rate__product-txt-icon"
                                                xmlns="http://www.w3.org/2000/svg"
                                                xmlns:xlink="http://www.w3.org/1999/xlink">
                                            <use xlink:href="#icon-thunder-1grey"></use>
                                        </svg>
                                    </p>
                                </div>
                            </li>
                            <li class="ws10-c-card-rate__product-info-item">
                                <svg class="ws10-c-card-rate__product-icon ws10-u-color--black"
                                        xmlns="http://www.w3.org/2000/svg"
                                        xmlns:xlink="http://www.w3.org/1999/xlink">
                                    <use xlink:href="#icon-sim"></use>
                                </svg>
                                <div class="ws10-c-card-rate__product">
                                    <p class="ws10-c-card-rate__product-title">
                                        Datos y minutos ilimitados
                                    </p>
                                    <p class="ws10-c-card-rate__product-txt">
                                        línea con -10€/mes dto.durante 1 año
                                    </p>
                                </div>
                            </li>
                            <li class="ws10-c-card-rate__product-info-item ws10-flex ws10-flex ws10-flex__direction--column ws10-flex__align-items--start">
                                <div class="ws10-u--1/1 ws10-flex ws10-flex__align-items--center">
                                    <svg class="ws10-c-card-rate__product-icon ws10-u-color--black"
                                            xmlns="http://www.w3.org/2000/svg"
                                            xmlns:xlink="http://www.w3.org/1999/xlink">
                                        <use xlink:href="#icon-broadband-or-wifi"></use>
                                    </svg>
                                    <div class="ws10-c-card-rate__product">
                                        <p class="ws10-c-card-rate__product-title">
                                            600Mbps Fibra
                                        </p>
                                        <p class="ws10-c-card-rate__product-txt">
                                            + llamadas ilimitadas en fijo
                                        </p>
                                    </div>
                                </div>
                            </li>
                            <li class="ws10-c-card-rate__product-info-item">
                                <svg class="ws10-c-card-rate__product-icon ws10-u-color--black"
                                        xmlns="http://www.w3.org/2000/svg"
                                        xmlns:xlink="http://www.w3.org/1999/xlink">
                                    <use xlink:href="#icon-tv"></use>
                                </svg>
                                <div class="ws10-c-card-rate__product">
                                    <p class="ws10-c-card-rate__product-title">
                                        Pack TV Seriefans GRATIS 1 año
                                    </p>
                                    <p class="ws10-c-card-rate__product-txt">
                                        con HBO España y 60 canales más
                                    </p>
                                </div>
                            </li>
                        </ul>
                        <div class="ws10-c-card-rate__w-cta">
                            <div class="ws10-c-card-rate__w-offers">
                                <div class="ws10-c-card-rate__offer"
                                        id="rate-1-offer-1">
                                    <p class="ws10-c-card-rate__dto ws10-c-card-rate__dto--percent">
                                        45% dto. 1 año
                                    </p>
                                    <p class="ws10-c-card-rate__dto ws10-c-card-rate__dto--label">
                                        Permanencia 1 año
                                    </p>
                                    <p class="ws10-c-card-rate__dto ws10-c-card-rate__dto--price">
                                        <del>95,49€/mes</del>
                                    </p>
                                    <p class="ws10-c-card-rate__price ws10-u-color--black">
                                        51,49€<sub>/mes</sub>
                                    </p>
                                </div>
                            </div>
                            <a href="https://www.vodafone.es/c/particulares/es/productos-y-servicios/vodafone-one/alt/mm/paquete-one-3/" target="_self" name="Más info" title="Más info" class="ws10-c-button ws10-c-button--auto" data-analytics-context="vodafone one ilimitada:mas info" data-analytics-element="card 3" data-analytics-category="cta" data-analytics-id="-1411181351186">
                                Más info
                            </a>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</section>
