<!-- POPUP TV -->
<div
  class="ws10-c-backdrop js-backdrop"
  data-ws10-js="backdrop"
  aria-hidden="true"
>
    <section
      id="seriefans"
      class="ws10-c-backdrop__item js-backdrop-item"
      aria-hidden="true"
      role="dialog"
      aria-modal="true"
    >
      <div class="ws10-c-backdrop__head">
        <button
          class="ws10-c-backdrop__close js-backdrop-close"
          aria-hidden="false"
        >
          <svg
            class="ws10-c-backdrop__close-icon"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
          >
            <title>Close</title>
            <use xlink:href="#icon-close"></use>
          </svg>
        </button>
      </div>
      <div
        class="ws10-c-backdrop__content js-backdrop-content ws10-u--pt0 ws10-u--mt0"
      >
        <p class="ws10-u-heading--4 ws10-u-heading--4-lt ws10-align--center ws10-u--pt0 ws10-u--mt0">
            {{ tv.popup.title }}
        </p>
        <p class="ws10-align--center">{{ tv.popup.description }}</p>
        <p class="ws10-align--center">{{ tv.popup.included }}</p>

        <ul class="ws10-flex ws10-flex__wrap">
            <li class="ws10-o-layout__item ws10-u--1/4 ws10-u--1/6@tablet ws10-align--center ws10-u--pl0">
                <picture>
                  <source class="ws10-u--pr1x" srcset="img/section-tv/popup/universal/amc-desktop.webp" type="image/webp"/>
                  <source class="ws10-u--pr1x" srcset="img/section-tv/popup/universal/amc-desktop.png" type="image/jpg"/>
                  <img src="img/section-tv/popup/universal/amc-desktop.png" alt="logo AMC"/>
                </picture>
                <p class="ws10-c-paragraph ws10-u--mb0 ws10-u--mt2x">AMC</p>
            </li>
            <li class="ws10-o-layout__item ws10-u--1/4 ws10-u--1/6@tablet ws10-align--center ws10-u--pl0">
                <picture>
                  <source class="ws10-u--pr1x" srcset="img/section-tv/popup/universal/foxlife-desktop.webp" type="image/webp"/>
                  <source class="ws10-u--pr1x" srcset="img/section-tv/popup/universal/foxlife-desktop.png" type="image/jpg"/>
                  <img src="img/section-tv/popup/universal/foxlife-desktop.png" alt="logo FOX Life"/>
                </picture>
                <p class="ws10-c-paragraph ws10-u--mb0 ws10-u--mt2x">FOX Life</p>
            </li>
            <li class="ws10-o-layout__item ws10-u--1/4 ws10-u--1/6@tablet ws10-align--center ws10-u--pl0">
                <picture>
                  <source class="ws10-u--pr1x" srcset="img/section-tv/popup/universal/cosmo-desktop.webp" type="image/webp"/>
                  <source class="ws10-u--pr1x" srcset="img/section-tv/popup/universal/cosmo-desktop.png" type="image/jpg"/>
                  <img src="img/section-tv/popup/universal/cosmo-desktop.png" alt="logo COSMO"/>
                </picture>
                <p class="ws10-c-paragraph ws10-u--mb0 ws10-u--mt2x">COSMO Life</p>
            </li>
            <li class="ws10-o-layout__item ws10-u--1/4 ws10-u--1/6@tablet ws10-align--center ws10-u--pl0">
                <picture>
                  <source class="ws10-u--pr1x" srcset="img/section-tv/popup/universal/comedy-desktop.webp" type="image/webp"/>
                  <source class="ws10-u--pr1x" srcset="img/section-tv/popup/universal/comedy-desktop.png" type="image/jpg"/>
                  <img src="img/section-tv/popup/universal/comedy-desktop.png" alt="logo Comedy Central"/>
                </picture>
                <p class="ws10-c-paragraph ws10-u--mb0 ws10-u--mt2x">Comedy Central</p>
            </li>
            <li class="ws10-o-layout__item ws10-u--1/4 ws10-u--1/6@tablet ws10-align--center ws10-u--pl0">
                <picture>
                  <source class="ws10-u--pr1x" srcset="img/section-tv/popup/universal/xtrm-desktop.webp" type="image/webp"/>
                  <source class="ws10-u--pr1x" srcset="img/section-tv/popup/universal/xtrm-desktop.png" type="image/jpg"/>
                  <img src="img/section-tv/popup/universal/xtrm-desktop.png" alt="logo XTRM"/>
                </picture>
                <p class="ws10-c-paragraph ws10-u--mb0 ws10-u--mt2x">XTRM</p>
            </li>
            <li class="ws10-o-layout__item ws10-u--1/4 ws10-u--1/6@tablet ws10-align--center ws10-u--pl0">
                <picture>
                  <source class="ws10-u--pr1x" srcset="img/section-tv/popup/universal/tcm-desktop.webp" type="image/webp"/>
                  <source class="ws10-u--pr1x" srcset="img/section-tv/popup/universal/tcm-desktop.png" type="image/jpg"/>
                  <img src="img/section-tv/popup/universal/tcm-desktop.png" alt="logo TCM"/>
                </picture>
                <p class="ws10-c-paragraph ws10-u--mb0 ws10-u--mt2x">TCM</p>
            </li>
            <li class="ws10-o-layout__item ws10-u--1/4 ws10-u--1/6@tablet ws10-align--center ws10-u--pl0">
                <picture>
                  <source class="ws10-u--pr1x" srcset="img/section-tv/popup/universal/sundance-desktop.webp" type="image/webp"/>
                  <source class="ws10-u--pr1x" srcset="img/section-tv/popup/universal/sundance-desktop.png" type="image/jpg"/>
                  <img src="img/section-tv/popup/universal/sundance-desktop.png" alt="Logo Sundance TV"/>
                </picture>
                <p class="ws10-c-paragraph ws10-u--mb0 ws10-u--mt2x">Sundance TV</p>
            </li>
            <li class="ws10-o-layout__item ws10-u--1/4 ws10-u--1/6@tablet ws10-align--center ws10-u--pl0">
                <picture>
                  <source class="ws10-u--pr1x" srcset="img/section-tv/popup/universal/natgeo-desktop.webp" type="image/webp"/>
                  <source class="ws10-u--pr1x" srcset="img/section-tv/popup/universal/natgeo-desktop.png" type="image/jpg"/>
                  <img src="img/section-tv/popup/universal/natgeo-desktop.png" alt="Logo National Geographic"/>
                </picture>
                <p class="ws10-c-paragraph ws10-u--mb0 ws10-u--mt2x">National Geographic</p>
            </li>
            <li class="ws10-o-layout__item ws10-u--1/4 ws10-u--1/6@tablet ws10-align--center ws10-u--pl0">
                <picture>
                  <source class="ws10-u--pr1x" srcset="img/section-tv/popup/universal/natgeoplus-desktop.webp" type="image/webp"/>
                  <source class="ws10-u--pr1x" srcset="img/section-tv/popup/universal/natgeoplus-desktop.png" type="image/jpg"/>
                  <img src="img/section-tv/popup/universal/natgeoplus-desktop.png" alt="Logo National Geographic Now"/>
                </picture>
                <p class="ws10-c-paragraph ws10-u--mb0 ws10-u--mt2x">National Geographic Now</p>
            </li>
            <li class="ws10-o-layout__item ws10-u--1/4 ws10-u--1/6@tablet ws10-align--center ws10-u--pl0">
                <picture>
                  <source class="ws10-u--pr1x" srcset="img/section-tv/popup/universal/cocina-desktop.webp" type="image/webp"/>
                  <source class="ws10-u--pr1x" srcset="img/section-tv/popup/universal/cocina-desktop.png" type="image/jpg"/>
                  <img src="img/section-tv/popup/universal/cocina-desktop.png" alt="Logo Cocina"/>
                </picture>
                <p class="ws10-c-paragraph ws10-u--mb0 ws10-u--mt2x">Cocina</p>
            </li>
            <li class="ws10-o-layout__item ws10-u--1/4 ws10-u--1/6@tablet ws10-align--center ws10-u--pl0">
                <picture>
                  <source class="ws10-u--pr1x" srcset="img/section-tv/popup/universal/decasa-desktop.webp" type="image/webp"/>
                  <source class="ws10-u--pr1x" srcset="img/section-tv/popup/universal/decasa-desktop.png" type="image/jpg"/>
                  <img src="img/section-tv/popup/universal/decasa-desktop.png" alt="Logo Decasa"/>
                </picture>
                <p class="ws10-c-paragraph ws10-u--mb0 ws10-u--mt2x">Decasa</p>
            </li>
            <li class="ws10-o-layout__item ws10-u--1/4 ws10-u--1/6@tablet ws10-align--center ws10-u--pl0">
                <picture>
                  <source class="ws10-u--pr1x" srcset="img/section-tv/popup/universal/mtv-desktop.webp" type="image/webp"/>
                  <source class="ws10-u--pr1x" srcset="img/section-tv/popup/universal/mtv-desktop.png" type="image/jpg"/>
                  <img src="img/section-tv/popup/universal/mtv-desktop.png" alt="Logo MTV"/>
                </picture>
                <p class="ws10-c-paragraph ws10-u--mb0 ws10-u--mt2x">MTV</p>
            </li>
            <li class="ws10-o-layout__item ws10-u--1/4 ws10-u--1/6@tablet ws10-align--center ws10-u--pl0">
                <picture>
                  <source class="ws10-u--pr1x" srcset="img/section-tv/popup/universal/mymtv-desktop.webp" type="image/webp"/>
                  <source class="ws10-u--pr1x" srcset="img/section-tv/popup/universal/mymtv-desktop.png" type="image/jpg"/>
                  <img src="img/section-tv/popup/universal/mymtv-desktop.png" alt="Logo MyMTV Music"/>
                </picture>
                <p class="ws10-c-paragraph ws10-u--mb0 ws10-u--mt2x">MyMTV Music</p>
            </li>
            <li class="ws10-o-layout__item ws10-u--1/4 ws10-u--1/6@tablet ws10-align--center ws10-u--pl0">
                <picture>
                  <source class="ws10-u--pr1x" srcset="img/section-tv/popup/universal/solmusica-desktop.webp" type="image/webp"/>
                  <source class="ws10-u--pr1x" srcset="img/section-tv/popup/universal/solmusica-desktop.png" type="image/jpg"/>
                  <img src="img/section-tv/popup/universal/solmusica-desktop.png" alt="Logo SOL Música"/>
                </picture>
                <p class="ws10-c-paragraph ws10-u--mb0 ws10-u--mt2x">SOL Música</p>
            </li>
            <li class="ws10-o-layout__item ws10-u--1/4 ws10-u--1/6@tablet ws10-align--center ws10-u--pl0">
                <picture>
                  <source class="ws10-u--pr1x" srcset="img/section-tv/popup/universal/eurosport-desktop.webp" type="image/webp"/>
                  <source class="ws10-u--pr1x" srcset="img/section-tv/popup/universal/eurosport-desktop.png" type="image/jpg"/>
                  <img src="img/section-tv/popup/universal/eurosport-desktop.png" alt="Logo Eurosport 1"/>
                </picture>
                <p class="ws10-c-paragraph ws10-u--mb0 ws10-u--mt2x">Eurosport 1</p>
            </li>
            <li class="ws10-o-layout__item ws10-u--1/4 ws10-u--1/6@tablet ws10-align--center ws10-u--pl0">
                <picture>
                  <source class="ws10-u--pr1x" srcset="img/section-tv/popup/universal/selekt-desktop.webp" type="image/webp"/>
                  <source class="ws10-u--pr1x" srcset="img/section-tv/popup/universal/selekt-desktop.png" type="image/jpg"/>
                  <img src="img/section-tv/popup/universal/selekt-desktop.png" alt="Logo SELEKT"/>
                </picture>
                <p class="ws10-c-paragraph ws10-u--mb0 ws10-u--mt2x">SELEKT</p>
            </li>
            <li class="ws10-o-layout__item ws10-u--1/4 ws10-u--1/6@tablet ws10-align--center ws10-u--pl0">
                <picture>
                  <source class="ws10-u--pr1x" srcset="img/section-tv/popup/universal/euronews-desktop.webp" type="image/webp"/>
                  <source class="ws10-u--pr1x" srcset="img/section-tv/popup/universal/euronews-desktop.png" type="image/jpg"/>
                  <img src="img/section-tv/popup/universal/euronews-desktop.png" alt="logo Euronews"/>
                </picture>
                <p class="ws10-c-paragraph ws10-u--mb0 ws10-u--mt2x">Euronews</p>
            </li>
            <li class="ws10-o-layout__item ws10-u--1/4 ws10-u--1/6@tablet ws10-align--center ws10-u--pl0">
                <picture>
                  <source class="ws10-u--pr1x" srcset="img/section-tv/popup/universal/cnn-international-desktop.webp" type="image/webp"/>
                  <source class="ws10-u--pr1x" srcset="img/section-tv/popup/universal/cnn-international-desktop.png" type="image/jpg"/>
                  <img src="img/section-tv/popup/universal/cnn-international-desktop.png" alt="logo CNN International"/>
                </picture>
                <p class="ws10-c-paragraph ws10-u--mb0 ws10-u--mt2x">CNN International</p>
            </li>
            <li class="ws10-o-layout__item ws10-u--1/4 ws10-u--1/6@tablet ws10-align--center ws10-u--pl0">
                <picture>
                  <source class="ws10-u--pr1x" srcset="img/section-tv/popup/universal/comedy-central-desktop.webp" type="image/webp"/>
                  <source class="ws10-u--pr1x" srcset="img/section-tv/popup/universal/comedy-central-desktop.png" type="image/jpg"/>
                  <img src="img/section-tv/popup/universal/comedy-central-desktop.png" alt="logo Az Corazón"/>
                </picture>
                <p class="ws10-c-paragraph ws10-u--mb0 ws10-u--mt2x">Az Corazón</p>
            </li>
            <li class="ws10-o-layout__item ws10-u--1/4 ws10-u--1/6@tablet ws10-align--center ws10-u--pl0">
                <picture>
                  <source class="ws10-u--pr1x" srcset="img/section-tv/popup/universal/cnbc-desktop.webp" type="image/webp"/>
                  <source class="ws10-u--pr1x" srcset="img/section-tv/popup/universal/cnbc-desktop.png" type="image/jpg"/>
                  <img src="img/section-tv/popup/universal/cnbc-desktop.png" alt="logo CNBC"/>
                </picture>
                <p class="ws10-c-paragraph ws10-u--mb0 ws10-u--mt2x">CNBC</p>
            </li>
            <li class="ws10-o-layout__item ws10-u--1/4 ws10-u--1/6@tablet ws10-align--center ws10-u--pl0">
                <picture>
                  <source class="ws10-u--pr1x" srcset="img/section-tv/popup/universal/el-trece-tv-desktop.webp" type="image/webp"/>
                  <source class="ws10-u--pr1x" srcset="img/section-tv/popup/universal/el-trece-tv-desktop.png" type="image/jpg"/>
                  <img src="img/section-tv/popup/universal/el-trece-tv-desktop.png" alt="logo El Trece TV"/>
                </picture>
                <p class="ws10-c-paragraph ws10-u--mb0 ws10-u--mt2x">El Trece TV</p>
            </li>
            <li class="ws10-o-layout__item ws10-u--1/4 ws10-u--1/6@tablet ws10-align--center ws10-u--pl0">
                <picture>
                  <source class="ws10-u--pr1x" srcset="img/section-tv/popup/universal/cubavisio-n-internacional-desktop.webp" type="image/webp"/>
                  <source class="ws10-u--pr1x" srcset="img/section-tv/popup/universal/cubavisio-n-internacional-desktop.png" type="image/jpg"/>
                  <img src="img/section-tv/popup/universal/cubavisio-n-internacional-desktop.png" alt="logo Cubavisión Internacional"/>
                </picture>
                <p class="ws10-c-paragraph ws10-u--mb0 ws10-u--mt2x">Cubavisión Internacional</p>
            </li>
            <li class="ws10-o-layout__item ws10-u--1/4 ws10-u--1/6@tablet ws10-align--center ws10-u--pl0">
                <picture>
                  <source class="ws10-u--pr1x" srcset="img/section-tv/popup/universal/bbc-hd-desktop.webp" type="image/webp"/>
                  <source class="ws10-u--pr1x" srcset="img/section-tv/popup/universal/bbc-hd-desktop.png" type="image/jpg"/>
                  <img src="img/section-tv/popup/universal/bbc-hd-desktop.png" alt="logo BBC HD"/>
                </picture>
                <p class="ws10-c-paragraph ws10-u--mb0 ws10-u--mt2x">BBC HD</p>
            </li>
            <li class="ws10-o-layout__item ws10-u--1/4 ws10-u--1/6@tablet ws10-align--center ws10-u--pl0">
                <picture>
                  <source class="ws10-u--pr1x" srcset="img/section-tv/popup/universal/bloomberg-desktop.webp" type="image/webp"/>
                  <source class="ws10-u--pr1x" srcset="img/section-tv/popup/universal/bloomberg-desktop.png" type="image/jpg"/>
                  <img src="img/section-tv/popup/universal/bloomberg-desktop.png" alt="logo BLOOMERANG"/>
                </picture>
                <p class="ws10-c-paragraph ws10-u--mb0 ws10-u--mt2x">BLOOMERANG</p>
            </li>
            <li class="ws10-o-layout__item ws10-u--1/4 ws10-u--1/6@tablet ws10-align--center ws10-u--pl0">
                <picture>
                  <source class="ws10-u--pr1x" srcset="img/section-tv/popup/universal/ve-plus-tv-desktop.webp" type="image/webp"/>
                  <source class="ws10-u--pr1x" srcset="img/section-tv/popup/universal/ve-plus-tv-desktop.png" type="image/jpg"/>
                  <img src="img/section-tv/popup/universal/ve-plus-tv-desktop.png" alt="logo Ve Plus TV"/>
                </picture>
                <p class="ws10-c-paragraph ws10-u--mb0 ws10-u--mt2x">Ve Plus TV</p>
            </li>
            <li class="ws10-o-layout__item ws10-u--1/4 ws10-u--1/6@tablet ws10-align--center ws10-u--pl0">
                <picture>
                  <source class="ws10-u--pr1x" srcset="img/section-tv/popup/universal/tv-chile-desktop.webp" type="image/webp"/>
                  <source class="ws10-u--pr1x" srcset="img/section-tv/popup/universal/tv-chile-desktop.png" type="image/jpg"/>
                  <img src="img/section-tv/popup/universal/tv-chile-desktop.png" alt="logo TV Chile"/>
                </picture>
                <p class="ws10-c-paragraph ws10-u--mb0 ws10-u--mt2x">TV Chile</p>
            </li>
            <li class="ws10-o-layout__item ws10-u--1/4 ws10-u--1/6@tablet ws10-align--center ws10-u--pl0">
                <picture>
                  <source class="ws10-u--pr1x" srcset="img/section-tv/popup/universal/caracol-desktop.webp" type="image/webp"/>
                  <source class="ws10-u--pr1x" srcset="img/section-tv/popup/universal/caracol-desktop.png" type="image/jpg"/>
                  <img src="img/section-tv/popup/universal/caracol-desktop.png" alt="logo Caracol"/>
                </picture>
                <p class="ws10-c-paragraph ws10-u--mb0 ws10-u--mt2x">Caracol</p>
            </li>
            <li class="ws10-o-layout__item ws10-u--1/4 ws10-u--1/6@tablet ws10-align--center ws10-u--pl0">
                <picture>
                  <source class="ws10-u--pr1x" srcset="img/section-tv/popup/universal/aljazeera-desktop.webp" type="image/webp"/>
                  <source class="ws10-u--pr1x" srcset="img/section-tv/popup/universal/aljazeera-desktop.png" type="image/jpg"/>
                  <img src="img/section-tv/popup/universal/aljazeera-desktop.png" alt="logo Aljazeera"/>
                </picture>
                <p class="ws10-c-paragraph ws10-u--mb0 ws10-u--mt2x">Aljazeera</p>
            </li>
            <li class="ws10-o-layout__item ws10-u--1/4 ws10-u--1/6@tablet ws10-align--center ws10-u--pl0">
                <picture>
                  <source class="ws10-u--pr1x" srcset="img/section-tv/popup/universal/cgtn-desktop.webp" type="image/webp"/>
                  <source class="ws10-u--pr1x" srcset="img/section-tv/popup/universal/cgtn-desktop.png" type="image/jpg"/>
                  <img src="img/section-tv/popup/universal/cgtn-desktop.png" alt="logo CGTN"/>
                </picture>
                <p class="ws10-c-paragraph ws10-u--mb0 ws10-u--mt2x">CGTN</p>
            </li>
            <li class="ws10-o-layout__item ws10-u--1/4 ws10-u--1/6@tablet ws10-align--center ws10-u--pl0">
                <picture>
                  <source class="ws10-u--pr1x" srcset="img/section-tv/popup/universal/rt-desktop.webp" type="image/webp"/>
                  <source class="ws10-u--pr1x" srcset="img/section-tv/popup/universal/rt-desktop.png" type="image/jpg"/>
                  <img src="img/section-tv/popup/universal/rt-desktop.png" alt="logo RT"/>
                </picture>
                <p class="ws10-c-paragraph ws10-u--mb0 ws10-u--mt2x">RT</p>
            </li>
            <li class="ws10-o-layout__item ws10-u--1/4 ws10-u--1/6@tablet ws10-align--center ws10-u--pl0">
                <picture>
                  <source class="ws10-u--pr1x" srcset="img/section-tv/popup/universal/canal-parlamento-desktop.webp" type="image/webp"/>
                  <source class="ws10-u--pr1x" srcset="img/section-tv/popup/universal/canal-parlamento-desktop.png" type="image/jpg"/>
                 <img src="img/section-tv/popup/universal/canal-parlamento-desktop.png" alt="logo Canal Parlamento"/>
                </picture>
                <p class="ws10-c-paragraph ws10-u--mb0 ws10-u--mt2x">Canal Parlamento</p>
            </li>
            <li class="ws10-o-layout__item ws10-u--1/4 ws10-u--1/6@tablet ws10-align--center ws10-u--pl0">
                <picture>
                  <source class="ws10-u--pr1x" srcset="img/section-tv/popup/universal/france-24-desktop.webp" type="image/webp"/>
                  <source class="ws10-u--pr1x" srcset="img/section-tv/popup/universal/france-24-desktop.png" type="image/jpg"/>
                  <img src="img/section-tv/popup/universal/france-24-desktop.png" alt="logo France 24"/>
                </picture>
                <p class="ws10-c-paragraph ws10-u--mb0 ws10-u--mt2x">France 24</p>
            </li>
            <li class="ws10-o-layout__item ws10-u--1/4 ws10-u--1/6@tablet ws10-align--center ws10-u--pl0">
                <picture>
                  <source class="ws10-u--pr1x" srcset="img/section-tv/popup/universal/pro-tv-desktop.webp" type="image/webp"/>
                  <source class="ws10-u--pr1x" srcset="img/section-tv/popup/universal/pro-tv-desktop.png" type="image/jpg"/>
                  <img src="img/section-tv/popup/universal/pro-tv-desktop.png" alt="logo PRO TV"/>
                </picture>
                <p class="ws10-c-paragraph ws10-u--mb0 ws10-u--mt2x">PRO TV</p>
            </li>
            <li class="ws10-o-layout__item ws10-u--1/4 ws10-u--1/6@tablet ws10-align--center ws10-u--pl0">
                <picture>
                  <source class="ws10-u--pr1x" srcset="img/section-tv/popup/universal/tv-5-monde-desktop.webp" type="image/webp"/>
                  <source class="ws10-u--pr1x" srcset="img/section-tv/popup/universal/tv-5-monde-desktop.png" type="image/jpg"/>
                  <img src="img/section-tv/popup/universal/tv-5-monde-desktop.png" alt="logo TV5 Monde"/>
                </picture>
                <p class="ws10-c-paragraph ws10-u--mb0 ws10-u--mt2x">TV5 Monde</p>
            </li>
            <li class="ws10-o-layout__item ws10-u--1/4 ws10-u--1/6@tablet ws10-align--center ws10-u--pl0">
                <picture>
                  <source class="ws10-u--pr1x" srcset="img/section-tv/popup/universal/ewtn-desktop.webp" type="image/webp"/>
                  <source class="ws10-u--pr1x" srcset="img/section-tv/popup/universal/ewtn-desktop.png" type="image/jpg"/>
                  <img src="img/section-tv/popup/universal/ewtn-desktop.png" alt="logo EWTN"/>
                </picture>
                <p class="ws10-c-paragraph ws10-u--mb0 ws10-u--mt2x">EWTN</p>
            </li>
            <li class="ws10-o-layout__item ws10-u--1/4 ws10-u--1/6@tablet ws10-align--center ws10-u--pl0">
                <picture>
                  <source class="ws10-u--pr1x" srcset="img/section-tv/popup/universal/dw-desktop.webp" type="image/webp"/>
                  <source class="ws10-u--pr1x" srcset="img/section-tv/popup/universal/dw-desktop.png" type="image/jpg"/>
                  <img src="img/section-tv/popup/universal/dw-desktop.png" alt="logo DW"/>
                </picture>
                <p class="ws10-c-paragraph ws10-u--mb0 ws10-u--mt2x">DW</p>
            </li>
            <li class="ws10-o-layout__item ws10-u--1/4 ws10-u--1/6@tablet ws10-align--center ws10-u--pl0">
                <picture>
                  <source class="ws10-u--pr1x" srcset="img/section-tv/popup/universal/tvp-desktop.webp" type="image/webp"/>
                  <source class="ws10-u--pr1x" srcset="img/section-tv/popup/universal/tvp-desktop.png" type="image/jpg"/>
                  <img src="img/section-tv/popup/universal/tvp-desktop.png" alt="logo TVP"/>
                </picture>
                <p class="ws10-c-paragraph ws10-u--mb0 ws10-u--mt2x">TVP</p>
            </li>
        </ul>

      </div>
    </section>
</div>
