<link href="css/ws10.css" rel="stylesheet"  />
<link href="css/styles.css" rel="stylesheet" data-ws10-microcss  />
<div class="vfes-ms-content ws10-u-color--bg-light-grey" id="v-home" style="visibility: hidden;opacity: 0">
    {{> banner }}
    {{!-- Main 2/3 --}} 
    <div class="ws10-o-wrapper">
        <div class="ws10-o-layout">
            {{> discovery}}
            {{> safetyKit}}
            {{> features}}
            {{> iot}}
            {{> noSurprise}}
            {{> steps}}
        </div>
    </div>
{{!-- STICKY TICKET --}}
{{> stickyTicket}}
</div>
<script src="js/ws10.js"></script>
<script src="js/main.js"></script>
