<section class="vf-cliente ws10-u-color--bg-dark-grey ws10-align--center ws10-u--p2x">
    <p class="ws10-u-color--white ws10-u--mb0"><strong>Si ya eres cliente</strong> y quieres beneficiarte de este descuento, <a class="ws10-u-color--white" data-backdrop="icon-backdrop" data-backdrop-close aria-haspopup="dialog" data-analytics-category="cta" data-anaytics-element="cintillo" data-analytics-conext="informate aqui" data-analytics-id="-3753969986503">infórmate aquí</a></p>
</section>
