<div id="panel-3" role="tabpanel" class="ws10-o-tabs__panel" hidden>
  <div
    class="ws10-c-carousel ws10-c-carousel--secondary ws10-c-carousel--align-bottom ws10-c-carousel--secondary-left"
    data-ws10-js="carousel"
    data-config='{"responsive":{"0":{"breakpoint":0,"elements":1},"1":{"breakpoint":640,"elements":2},"2":{"breakpoint":970,"elements":3}},"build":{"arrows":true,"bullets":true,"clickable_bullets":true}}'
  >
    <ul class="ws10-c-carousel__list js-carousel-list" id="idUl">
      {{! Hogar ilimitable 2.0 }}
      <li class="ws10-c-carousel__list-element js-carousel-list-element">
        <div>
          <div
            class="ws10-c-card ws10-c-card-rate ws10-c-card--no-shadow"
            data-ws10-js="card-rate"
          >
            <div class="ws10-c-card-rate__w-rates">
              <div class="ws10-c-card-rate__a-rate">
                <h4 class="ws10-u-heading--4-lt">
                  Hogar ilimitable 2.0
                </h4>
                <p>Tu hogar
                  <strong>conectado</strong>
                  para disfrutar de los mejores contenidos
                  <strong>con la mayor seguridad</strong></p>
                <div class="ws10-u-color--bg-aluminium ws10-u--p4x">
                  <ul role="list" class="ws10-c-list-icon">
                    <li role="option" class="ws10-c-list-icon__item">
                      <svg
                        class="ws10-c-list-icon__icon"
                        xmlns:xlink="http://www.w3.org/1999/xlink"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <title> titulo icono </title>
                        <use
                          class="icon"
                          xlink:href="#icon-tick-or-solved"
                        ></use>
                      </svg>
                      <p class="ws10-c-list-icon__text"><strong>2 líneas</strong>
                        móviles con
                        <strong>llamadas y datos ilimitados</strong>
                        a máxima velocidad en la red 5G</p>
                    </li>
                    <li role="option" class="ws10-c-list-icon__item">
                      <svg
                        class="ws10-c-list-icon__icon"
                        xmlns:xlink="http://www.w3.org/1999/xlink"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <title> titulo icono </title>
                        <use
                          class="icon"
                          xlink:href="#icon-tick-or-solved"
                        ></use>
                      </svg>
                      <p class="ws10-c-list-icon__text"><strong
                        >600Mbps</strong>
                        de Fibra Simétrica +
                        <strong>Super WiFi</strong>
                        para una máxima cobertura y calidad de tu red WiFi</p>
                    </li>
                    <li role="option" class="ws10-c-list-icon__item">
                      <svg
                        class="ws10-c-list-icon__icon"
                        xmlns:xlink="http://www.w3.org/1999/xlink"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <title> titulo icono </title>
                        <use
                          class="icon"
                          xlink:href="#icon-tick-or-solved"
                        ></use>
                      </svg>
                      <p class="ws10-c-list-icon__text">TV con
                        <strong>+100 canales, HBO España y Amazon Prime</strong>
                        incluidos con decodificador
                        <strong>4K</strong></p>
                    </li>
                    <li role="option" class="ws10-c-list-icon__item">
                      <svg
                        class="ws10-c-list-icon__icon"
                        xmlns:xlink="http://www.w3.org/1999/xlink"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <title> titulo icono </title>
                        <use
                          class="icon"
                          xlink:href="#icon-tick-or-solved"
                        ></use>
                      </svg>
                      <p class="ws10-c-list-icon__text">Conecta lo que más
                        quieres con
                        <strong>Secure Net Family</strong></p>
                    </li>
                  </ul>
                </div>
                <div class="ws10-u--mt4x">
                  <p
                    class="ws10-c-card-rate__dto ws10-c-card-rate__dto--percent"
                  >
                    50% dto. 3 meses + después 15% dto. 2 años
                  </p>
                </div>
                <div class="ws10-c-card-rate__w-cta ws10-u--mt0">
                  <div class="ws10-c-card-rate__w-offers">
                    <div
                      class="ws10-c-card-rate__offer"
                      id="rate-1-offer-1"
                    >
                      <p
                        class="ws10-c-card-rate__dto ws10-c-card-rate__dto--label"
                      >
                        Permanencia 1 año
                      </p>
                      <p
                        class="ws10-c-card-rate__dto ws10-c-card-rate__dto--price"
                      >
                        <del>95€/mes</del>
                      </p>
                      <p class="ws10-c-card-rate__price">
                        47,50€<sub>/mes</sub>
                      </p>
                    </div>
                  </div>
                  <a
                    href="https://www.vodafone.es/c/particulares/es/colectivos-vodafone/hogar-ilimitable/"
                    target="_self"
                    name="Más info"
                    title="Más info"
                    class="ws10-c-button ws10-c-button--auto"
                    data-analytics-category="cta"
                    data-analytics-element="card de tarifa"
                    data-analytics-context="mas info: hogar ilimitable 2.0"
                    data-analytics-id="3827639707871"
                  >
                    Más info
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </li>
      {{! Hogar ilimitable 3.0 }}
      <li class="ws10-c-carousel__list-element js-carousel-list-element">
        <div>
          <div
            class="ws10-c-card ws10-c-card-rate ws10-c-card--no-shadow"
            data-ws10-js="card-rate"
          >
            <div class="ws10-c-card-rate__w-rates">
              <div class="ws10-c-card-rate__a-rate">
                <h4 class="ws10-u-heading--4-lt">
                  Hogar ilimitable 3.0
                </h4>
                <p>Tu hogar
                  <strong>conectado</strong>
                  para disfrutar de los mejores contenidos
                  <strong>con la mayor seguridad</strong></p>
                <div class="ws10-u-color--bg-aluminium ws10-u--p4x">
                  <ul role="list" class="ws10-c-list-icon">
                    <li role="option" class="ws10-c-list-icon__item">
                      <svg
                        class="ws10-c-list-icon__icon"
                        xmlns:xlink="http://www.w3.org/1999/xlink"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <title> titulo icono </title>
                        <use
                          class="icon"
                          xlink:href="#icon-tick-or-solved"
                        ></use>
                      </svg>
                      <p class="ws10-c-list-icon__text"><strong>3 líneas</strong>
                        móviles con
                        <strong>llamadas y datos ilimitados</strong>
                        a máxima velocidad en la red 5G</p>
                    </li>
                    <li role="option" class="ws10-c-list-icon__item">
                      <svg
                        class="ws10-c-list-icon__icon"
                        xmlns:xlink="http://www.w3.org/1999/xlink"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <title> titulo icono </title>
                        <use
                          class="icon"
                          xlink:href="#icon-tick-or-solved"
                        ></use>
                      </svg>
                      <p class="ws10-c-list-icon__text"><strong
                        >600Mbps</strong>
                        de Fibra Simétrica +
                        <strong>Super WiFi</strong>
                        para una máxima cobertura y calidad de tu red WiFi</p>
                    </li>
                    <li role="option" class="ws10-c-list-icon__item">
                      <svg
                        class="ws10-c-list-icon__icon"
                        xmlns:xlink="http://www.w3.org/1999/xlink"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <title> titulo icono </title>
                        <use
                          class="icon"
                          xlink:href="#icon-tick-or-solved"
                        ></use>
                      </svg>
                      <p class="ws10-c-list-icon__text">TV con
                        <strong>+100 canales, HBO España y Amazon Prime</strong>
                        incluidos con decodificador
                        <strong>4K</strong></p>
                    </li>
                    <li role="option" class="ws10-c-list-icon__item">
                      <svg
                        class="ws10-c-list-icon__icon"
                        xmlns:xlink="http://www.w3.org/1999/xlink"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <title> titulo icono </title>
                        <use
                          class="icon"
                          xlink:href="#icon-tick-or-solved"
                        ></use>
                      </svg>
                      <p class="ws10-c-list-icon__text">Conecta lo que más
                        quieres con
                        <strong>Secure Net Family</strong>
                        y
                        <strong>V-Home Mini</strong></p>
                    </li>
                  </ul>
                </div>
                <div class="ws10-u--mt4x">
                  <p
                    class="ws10-c-card-rate__dto ws10-c-card-rate__dto--percent"
                  >
                    50% dto. 3 meses + después 15% dto. 2 años
                  </p>
                </div>
                <div class="ws10-c-card-rate__w-cta ws10-u--mt0">
                  <div class="ws10-c-card-rate__w-offers">
                    <div
                      class="ws10-c-card-rate__offer"
                      id="rate-1-offer-1"
                    >
                      <p
                        class="ws10-c-card-rate__dto ws10-c-card-rate__dto--label"
                      >
                        Permanencia 1 año
                      </p>
                      <p
                        class="ws10-c-card-rate__dto ws10-c-card-rate__dto--price"
                      >
                        <del>110€/mes</del>
                      </p>
                      <p class="ws10-c-card-rate__price">
                        55€<sub>/mes</sub>
                      </p>
                    </div>
                  </div>
                  <a
                    href="https://www.vodafone.es/c/particulares/es/colectivos-vodafone/hogar-ilimitable/"
                    target="_self"
                    name="Más info"
                    title="Más info"
                    class="ws10-c-button ws10-c-button--auto"
                    data-analytics-category="cta"
                    data-analytics-element="card de tarifa"
                    data-analytics-context="mas info: hogar ilimitable 3.0"
                    data-analytics-id="-3827099707871"
                  >
                    Más info
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </li>
      {{! Hogar ilimitable 4.0 }}
      <li class="ws10-c-carousel__list-element js-carousel-list-element">
        <div>
          <div
            class="ws10-c-card ws10-c-card-rate ws10-c-card--no-shadow"
            data-ws10-js="card-rate"
          >
            <div class="ws10-c-card-rate__w-rates">
              <div class="ws10-c-card-rate__a-rate">
                <h4 class="ws10-u-heading--4-lt">
                  Hogar ilimitable 4.0
                </h4>
                <p>Tu hogar
                  <strong>conectado</strong>
                  para disfrutar de los mejores contenidos
                  <strong>con la mayor seguridad</strong></p>
                <div class="ws10-u-color--bg-aluminium ws10-u--p4x">
                  <ul role="list" class="ws10-c-list-icon">
                    <li role="option" class="ws10-c-list-icon__item">
                      <svg
                        class="ws10-c-list-icon__icon"
                        xmlns:xlink="http://www.w3.org/1999/xlink"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <title> titulo icono </title>
                        <use
                          class="icon"
                          xlink:href="#icon-tick-or-solved"
                        ></use>
                      </svg>
                      <p class="ws10-c-list-icon__text"><strong>4 líneas</strong>
                        móviles con
                        <strong>llamadas y datos ilimitados</strong>
                        a máxima velocidad en la red 5G</p>
                    </li>
                    <li role="option" class="ws10-c-list-icon__item">
                      <svg
                        class="ws10-c-list-icon__icon"
                        xmlns:xlink="http://www.w3.org/1999/xlink"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <title> titulo icono </title>
                        <use
                          class="icon"
                          xlink:href="#icon-tick-or-solved"
                        ></use>
                      </svg>
                      <p class="ws10-c-list-icon__text"><strong
                        >600Mbps</strong>
                        de Fibra Simétrica +
                        <strong>Super WiFi</strong>
                        para una máxima cobertura y calidad de tu red WiFi</p>
                    </li>
                    <li role="option" class="ws10-c-list-icon__item">
                      <svg
                        class="ws10-c-list-icon__icon"
                        xmlns:xlink="http://www.w3.org/1999/xlink"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <title> titulo icono </title>
                        <use
                          class="icon"
                          xlink:href="#icon-tick-or-solved"
                        ></use>
                      </svg>
                      <p class="ws10-c-list-icon__text">TV con
                        <strong>+100 canales, HBO España y Amazon Prime</strong>
                        incluidos con decodificador
                        <strong>4K</strong></p>
                    </li>
                    <li role="option" class="ws10-c-list-icon__item">
                      <svg
                        class="ws10-c-list-icon__icon"
                        xmlns:xlink="http://www.w3.org/1999/xlink"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <title> titulo icono </title>
                        <use
                          class="icon"
                          xlink:href="#icon-tick-or-solved"
                        ></use>
                      </svg>
                      <p class="ws10-c-list-icon__text">Conecta lo que más
                        quieres con
                        <strong>Secure Net Family</strong>,
                        <strong>V-Home Mini</strong>
                        y
                        <strong>CarConnect</strong></p>
                    </li>
                  </ul>
                </div>
                <div class="ws10-u--mt4x">
                  <p
                    class="ws10-c-card-rate__dto ws10-c-card-rate__dto--percent"
                  >
                    50% dto. 3 meses + después 15% dto. 2 años
                  </p>
                </div>
                <div class="ws10-c-card-rate__w-cta ws10-u--mt0">
                  <div class="ws10-c-card-rate__w-offers">
                    <div
                      class="ws10-c-card-rate__offer"
                      id="rate-1-offer-1"
                    >
                      <p
                        class="ws10-c-card-rate__dto ws10-c-card-rate__dto--label"
                      >
                        Permanencia 1 año
                      </p>
                      <p
                        class="ws10-c-card-rate__dto ws10-c-card-rate__dto--price"
                      >
                        <del>125€/mes</del>
                      </p>
                      <p class="ws10-c-card-rate__price">
                        62,50€<sub>/mes</sub>
                      </p>
                    </div>
                  </div>
                  <a
                    href="https://www.vodafone.es/c/particulares/es/colectivos-vodafone/hogar-ilimitable/"
                    target="_self"
                    name="Más info"
                    title="Más info"
                    class="ws10-c-button ws10-c-button--auto"
                    data-analytics-category="cta"
                    data-analytics-element="card de tarifa"
                    data-analytics-context="mas info: hogar ilimitable 4.0"
                    data-analytics-id="3811639707871"
                  >
                    Más info
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
