<section
  class="vf-tabs--filter ws10-c-tabs-filter ws10-o-tabs ws10-u--mt8x ws10-u--mt12x@desktop ws10-o-wrapper"
  data-ws10-js="tabs-filter"
>
  <div
    role="tablist"
    class="ws10-c-tabs-filter__tablist ws10-u--mb8x@tablet ws10-u--mb12x@desktop"
  >
    <a
      class="ws10-c-tabs-filter__tab ws10-c-filter ws10-c-filter--active ws10-c-filter--nocheck"
      href="#panel-1"
      role="tab"
      id="tab-1"
    >
      <span
        class="ws10-c-filter__label"
        data-analytics-category="cta"
        data-analytics-element="tab distributiva"
        data-analytics-context="movil+fibra"
        data-analytics-id="-1971469830803"
      >
        <svg
          class="icon ws10-c-filter__icon"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          width="24px"
          height="24px"
        >
          <title>titulo</title>
          <use class="icon-v3" xlink:href="#icon-connected-devices"></use>
        </svg>
        Móvil + Fibra
      </span>
    </a>

    <a
      class="ws10-c-tabs-filter__tab ws10-c-filter ws10-c-filter--nocheck"
      href="#panel-2"
      role="tab"
      id="tab-2"
    >
      <span
        class="ws10-c-filter__label"
        data-analytics-category="cta"
        data-analytics-element="tab distributiva"
        data-analytics-context="tarifa movil"
        data-analytics-id="-9590319105265"
      >
        <svg
          class="icon ws10-c-filter__icon"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          width="24px"
          height="24px"
        >
          <title>titulo</title>
          <use class="icon-v3" xlink:href="#icon-sim"></use>
        </svg>
        Tarifa Móvil
      </span>
    </a>

    <a
      class="ws10-c-tabs-filter__tab ws10-c-filter ws10-c-filter--nocheck"
      href="#panel-3"
      role="tab"
      id="tab-3"
    >
      <span
        class="ws10-c-filter__label"
        data-analytics-category="cta"
        data-analytics-element="tab distributiva"
        data-analytics-context="tarifa familiar"
        data-analytics-id="-1598140428731"
      >
        <svg
          class="icon ws10-c-filter__icon"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          width="24px"
          height="24px"
        >
          <title>titulo</title>
          <use class="icon-v3" xlink:href="#icon-family"></use>
        </svg>
        Tarifa Familiar
      </span>
    </a>
  </div>
  <div class="ws10-c-tabs-filter__w-panels">


    <!----movil+fibra----->
    <div id="panel-1" role="tabpanel" class="ws10-o-tabs__panel">
      <div class="vf-rates">
        <div
          class="vf-rates__container ws10-o-layout ws10-flex__align-items--end"
        >
          <div
            class="ws10-o-layout__item ws10-u--1/2@tablet ws10-u--1/3@desktop"
          >
            <!-- Vodafone One ilimitada-->
            <div
              class="ws10-c-card ws10-c-card-rate ws10-c-card--no-shadow"
              data-ws10-js="card-rate"
            >
              <div class="ws10-c-card-rate__w-rates">
                <div class="ws10-c-card-rate__a-rate">
                  <div class="vfms-badge--container ws10-u--mb4x">
                    <b
                      class="ws10-c-badge-text ws10-c-badge-text--turquoise ws10-u--mr1x vfms-badge1"
                    >50% dto.</b>
                    <b
                      class="ws10-c-badge-text ws10-c-badge-text--lemon-yellow ws10-u--hidden"
                      data-js-vf="_badgeIlimitada"
                    >+ Fibra por menos</b>
                  </div>
                  <ul
                    class="ws10-c-card-rate__product-info"
                    data-vfes-seo-empathy-promoperiod="50% dto. 3 meses Permanencia 1 año"
                    data-vfes-seo-empathy-promoprice="28,49"
                    data-vfes-seo-empathy-price="56,99"
                  >
                    <li class="ws10-c-card-rate__product-info-item">
                      <svg
                        class="ws10-c-card-rate__product-icon ws10-u-color--black"
                        xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink"
                      >
                        <use xlink:href="#icon-mobile"></use>
                      </svg>
                      <div class="ws10-c-card-rate__product">
                        <p class="ws10-c-card-rate__product-title">
                          Datos y minutos ilimitados
                        </p>
                        <p
                          class="ws10-c-card-rate__product-txt ws10-c-card-rate__product-txt--primary"
                        >
                          Velocidad alta
                          <svg
                            class="ws10-c-card-rate__product-txt-icon"
                            xmlns="http://www.w3.org/2000/svg"
                            xmlns:xlink="http://www.w3.org/1999/xlink"
                          >
                            <use xlink:href="#icon-thunder-2grey"></use>
                          </svg>
                        </p>
                      </div>
                    </li>
                    <li class="ws10-c-card-rate__product-info-item">
                      <svg
                        class="ws10-c-card-rate__product-icon ws10-u-color--black"
                        xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink"
                      >
                        <use xlink:href="#icon-sim"></use>
                      </svg>
                      <div class="ws10-c-card-rate__product">
                        <p class="ws10-c-card-rate__product-title">
                          4GB y 200 minutos GRATIS
                        </p>
                        <p class="ws10-c-card-rate__product-txt">
                          segunda línea GRATIS 1 año
                        </p>
                      </div>
                    </li>
                    <li
                      class="ws10-c-card-rate__product-info-item ws10-flex ws10-flex ws10-flex__direction--column ws10-flex__align-items--start"
                    >
                      <div
                        class="ws10-u--1/1 ws10-flex ws10-flex__align-items--center"
                      >
                        <svg
                          class="ws10-c-card-rate__product-icon ws10-u-color--black"
                          xmlns="http://www.w3.org/2000/svg"
                          xmlns:xlink="http://www.w3.org/1999/xlink"
                        >
                          <use xlink:href="#icon-broadband-or-wifi"></use>
                        </svg>
                        <div class="ws10-c-card-rate__product">
                          <p class="vf-rate--fibra ws10-u--mb0">
                            <span
                              class="ws10-c-card-rate__product-title ws10-u--pr1x"
                            >Fibra Óptica</span>
                            <span class="ws10-c-card-rate__product-txt">+
                              llamadas ilimitadas en fijo</span>
                          </p>
                        </div>
                      </div>
                      <form
                        action=""
                        method="get"
                        class="ws10-u--1/1 vf-form ws10-c-card-rate__form ws10-c-form ws10-u--mt0 ws10-u--ml16x"
                        data-js-vf="_showOrHideSticky"
                      >
                        <fieldset class="ws10-u--pb0 ws10-u--mb1x">
                          <div class="ws10-c-card-rate__w-form-select">
                            <div
                              class="vf-form__box ws10-c-form__box"
                              data-analytics-category="cta"
                              data-analytics-element="modulo tarifa:one ilimitada"
                              data-analytics-context="300mbps"
                              data-analytics-id="-7028449821489"
                            >
                              <input
                                type="radio"
                                name="rate-1-card-rate-ilimitada"
                                id="rate-1-card-rate-ilimitada-option-1"
                                class="ws10-c-form__radio"
                                checked
                              />
                              <label
                                for="rate-1-card-rate-ilimitada-option-1"
                                class="ws10-c-card-rate__form-label ws10-c-form__label vf-active vf-bold"
                                data-js-vf="_buttonVelocityIlimitada"
                              >
                                300Mbps
                              </label>
                            </div>
                            <div
                              class="vf-form__box ws10-c-form__box"
                              data-analytics-category="cta"
                              data-analytics-element="modulo tarifa:one ilimitada"
                              data-analytics-context="600mbps"
                              data-analytics-id="-7022549821489"
                            >
                              <input
                                type="radio"
                                name="rate-1-card-rate-ilimitada"
                                id="rate-1-card-rate-ilimitada-option-2"
                                class="ws10-c-form__radio"
                              />
                              <label
                                for="rate-1-card-rate-ilimitada-option-2"
                                class="ws10-c-card-rate__form-label ws10-c-form__label"
                                data-js-vf="_buttonVelocityIlimitada"
                              >
                                600Mbps
                              </label>
                            </div>
                          </div>
                        </fieldset>
                      </form>

                    </li>
                  </ul>
                  <div
                    class="ws10-c-card-rate__w-cta vf-block"
                    data-js-vf="_priceIlimitada"
                  >
                    <div class="ws10-c-card-rate__w-offers vf-block">
                      <div class="ws10-c-card-rate__offer" id="rate-1-offer-1">
                        <p
                          class="ws10-c-card-rate__dto ws10-c-card-rate__dto--price"
                        >
                          <strong>50% dto. 3 meses +  después 15% dto. durante 2 años.</strong>
                        </p>

                        <p
                          class="ws10-c-card-rate__dto ws10-c-card-rate__dto--label"
                        >
                          Permanencia 1 año
                        </p>
                      </div>
                    </div>
                    <div
                      class="ws10-flex ws10-flex__justify--between ws10-flex__align-items--end"
                    >
                      <p class="ws10-c-card-rate__price ws10-u-color--black">
                        28,49€<sub>/mes</sub>
                      </p>
                      <a
                        href="https://www.vodafone.es/c/particulares/es/colectivos-vodafone/vodafone-one/paquete-one-3/ "
                        target="_self"
                        name="Más info"
                        title="Más info"
                        class="ws10-c-button ws10-c-button--auto vf-button--mobile"
                        data-analytics-category="cta"
                        data-analytics-element="card de tarifa"
                        data-analytics-context="mas info: vodafone one ilimitada"
                        data-analytics-id="-7498449761489"
                      >
                        Más info
                      </a>
                    </div>
                  </div>
                  <div class="ws10-u--hidden" data-js-vf="_priceIlimitada">
                    <div class="ws10-c-card-rate__w-cta vf-block">
                      <div class="ws10-c-card-rate__w-offers vf-block">
                        <div
                          class="ws10-c-card-rate__offer"
                          id="rate-2-offer-1"
                        >
                          <p
                            class="ws10-c-card-rate__dto ws10-c-card-rate__dto--price"
                          >
                           <strong> A precio de 300Mbps + 50% dto. 3 meses + después 15% dto. durante 2 años.</strong>
                          </p>
                          <p
                            class="ws10-c-card-rate__dto ws10-c-card-rate__dto--label"
                          >
                            Permanencia 1 año
                          </p>
                        </div>
                      </div>
                      <div
                        class="ws10-flex ws10-flex__justify--between ws10-flex__align-items--end"
                      >
                        <p class="ws10-c-card-rate__price ws10-u-color--black">
                          28,49€<sub>/mes</sub>
                        </p>
                        <a
                          href="https://www.vodafone.es/c/particulares/es/colectivos-vodafone/vodafone-one/paquete-one-3/ "
                          target="_self"
                          name="Más info"
                          title="Más info"
                          class="ws10-c-button ws10-c-button--auto vf-button--mobile"
                          data-analytics-category="cta"
                          data-analytics-element="card de tarifa"
                          data-analytics-context="mas info: vodafone one ilimitada"
                          data-analytics-id="-3827639503671"
                        >
                          Más info
                        </a>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>
          <div
            class="ws10-o-layout__item ws10-u--1/2@tablet ws10-u--1/3@desktop"
          >
            <!-- Vodafone One ilimitada Maxi -->
            <div
              class="ws10-c-card ws10-c-card-rate ws10-c-card--no-shadow"
              data-ws10-js="card-rate"
            >
              <div class="ws10-c-card-rate__w-rates">
                <div class="ws10-c-card-rate__a-rate">
                  <div class="vfms-badge--container ws10-u--mb4x">
                    <b
                      class="ws10-c-badge-text ws10-c-badge-text--turquoise vfms-badge1 ws10-u--mr1x"
                    >50% dto.</b>
                    <b
                      class="ws10-c-badge-text ws10-c-badge-text--lemon-yellow"
                      data-js-vf="_badgeMaxi"
                    >+ Fibra por menos</b>
                  </div>
                  <ul
                    class="ws10-c-card-rate__product-info"
                    data-vfes-seo-empathy-promoperiod="50% dto. 3 meses Permanencia 1 año"
                    data-vfes-seo-empathy-promoprice="36,99"
                    data-vfes-seo-empathy-price="71,99"
                  >
                    <li class="ws10-c-card-rate__product-info-item">
                      <svg
                        class="ws10-c-card-rate__product-icon ws10-u-color--black"
                        xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink"
                      >
                        <use xlink:href="#icon-mobile"></use>
                      </svg>
                      <div class="ws10-c-card-rate__product">
                        <p class="ws10-c-card-rate__product-title">
                          Datos y minutos ilimitados
                        </p>
                        <p
                          class="ws10-c-card-rate__product-txt ws10-c-card-rate__product-txt--primary"
                        >
                          Velocidad alta
                          <svg
                            class="ws10-c-card-rate__product-txt-icon"
                            xmlns="http://www.w3.org/2000/svg"
                            xmlns:xlink="http://www.w3.org/1999/xlink"
                          >
                            <use xlink:href="#icon-thunder-2grey"></use>
                          </svg>
                        </p>
                      </div>
                    </li>
                    <li class="ws10-c-card-rate__product-info-item">
                      <svg
                        class="ws10-c-card-rate__product-icon ws10-u-color--black"
                        xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink"
                      >
                        <use xlink:href="#icon-sim"></use>
                      </svg>
                      <div class="ws10-c-card-rate__product">
                        <p class="ws10-c-card-rate__product-title">
                          4GB y 200 minutos GRATIS
                        </p>
                        <p class="ws10-c-card-rate__product-txt">
                          segunda línea GRATIS 1 año
                        </p>
                      </div>
                    </li>
                    <li
                      class="ws10-c-card-rate__product-info-item ws10-flex ws10-flex ws10-flex__direction--column ws10-flex__align-items--start"
                    >
                      <div
                        class="ws10-u--1/1 ws10-flex ws10-flex__align-items--center"
                      >
                        <svg
                          class="ws10-c-card-rate__product-icon ws10-u-color--black"
                          xmlns="http://www.w3.org/2000/svg"
                          xmlns:xlink="http://www.w3.org/1999/xlink"
                        >
                          <use xlink:href="#icon-broadband-or-wifi"></use>
                        </svg>
                        <div class="ws10-c-card-rate__product">
                          <p class="ws10-u--mb0 vf-rate--fibra">
                            <span
                              class="ws10-c-card-rate__product-title ws10-u--pr1x"
                            >Fibra Óptica</span>
                            <span class="ws10-c-card-rate__product-txt">+
                              llamadas ilimitadas en fijo</span>
                          </p>
                        </div>
                      </div>
                      <form
                        action=""
                        method="get"
                        class="ws10-u--1/1 vf-form ws10-c-card-rate__form ws10-c-form ws10-u--mt0 ws10-u--ml16x"
                        data-js-vf="_showOrHideSticky"
                      >
                        <fieldset class="ws10-u--pb0 ws10-u--mb1x">
                          <div class="ws10-c-card-rate__w-form-select">
                            <div
                              class="vf-form__box ws10-c-form__box"
                              data-analytics-category="cta"
                              data-analytics-element="modulo tarifa:one ilimitada maxi"
                              data-analytics-context="300mbps"
                              data-analytics-id="-3827682708071"
                            >
                              <input
                                type="radio"
                                name="rate-1-card-rate-maxi"
                                id="rate-1-card-rate-maxi-option-1"
                                class="ws10-c-form__radio"
                              />
                              <label
                                for="rate-1-card-rate-maxi-option-1"
                                class="ws10-c-card-rate__form-label ws10-c-form__label"
                                data-js-vf="_buttonVelocityMaxi"
                              >
                                600Mbps
                              </label>
                            </div>
                            <div
                              class="vf-form__box ws10-c-form__box"
                              data-analytics-category="cta"
                              data-analytics-element="modulo tarifa:one ilimitada maxi"
                              data-analytics-context="600mbps"
                              data-analytics-id="-3824272708071"
                            >
                              <input
                                type="radio"
                                name="rate-1-card-rate-maxi"
                                id="rate-1-card-rate-maxi-option-2"
                                class="ws10-c-form__radio"
                                checked
                              />
                              <label
                                for="rate-1-card-rate-maxi-option-2"
                                class="ws10-c-card-rate__form-label ws10-c-form__label vf-active vf-bold"
                                data-js-vf="_buttonVelocityMaxi"
                              >
                                1Gbps
                              </label>
                            </div>
                          </div>
                        </fieldset>
                      </form>

                    </li>
                    

                  </ul>

                  <div
                    class="ws10-c-card-rate__w-cta vf-block ws10-u--hidden"
                    data-js-vf="_priceMaxi"
                  >
                    <div class="ws10-c-card-rate__w-offers vf-block">
                      <div class="ws10-c-card-rate__offer" id="rate-2-offer-1">
                        <p
                          class="ws10-c-card-rate__dto ws10-c-card-rate__dto--price"
                        >
                          <strong>A precio de 300Mbps + 50% dto. 3 meses + después 15% dto. durante 2 años</strong>
                        </p>
						<p class="ws10-c-card-rate__dto ws10-c-card-rate__dto--label">
                                                            Permanencia 1 año
                                                        </p>
                      </div>
                    </div>
                    <div
                      class="ws10-flex ws10-flex__justify--between ws10-flex__align-items--end"
                    >
                      <p class="ws10-c-card-rate__price ws10-u-color--black">
                        28,49€<sub>/mes</sub>
                      </p>
                      <a
                        href="https://www.vodafone.es/c/particulares/es/colectivos-vodafone/vodafone-one/paquete-one-4/ "
                        target="_self"
                        name="Más info"
                        title="Más info"
                        class="ws10-c-button ws10-c-button--auto vf-button--mobile"
                        data-analytics-category="cta"
                        data-analytics-element="card de tarifa"
                        data-analytics-context="mas info: vodafone one ilimitada maxi"
                        data-analytics-id="-3827639708071"
                      >
                        Más info
                      </a>
                    </div>
                  </div>
                  <div data-js-vf="_priceMaxi">
                    <div class="ws10-c-card-rate__w-cta vf-block">
                      <div class="ws10-c-card-rate__w-offers vf-block">
                        <div
                          class="ws10-c-card-rate__offer"
                          id="rate-2-offer-1"
                        >
                          <p
                            class="ws10-c-card-rate__dto ws10-c-card-rate__dto--price"
                          >
                            <strong>A precio de 600Mbps + 50% dto. 3 meses + después 15% dto. durante 2 años.</strong>
                          </p>
						  <p class="ws10-c-card-rate__dto ws10-c-card-rate__dto--label">
                                                            Permanencia 1 año
                                                        </p>
                        </div>
                      </div>
                      <div
                        class="ws10-flex ws10-flex__justify--between ws10-flex__align-items--end"
                      >
                        <p class="ws10-c-card-rate__price ws10-u-color--black">
                          30,49€<sub>/mes</sub>
                        </p>
                        <a
                          href="https://www.vodafone.es/c/particulares/es/colectivos-vodafone/vodafone-one/paquete-one-4/ "
                          target="_self"
                          name="Más info"
                          title="Más info"
                          class="ws10-c-button ws10-c-button--auto vf-button--mobile"
                          data-analytics-category="cta"
                          data-analytics-element="card de tarifa"
                          data-analytics-context="mas info: vodafone one ilimitada maxi"
                          data-analytics-id="-3827639703071"
                        >
                          Más info
                        </a>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>
          <div
            class="ws10-o-layout__item ws10-u--1/2@tablet ws10-u--1/3@desktop"
          >
            <!-- Vodafone One ilimitada Total -->
            <div
              class="ws10-c-card ws10-c-card-rate ws10-c-card--no-shadow"
              data-ws10-js="card-rate"
            >
              <div class="ws10-c-card-rate__w-rates">
                <div class="ws10-c-card-rate__a-rate">
                  <div class="vfms-badge--container ws10-u--mb4x">
                    <b
                      class="ws10-c-badge-text ws10-c-badge-text--turquoise vfms-badge1 ws10-u--mr1x"
                    >50% dto.</b>
                    <b
                      class="ws10-c-badge-text ws10-c-badge-text--lemon-yellow"
                      data-js-vf="_badgeTotal"
                    >+ Fibra por menos</b>
                  </div>
                  <ul
                    class="ws10-c-card-rate__product-info"
                    data-vfes-seo-empathy-promoperiod="50% dto. 3 meses Permanencia 1 año"
                    data-vfes-seo-empathy-promoprice="34,99"
                    data-vfes-seo-empathy-price="69,99"
                  >
                    <li class="ws10-c-card-rate__product-info-item">
                      <svg
                        class="ws10-c-card-rate__product-icon ws10-u-color--black"
                        xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink"
                      >
                        <use xlink:href="#icon-mobile"></use>
                      </svg>
                      <div class="ws10-c-card-rate__product">
                        <p class="ws10-c-card-rate__product-title">
                          Datos y minutos ilimitados
                        </p>
                        <p
                          class="ws10-c-card-rate__product-txt ws10-c-card-rate__product-txt--primary"
                        >
                          Velocidad máxima 5G
                          <svg
                            class="ws10-c-card-rate__product-txt-icon"
                            xmlns="http://www.w3.org/2000/svg"
                            xmlns:xlink="http://www.w3.org/1999/xlink"
                          >
                            <use xlink:href="#icon-thunder-3"></use>
                          </svg>
                        </p>
                      </div>
                    </li>
                    <li class="ws10-c-card-rate__product-info-item">
                      <svg
                        class="ws10-c-card-rate__product-icon ws10-u-color--black"
                        xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink"
                      >
                        <use xlink:href="#icon-sim"></use>
                      </svg>
                      <div class="ws10-c-card-rate__product">
                        <p class="ws10-c-card-rate__product-title">
                          4GB y 200 minutos GRATIS
                        </p>
                        <p class="ws10-c-card-rate__product-txt">
                          segunda línea GRATIS 1 año
                        </p>
                      </div>
                    </li>
                    <li
                      class="ws10-c-card-rate__product-info-item ws10-flex ws10-flex ws10-flex__direction--column ws10-flex__align-items--start"
                    >
                      <div
                        class="ws10-u--1/1 ws10-flex ws10-flex__align-items--center"
                      >
                        <svg
                          class="ws10-c-card-rate__product-icon ws10-u-color--black"
                          xmlns="http://www.w3.org/2000/svg"
                          xmlns:xlink="http://www.w3.org/1999/xlink"
                        >
                          <use xlink:href="#icon-broadband-or-wifi"></use>
                        </svg>
                        <div class="ws10-c-card-rate__product">
                          <p class="vf-rate--fibra ws10-u--mb0">
                            <span
                              class="ws10-c-card-rate__product-title ws10-u--pr1x"
                            >Fibra Óptica</span>
                            <span class="ws10-c-card-rate__product-txt">+
                              llamadas ilimitadas en fijo</span>
                          </p>
                        </div>
                      </div>
                      <form
                        action=""
                        method="get"
                        class="ws10-u--1/1 vf-form ws10-c-card-rate__form ws10-c-form ws10-u--mt0 ws10-u--ml16x"
                        data-js-vf="_showOrHideSticky"
                      >
                        <fieldset class="ws10-u--pb0 ws10-u--mb1x">
                          <div class="ws10-c-card-rate__w-form-select">
                            <div
                              class="vf-form__box ws10-c-form__box"
                              data-analytics-category="cta"
                              data-analytics-element="modulo tarifa:one ilimitada total"
                              data-analytics-context="600mbps"
                              data-analytics-id="-6727639708071"
                            >
                              <input
                                type="radio"
                                name="rate-1-card-rate"
                                id="rate-1-card-rate-option-1"
                                class="ws10-c-form__radio"
                              />
                              <label
                                for="rate-1-card-rate-option-1"
                                class="ws10-c-card-rate__form-label ws10-c-form__label"
                                data-js-vf="_buttonVelocity"
                              >
                                300Mbps
                              </label>
                            </div>
                            <div
                              class="vf-form__box ws10-c-form__box"
                              data-analytics-category="cta"
                              data-analytics-element="modulo tarifa:one ilimitada total"
                              data-analytics-context="1gmbps"
                              data-analytics-id="-6727639468071"
                            >
                              <input
                                type="radio"
                                name="rate-1-card-rate"
                                id="rate-1-card-rate-option-2"
                                class="ws10-c-form__radio"
                                checked
                              />
                              <label
                                for="rate-1-card-rate-option-2"
                                class="ws10-c-card-rate__form-label ws10-c-form__label vf-active vf-bold"
                                data-js-vf="_buttonVelocity"
                              >
                                600Mbps
                              </label>
                            </div>
                          </div>
                        </fieldset>
                      </form>

                    </li>
                    <li class="ws10-c-card-rate__product-info-item">
                      <svg
                        class="ws10-c-card-rate__product-icon ws10-u-color--black"
                        xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink"
                      >
                        <use xlink:href="#icon-tv"></use>
                      </svg>
                      <div class="ws10-c-card-rate__product">
                        <p class="ws10-c-card-rate__product-title">
                          Pack TV Seriefans GRATIS 1 año
                        </p>
                        <p class="ws10-c-card-rate__product-txt">
                          con HBO España y 60 canales más
                        </p>
                      </div>
                    </li>
                  </ul>
                  <div
                    class="ws10-c-card-rate__w-cta vf-block ws10-u--hidden"
                    data-js-vf="_priceTotal"
                  >
                    <div class="ws10-c-card-rate__w-offers vf-block">
                      <div class="ws10-c-card-rate__offer" id="rate-1-offer-1">

                        <p
                            class="ws10-c-card-rate__dto ws10-c-card-rate__dto--price"
                          >
                            <strong>50% dto. 3 meses + después 15% dto. durante 2 años</strong>
                          </p>
                        
						<p class="ws10-c-card-rate__dto ws10-c-card-rate__dto--label">
                                                            Permanencia 1 año
                                                        </p>
                      </div>
                    </div>
                    <div
                      class="ws10-flex ws10-flex__justify--between ws10-flex__align-items--end"
                    >
                      <p class="ws10-c-card-rate__price ws10-u-color--black">
                        34,99€<sub>/mes</sub>
                      </p>
                      <a
                        href="https://www.vodafone.es/c/particulares/es/colectivos-vodafone/vodafone-one/paquete-one-5/"
                        target="_self"
                        name="Más info"
                        title="Más info"
                        class="ws10-c-button ws10-c-button--auto vf-button--mobile"
                        data-analytics-category="cta"
                        data-analytics-element="card de tarifa"
                        data-analytics-context="mas info: vodafone one ilimitada total"
                        data-analytics-id="-8477551683805"
                      >
                        Más info
                      </a>
                    </div>
                  </div>
                  <div data-js-vf="_priceTotal">
                    <div class="ws10-c-card-rate__w-cta vf-block">
                      <div class="ws10-c-card-rate__w-offers vf-block">
                        <div
                          class="ws10-c-card-rate__offer"
                          id="rate-1-offer-2"
                        >
                         <p
                          class="ws10-c-card-rate__dto ws10-c-card-rate__dto--price"
                        >
                          <strong>A precio de 300Mbps + 50% dto. 3 meses + después 15% dto. durante 2 años</strong>
                        </p>
						  <p class="ws10-c-card-rate__dto ws10-c-card-rate__dto--label">
                                                            Permanencia 1 año
                                                        </p>
                        </div>
                      </div>
                      <div
                        class="ws10-flex ws10-flex__justify--between ws10-flex__align-items--end"
                      >
                        <p class="ws10-c-card-rate__price ws10-u-color--black">
                          34,99€<sub>/mes</sub>
                        </p>
                        <a
                          href="https://www.vodafone.es/c/particulares/es/colectivos-vodafone/vodafone-one/paquete-one-5/"
                          target="_self"
                          name="Más info"
                          title="Más info"
                          class="ws10-c-button ws10-c-button--auto vf-button--mobile"
                          data-analytics-category="cta"
                          data-analytics-element="card de tarifa"
                          data-analytics-context="mas info: vodafone one ilimitada total"
                          data-analytics-id="-1168969983878"
                        >
                          Más info
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>



    <!----tarifa móvil--->
    <div id="panel-2" role="tabpanel" class="ws10-o-tabs__panel" hidden>
      <div class="vf-rates">
        <div
          class="vf-rates__container ws10-o-layout ws10-flex__align-items--end"
        >
          <div
            class="ws10-o-layout__item ws10-u--1/2@tablet ws10-u--1/3@desktop"
          >
            <!-- Tarifa Móvil Esencial-->
            <div
              class="ws10-c-card ws10-c-card-rate ws10-c-card--no-shadow"
              data-ws10-js="card-rate"
            >
              <div class="ws10-c-card-rate__w-rates">
                <div class="ws10-c-card-rate__a-rate">
                  <ul class="ws10-c-card-rate__product-info">
                    <li class="ws10-c-card-rate__product-info-item">
                      <svg
                        class="ws10-c-card-rate__product-icon"
                        xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink"
                      >
                        <use xlink:href="#icon-mobile"></use>
                      </svg>
                      <div class="ws10-c-card-rate__product">
                        <p class="ws10-c-card-rate__product-title">
                          Datos y minutos ilimitados
                        </p>
                        <p
                          class="ws10-c-card-rate__product-txt ws10-c-card-rate__product-txt--primary"
                        >
                          Velocidad media
                          <svg
                            class="ws10-c-card-rate__product-txt-icon"
                            xmlns="http://www.w3.org/2000/svg"
                            xmlns:xlink="http://www.w3.org/1999/xlink"
                          >
                            <use xlink:href="#icon-thunder-1grey"></use>
                          </svg>
                        </p>
                      </div>
                    </li>
                    <li class="ws10-c-card-rate__product-info-item">
                      <svg
                        class="ws10-c-card-rate__product-icon"
                        xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink"
                      >
                        <use xlink:href="#icon-5g_esp"></use>
                      </svg>
                      <div class="ws10-c-card-rate__product">
                        <p class="ws10-c-card-rate__product-title">
                          Red 5G Vodafone
                        </p>
                        <p class="ws10-c-card-rate__product-txt">
                          Redes sociales y música en streaming
                        </p>
                      </div>
                    </li>
                  </ul>
                  <div class="ws10-c-card-rate__w-cta vf-block">
                    {{! SIN OFERTA }}
                    {{!-- <p
                      class="ws10-c-card-rate__dto ws10-c-card-rate__dto--percent"
                    >
                      15% dto. 2 años
                    </p> --}}
                    {{! CON OFERTA }}
                    <p class="ws10-c-card-rate__dto ws10-c-card-rate__dto--percent">
											<strong>50% dto. 3 meses + después 15% dto. 2 años</strong>
										</p> 
                    <div
                      class="ws10-flex ws10-flex__align-items--end ws10-flex__justify--between"
                    >
                      <div class="ws10-c-card-rate__w-offers">
                        <div
                          class="ws10-c-card-rate__offer"
                          id="rate-1-offer-1"
                        >

                          <p
                              class="ws10-c-card-rate__dto ws10-c-card-rate__dto--label"
                          >
                            Sin permanencia
                          </p>
                          <p
                            class="ws10-c-card-rate__dto ws10-c-card-rate__dto--price"
                          >
                            <del>34,99€/mes</del>
                          </p>
                          <p
                            class="ws10-c-card-rate__price ws10-u-color--black"
                          >
                            17,49€<sub>/mes</sub>
                          </p>
                        </div>
                      </div>
                      <div>
                        <a
                          href="https://www.vodafone.es/c/particulares/es/colectivos-vodafone/tarifas-contrato/tarifa-3/"
                          target="_self"
                          name="Más info"
                          title="Más info"
                          class="ws10-c-button ws10-c-button--auto"
                          data-analytics-category="cta"
                          data-analytics-element="card de tarifa"
                          data-analytics-context="mas info:tarifa movil ilimitada esencial"
                          data-analytics-id="-3827639209871"
                        >
                          Más info
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div
            class="ws10-o-layout__item ws10-u--1/2@tablet ws10-u--1/3@desktop"
          >
            <!-- Tarifa Móvil ilimitada Avanzada-->
            <div
              class="ws10-c-card ws10-c-card-rate ws10-c-card--no-shadow"
              data-ws10-js="card-rate"
            >
              <div class="ws10-c-card-rate__w-rates">
                <div class="ws10-c-card-rate__a-rate">
                  <ul class="ws10-c-card-rate__product-info">
                    <li class="ws10-c-card-rate__product-info-item">
                      <svg
                        class="ws10-c-card-rate__product-icon"
                        xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink"
                      >
                        <use xlink:href="#icon-mobile"></use>
                      </svg>
                      <div class="ws10-c-card-rate__product">
                        <p class="ws10-c-card-rate__product-title">
                          Datos y minutos ilimitados
                        </p>
                        <p
                          class="ws10-c-card-rate__product-txt ws10-c-card-rate__product-txt--primary"
                        >
                          Velocidad alta
                          <svg
                            class="ws10-c-card-rate__product-txt-icon"
                            xmlns="http://www.w3.org/2000/svg"
                            xmlns:xlink="http://www.w3.org/1999/xlink"
                          >
                            <use xlink:href="#icon-thunder-2grey"></use>
                          </svg>
                        </p>
                      </div>
                    </li>
                    <li class="ws10-c-card-rate__product-info-item">
                      <svg
                        class="ws10-c-card-rate__product-icon"
                        xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink"
                      >
                        <use xlink:href="#icon-5g_esp"></use>
                      </svg>
                      <div class="ws10-c-card-rate__product">
                        <p class="ws10-c-card-rate__product-title">
                          Red 5G Vodafone
                        </p>
                        <p class="ws10-c-card-rate__product-txt">
                          Música y vídeos 4K en streaming
                        </p>
                      </div>
                    </li>
                  </ul>
                  <div class="ws10-c-card-rate__w-cta vf-block">
                    {{! SIN OFERTA }}
                    {{!-- <p
                      class="ws10-c-card-rate__dto ws10-c-card-rate__dto--percent"
                    >
                      15% dto. 2 años
                    </p> --}}
                    {{! CON OFERTA }}
                    <p class="ws10-c-card-rate__dto ws10-c-card-rate__dto--percent">
											50% dto. 3 meses + después 15% dto. 2 años
										</p> 
                    <div
                      class="ws10-flex ws10-flex__align-items--end ws10-flex__justify--between"
                    >
                      <div class="ws10-c-card-rate__w-offers">
                        <div
                          class="ws10-c-card-rate__offer"
                          id="rate-1-offer-1"
                        >

                          <p
                          class="ws10-c-card-rate__dto ws10-c-card-rate__dto--label"
                        >
                          Sin permanencia
                        </p>
                          <p
                            class="ws10-c-card-rate__dto ws10-c-card-rate__dto--price"
                          >
                            <del>38,99€/mes</del>
                          </p>
                          <p class="ws10-c-card-rate__price">
                            19,49€<sub>/mes</sub>
                          </p>
                        </div>
                      </div>
                      <div>
                        <a
                          href="https://www.vodafone.es/c/particulares/es/colectivos-vodafone/tarifas-contrato/tarifa-4/"
                          target="_self"
                          name="Más info"
                          title="Más info"
                          class="ws10-c-button ws10-c-button--auto"
                          data-analytics-category="cta"
                          data-analytics-element="card de tarifa"
                          data-analytics-context="mas info:tarifa movil ilimitada avanzada"
                          data-analytics-id="7498449761435"
                        >
                          Más info
                        </a>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>
          <div
            class="ws10-o-layout__item ws10-u--1/2@tablet ws10-u--1/3@desktop"
          >
            <!-- Tarifa Móvil ilimitada Plus -->
            <div
              class="ws10-c-card ws10-c-card-rate ws10-c-card--no-shadow"
              data-ws10-js="card-rate"
            >
              <div class="ws10-c-card-rate__w-rates">
                <div class="ws10-c-card-rate__a-rate">
                  <ul class="ws10-c-card-rate__product-info">
                    <li class="ws10-c-card-rate__product-info-item">
                      <svg
                        class="ws10-c-card-rate__product-icon"
                        xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink"
                      >
                        <use xlink:href="#icon-mobile"></use>
                      </svg>
                      <div class="ws10-c-card-rate__product">
                        <p class="ws10-c-card-rate__product-title">
                          Datos y minutos ilimitados
                        </p>
                        <p
                          class="ws10-c-card-rate__product-txt ws10-c-card-rate__product-txt--primary"
                        >
                          Velocidad máxima 5G
                          <svg
                            class="ws10-c-card-rate__product-txt-icon"
                            xmlns="http://www.w3.org/2000/svg"
                            xmlns:xlink="http://www.w3.org/1999/xlink"
                          >
                            <use xlink:href="#icon-thunder-3"></use>
                          </svg>
                        </p>
                      </div>
                    </li>
                    <li class="ws10-c-card-rate__product-info-item">
                      <svg
                        class="ws10-c-card-rate__product-icon"
                        xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink"
                      >
                        <use xlink:href="#icon-tv"></use>
                      </svg>
                      <div class="ws10-c-card-rate__product">
                        <p class="ws10-c-card-rate__product-title">
                          Pack TV Seriefans GRATIS 1 año
                        </p>
                        <p class="ws10-c-card-rate__product-txt">
                          Incluye HBO España y 60 canales más
                        </p>
                      </div>
                    </li>
                    <li class="ws10-c-card-rate__product-info-item">
                      <svg
                        class="ws10-c-card-rate__product-icon"
                        xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink"
                      >
                        <use xlink:href="#icon-5g_esp"></use>
                      </svg>
                      <div class="ws10-c-card-rate__product">
                        <p class="ws10-c-card-rate__product-title">
                          Red 5G Vodafone
                        </p>
                        <p class="ws10-c-card-rate__product-txt">
                          Videojuegos online y archivos de gran tamaño.
                        </p>
                      </div>
                    </li>
                  </ul>
                  <div class="ws10-c-card-rate__w-cta vf-block">
                    {{! SIN OFERTA }}
                    {{!-- <p
                      class="ws10-c-card-rate__dto ws10-c-card-rate__dto--percent"
                    >
                      15% dto. 2 años
                    </p> --}}
                    {{! CON OFERTA }}
                    <p class="ws10-c-card-rate__dto ws10-c-card-rate__dto--percent">
											50% dto. 3 meses + después 15% dto. 2 años
										</p>
                    <div
                      class="ws10-flex ws10-flex__align-items--end ws10-flex__justify--between"
                    >
                      <div class="ws10-c-card-rate__w-offers">
                        <div
                          class="ws10-c-card-rate__offer"
                          id="rate-1-offer-1"
                        >

                          <p
                          class="ws10-c-card-rate__dto ws10-c-card-rate__dto--label"
                        >
                          Sin permanencia
                        </p>
                          <p
                            class="ws10-c-card-rate__dto ws10-c-card-rate__dto--price"
                          >
                            <del>47,99€/mes</del>
                          </p>
                          <p class="ws10-c-card-rate__price">
                            23,99€<sub>/mes</sub>
                          </p>
                        </div>
                      </div>
                      <div>
                        <a
                          href="https://www.vodafone.es/c/particulares/es/colectivos-vodafone/tarifas-contrato/tarifa-5/"
                          target="_self"
                          name="Más info"
                          title="Más info"
                          class="ws10-c-button ws10-c-button--auto"
                          data-analytics-category="cta"
                          data-analytics-element="card de tarifa"
                          data-analytics-context="mas info: tarifa movil ilimitada plus"
                          data-analytics-id="3827639709071"
                        >
                          Más info
                        </a>
                      </div>
                    </div>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="ws10-align--center">
          <h3 class="ws10-u-heading--3-lt">Si no quieres datos ilimitados</h3>
          <p class="ws10-u-heading--4"><strong>Descubre nuestra tarifa básica</strong>
          </p>
          <div
            class="ws10-o-layout__item ws10-u--1/2@tablet ws10-u--1/3@desktop"
          >
            <!-- Tarifa lite-->
            <div
              class="ws10-c-card ws10-c-card-rate ws10-c-card--no-shadow"
              data-ws10-js="card-rate"
            >
              <div class="ws10-c-card-rate__w-rates ws10-align--left">
                <div class="ws10-c-card-rate__a-rate">
                  <ul class="ws10-c-card-rate__product-info">
                    <li class="ws10-c-card-rate__product-info-item">
                      <svg
                        class="ws10-c-card-rate__product-icon"
                        xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink"
                      >
                        <use xlink:href="#icon-mobile"></use>
                      </svg>
                      <div class="ws10-c-card-rate__product">
                        <p class="ws10-c-card-rate__product-title">
                          4GB y 200 minutos
                        </p>
                        <p class="ws10-c-card-rate__product-txt">
                          + SMS ilimitados
                        </p>
                      </div>
                    </li>
                    <li class="ws10-c-card-rate__product-info-item">
                      <svg
                        class="ws10-c-card-rate__product-icon"
                        xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink"
                      >
                        <use xlink:href="#icon-5g_esp"></use>
                      </svg>
                      <div class="ws10-c-card-rate__product">
                        <p class="ws10-c-card-rate__product-title">
                          Red 5G Vodafone
                        </p>
                        <p class="ws10-c-card-rate__product-txt">
                          Aplicaciones de chat y correo electrónico
                        </p>
                      </div>
                    </li>
                  </ul>
                  <div class="ws10-c-card-rate__w-cta">
                    <div class="ws10-c-card-rate__w-offers">
                      <div class="ws10-c-card-rate__offer" id="rate-1-offer-1">
                        <p
                          class="ws10-c-card-rate__dto ws10-c-card-rate__dto--percent"
                        >
                          15% dto. 2 años
                        </p>
                        <p
                          class="ws10-c-card-rate__dto ws10-c-card-rate__dto--label"
                        >
                          Sin permanencia
                        </p>
                        <p
                          class="ws10-c-card-rate__dto ws10-c-card-rate__dto--price"
                        >
                          <del>19,99€/mes</del>
                        </p>
                        <p class="ws10-c-card-rate__price">
                          16,99€<sub>/mes</sub>
                        </p>
                      </div>
                    </div>
                    <a
                      data-ws10-button-id="1500091306173"
                      href="https://www.vodafone.es/c/particulares/es/colectivos-vodafone/tarifas-contrato/tarifa-1/"
                      title=""
                      data-analytics-id="-1501093306173"
                      class="ws10-c-button ws10-c-button--auto ws10-c-button--primary ws10-display--block"
                      data-analytics-category="cta"
                      data-analytics-element="card de tarifa"
                      data-analytics-context="mas info: tarifa movil lite"
                    > Más info </a>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <!----tarifa familiar--->
    <div id="panel-3" role="tabpanel" class="ws10-o-tabs__panel" hidden>
      <div
        class="ws10-c-carousel ws10-c-carousel--secondary ws10-c-carousel--align-bottom ws10-c-carousel--secondary-left"
        data-ws10-js="carousel"
        data-config='{"responsive":{"0":{"breakpoint":0,"elements":1},"1":{"breakpoint":640,"elements":2},"2":{"breakpoint":970,"elements":3}},"build":{"arrows":true,"bullets":true,"clickable_bullets":true}}'
      >
        <ul class="ws10-c-carousel__list js-carousel-list" id="idUl">
          {{! Hogar ilimitable 2.0 }}
          <li class="ws10-c-carousel__list-element js-carousel-list-element">
            <div>
              <div
                class="ws10-c-card ws10-c-card-rate ws10-c-card--no-shadow"
                data-ws10-js="card-rate"
              >
                <div class="ws10-c-card-rate__w-rates">
                  <div class="ws10-c-card-rate__a-rate">
                    <h4 class="ws10-u-heading--4-lt">
                      Hogar ilimitable 2.0
                    </h4>
                    <p>Tu hogar
                      <strong>conectado</strong>
                      para disfrutar de los mejores contenidos
                      <strong>con la mayor seguridad</strong></p>
                    <div class="ws10-u-color--bg-aluminium ws10-u--p4x">
                      <ul role="list" class="ws10-c-list-icon">
                        <li role="option" class="ws10-c-list-icon__item">
                          <svg
                            class="ws10-c-list-icon__icon"
                            xmlns:xlink="http://www.w3.org/1999/xlink"
                            xmlns="http://www.w3.org/2000/svg"
                          >
                            <title> titulo icono </title>
                            <use
                              class="icon"
                              xlink:href="#icon-tick-or-solved"
                            ></use>
                          </svg>
                          <p class="ws10-c-list-icon__text"><strong>2 líneas</strong>
                            móviles con
                            <strong>llamadas y datos ilimitados</strong>
                            a máxima velocidad en la red 5G</p>
                        </li>
                        <li role="option" class="ws10-c-list-icon__item">
                          <svg
                            class="ws10-c-list-icon__icon"
                            xmlns:xlink="http://www.w3.org/1999/xlink"
                            xmlns="http://www.w3.org/2000/svg"
                          >
                            <title> titulo icono </title>
                            <use
                              class="icon"
                              xlink:href="#icon-tick-or-solved"
                            ></use>
                          </svg>
                          <p class="ws10-c-list-icon__text"><strong
                            >600Mbps</strong>
                            de Fibra Simétrica +
                            <strong>Super WiFi</strong>
                            para una máxima cobertura y calidad de tu red WiFi</p>
                        </li>
                        <li role="option" class="ws10-c-list-icon__item">
                          <svg
                            class="ws10-c-list-icon__icon"
                            xmlns:xlink="http://www.w3.org/1999/xlink"
                            xmlns="http://www.w3.org/2000/svg"
                          >
                            <title> titulo icono </title>
                            <use
                              class="icon"
                              xlink:href="#icon-tick-or-solved"
                            ></use>
                          </svg>
                          <p class="ws10-c-list-icon__text">TV con
                            <strong>+100 canales, HBO España y Amazon Prime</strong>
                            incluidos con decodificador
                            <strong>4K</strong></p>
                        </li>
                        <li role="option" class="ws10-c-list-icon__item">
                          <svg
                            class="ws10-c-list-icon__icon"
                            xmlns:xlink="http://www.w3.org/1999/xlink"
                            xmlns="http://www.w3.org/2000/svg"
                          >
                            <title> titulo icono </title>
                            <use
                              class="icon"
                              xlink:href="#icon-tick-or-solved"
                            ></use>
                          </svg>
                          <p class="ws10-c-list-icon__text">Conecta lo que más
                            quieres con
                            <strong>Secure Net Family</strong></p>
                        </li>
                      </ul>
                    </div>
                    <div class="ws10-u--mt4x">
                      <p
                        class="ws10-c-card-rate__dto ws10-c-card-rate__dto--percent"
                      >
                        50% dto. 3 meses + después 15% dto. 2 años
                      </p>
                    </div>
                    <div class="ws10-c-card-rate__w-cta ws10-u--mt0">
                      <div class="ws10-c-card-rate__w-offers">
                        <div
                          class="ws10-c-card-rate__offer"
                          id="rate-1-offer-1"
                        >
                          <p
                            class="ws10-c-card-rate__dto ws10-c-card-rate__dto--label"
                          >
                            Permanencia 1 año
                          </p>
                          <p
                            class="ws10-c-card-rate__dto ws10-c-card-rate__dto--price"
                          >
                            <del>95€/mes</del>
                          </p>
                          <p class="ws10-c-card-rate__price">
                            47,50€<sub>/mes</sub>
                          </p>
                        </div>
                      </div>
                      <a
                        href="https://www.vodafone.es/c/particulares/es/colectivos-vodafone/hogar-ilimitable/"
                        target="_self"
                        name="Más info"
                        title="Más info"
                        class="ws10-c-button ws10-c-button--auto"
                        data-analytics-category="cta"
                        data-analytics-element="card de tarifa"
                        data-analytics-context="mas info: hogar ilimitable 2.0"
                        data-analytics-id="3827639707871"
                      >
                        Más info
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </li>
          {{! Hogar ilimitable 3.0 }}
          <li class="ws10-c-carousel__list-element js-carousel-list-element">
            <div>
              <div
                class="ws10-c-card ws10-c-card-rate ws10-c-card--no-shadow"
                data-ws10-js="card-rate"
              >
                <div class="ws10-c-card-rate__w-rates">
                  <div class="ws10-c-card-rate__a-rate">
                    <h4 class="ws10-u-heading--4-lt">
                      Hogar ilimitable 3.0
                    </h4>
                    <p>Tu hogar
                      <strong>conectado</strong>
                      para disfrutar de los mejores contenidos
                      <strong>con la mayor seguridad</strong></p>
                    <div class="ws10-u-color--bg-aluminium ws10-u--p4x">
                      <ul role="list" class="ws10-c-list-icon">
                        <li role="option" class="ws10-c-list-icon__item">
                          <svg
                            class="ws10-c-list-icon__icon"
                            xmlns:xlink="http://www.w3.org/1999/xlink"
                            xmlns="http://www.w3.org/2000/svg"
                          >
                            <title> titulo icono </title>
                            <use
                              class="icon"
                              xlink:href="#icon-tick-or-solved"
                            ></use>
                          </svg>
                          <p class="ws10-c-list-icon__text"><strong>3 líneas</strong>
                            móviles con
                            <strong>llamadas y datos ilimitados</strong>
                            a máxima velocidad en la red 5G</p>
                        </li>
                        <li role="option" class="ws10-c-list-icon__item">
                          <svg
                            class="ws10-c-list-icon__icon"
                            xmlns:xlink="http://www.w3.org/1999/xlink"
                            xmlns="http://www.w3.org/2000/svg"
                          >
                            <title> titulo icono </title>
                            <use
                              class="icon"
                              xlink:href="#icon-tick-or-solved"
                            ></use>
                          </svg>
                          <p class="ws10-c-list-icon__text"><strong
                            >600Mbps</strong>
                            de Fibra Simétrica +
                            <strong>Super WiFi</strong>
                            para una máxima cobertura y calidad de tu red WiFi</p>
                        </li>
                        <li role="option" class="ws10-c-list-icon__item">
                          <svg
                            class="ws10-c-list-icon__icon"
                            xmlns:xlink="http://www.w3.org/1999/xlink"
                            xmlns="http://www.w3.org/2000/svg"
                          >
                            <title> titulo icono </title>
                            <use
                              class="icon"
                              xlink:href="#icon-tick-or-solved"
                            ></use>
                          </svg>
                          <p class="ws10-c-list-icon__text">TV con
                            <strong>+100 canales, HBO España y Amazon Prime</strong>
                            incluidos con decodificador
                            <strong>4K</strong></p>
                        </li>
                        <li role="option" class="ws10-c-list-icon__item">
                          <svg
                            class="ws10-c-list-icon__icon"
                            xmlns:xlink="http://www.w3.org/1999/xlink"
                            xmlns="http://www.w3.org/2000/svg"
                          >
                            <title> titulo icono </title>
                            <use
                              class="icon"
                              xlink:href="#icon-tick-or-solved"
                            ></use>
                          </svg>
                          <p class="ws10-c-list-icon__text">Conecta lo que más
                            quieres con
                            <strong>Secure Net Family</strong>
                            y
                            <strong>V-Home Mini</strong></p>
                        </li>
                      </ul>
                    </div>
                    <div class="ws10-u--mt4x">
                      <p
                        class="ws10-c-card-rate__dto ws10-c-card-rate__dto--percent"
                      >
                        50% dto. 3 meses + después 15% dto. 2 años
                      </p>
                    </div>
                    <div class="ws10-c-card-rate__w-cta ws10-u--mt0">
                      <div class="ws10-c-card-rate__w-offers">
                        <div
                          class="ws10-c-card-rate__offer"
                          id="rate-1-offer-1"
                        >
                          <p
                            class="ws10-c-card-rate__dto ws10-c-card-rate__dto--label"
                          >
                            Permanencia 1 año
                          </p>
                          <p
                            class="ws10-c-card-rate__dto ws10-c-card-rate__dto--price"
                          >
                            <del>110€/mes</del>
                          </p>
                          <p class="ws10-c-card-rate__price">
                            55€<sub>/mes</sub>
                          </p>
                        </div>
                      </div>
                      <a
                        href="https://www.vodafone.es/c/particulares/es/colectivos-vodafone/hogar-ilimitable/"
                        target="_self"
                        name="Más info"
                        title="Más info"
                        class="ws10-c-button ws10-c-button--auto"
                        data-analytics-category="cta"
                        data-analytics-element="card de tarifa"
                        data-analytics-context="mas info: hogar ilimitable 3.0"
                        data-analytics-id="-3827099707871"
                      >
                        Más info
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </li>
          {{! Hogar ilimitable 4.0 }}
          <li class="ws10-c-carousel__list-element js-carousel-list-element">
            <div>
              <div
                class="ws10-c-card ws10-c-card-rate ws10-c-card--no-shadow"
                data-ws10-js="card-rate"
              >
                <div class="ws10-c-card-rate__w-rates">
                  <div class="ws10-c-card-rate__a-rate">
                    <h4 class="ws10-u-heading--4-lt">
                      Hogar ilimitable 4.0
                    </h4>
                    <p>Tu hogar
                      <strong>conectado</strong>
                      para disfrutar de los mejores contenidos
                      <strong>con la mayor seguridad</strong></p>
                    <div class="ws10-u-color--bg-aluminium ws10-u--p4x">
                      <ul role="list" class="ws10-c-list-icon">
                        <li role="option" class="ws10-c-list-icon__item">
                          <svg
                            class="ws10-c-list-icon__icon"
                            xmlns:xlink="http://www.w3.org/1999/xlink"
                            xmlns="http://www.w3.org/2000/svg"
                          >
                            <title> titulo icono </title>
                            <use
                              class="icon"
                              xlink:href="#icon-tick-or-solved"
                            ></use>
                          </svg>
                          <p class="ws10-c-list-icon__text"><strong>4 líneas</strong>
                            móviles con
                            <strong>llamadas y datos ilimitados</strong>
                            a máxima velocidad en la red 5G</p>
                        </li>
                        <li role="option" class="ws10-c-list-icon__item">
                          <svg
                            class="ws10-c-list-icon__icon"
                            xmlns:xlink="http://www.w3.org/1999/xlink"
                            xmlns="http://www.w3.org/2000/svg"
                          >
                            <title> titulo icono </title>
                            <use
                              class="icon"
                              xlink:href="#icon-tick-or-solved"
                            ></use>
                          </svg>
                          <p class="ws10-c-list-icon__text"><strong
                            >600Mbps</strong>
                            de Fibra Simétrica +
                            <strong>Super WiFi</strong>
                            para una máxima cobertura y calidad de tu red WiFi</p>
                        </li>
                        <li role="option" class="ws10-c-list-icon__item">
                          <svg
                            class="ws10-c-list-icon__icon"
                            xmlns:xlink="http://www.w3.org/1999/xlink"
                            xmlns="http://www.w3.org/2000/svg"
                          >
                            <title> titulo icono </title>
                            <use
                              class="icon"
                              xlink:href="#icon-tick-or-solved"
                            ></use>
                          </svg>
                          <p class="ws10-c-list-icon__text">TV con
                            <strong>+100 canales, HBO España y Amazon Prime</strong>
                            incluidos con decodificador
                            <strong>4K</strong></p>
                        </li>
                        <li role="option" class="ws10-c-list-icon__item">
                          <svg
                            class="ws10-c-list-icon__icon"
                            xmlns:xlink="http://www.w3.org/1999/xlink"
                            xmlns="http://www.w3.org/2000/svg"
                          >
                            <title> titulo icono </title>
                            <use
                              class="icon"
                              xlink:href="#icon-tick-or-solved"
                            ></use>
                          </svg>
                          <p class="ws10-c-list-icon__text">Conecta lo que más
                            quieres con
                            <strong>Secure Net Family</strong>,
                            <strong>V-Home Mini</strong>
                            y
                            <strong>CarConnect</strong></p>
                        </li>
                      </ul>
                    </div>
                    <div class="ws10-u--mt4x">
                      <p
                        class="ws10-c-card-rate__dto ws10-c-card-rate__dto--percent"
                      >
                        50% dto. 3 meses + después 15% dto. 2 años
                      </p>
                    </div>
                    <div class="ws10-c-card-rate__w-cta ws10-u--mt0">
                      <div class="ws10-c-card-rate__w-offers">
                        <div
                          class="ws10-c-card-rate__offer"
                          id="rate-1-offer-1"
                        >
                          <p
                            class="ws10-c-card-rate__dto ws10-c-card-rate__dto--label"
                          >
                            Permanencia 1 año
                          </p>
                          <p
                            class="ws10-c-card-rate__dto ws10-c-card-rate__dto--price"
                          >
                            <del>125€/mes</del>
                          </p>
                          <p class="ws10-c-card-rate__price">
                            62,50€<sub>/mes</sub>
                          </p>
                        </div>
                      </div>
                      <a
                        href="https://www.vodafone.es/c/particulares/es/colectivos-vodafone/hogar-ilimitable/"
                        target="_self"
                        name="Más info"
                        title="Más info"
                        class="ws10-c-button ws10-c-button--auto"
                        data-analytics-category="cta"
                        data-analytics-element="card de tarifa"
                        data-analytics-context="mas info: hogar ilimitable 4.0"
                        data-analytics-id="3811639707871"
                      >
                        Más info
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>