<link href="css/ws10.css" rel="stylesheet" />
<link href="css/styles.css" rel="stylesheet" data-ws10-microcss />
<script>
utag_data.default_plan = "vodafone one ilimitada avanzada 600Mbps"
utag_data.plans_add2cart = [
    {
        "product_name": "vodafone one ilimitada avanzada 600Mbps",
        "product_category": "movil+fibra",
        "product_variant":"Datos y minutos ilimitados+600Mbps Fibra",
        "promotion_price_name": "50% 6 meses norte one avanzada 600mb",
        "promotion_gift_name": "",
        "product_id": "",
        "product_sale_type": "yes:transactional",

        "product_additional_lines": [
            {
                "product_name": "tarifa movil ilimitada esencial",
                "product variant":"datos ilimitados",
                "product_category": "movil",
                "promotion_price_name": "2 x 1 esencial gratis",
                "promotion_gift_name": "",
                "product_id": "268548230"
            }],
  "product_packs_tv": [{
        "product_name": "pack universal",
        "product_category": "tv",
        "promotion_price_name": "universal gratis",
        "promotion_gift_name": "",
        "product_id": ""
    }]
    },
    {
"product_name": "vodafone one ilimitada avanzada 600Mbps",
        "product_category": "movil+fibra",
        "product_variant":"Datos y minutos ilimitados+600Mbps Fibra",
        "promotion_price_name": "50% 6 meses norte one avanzada 600mb",
        "promotion_gift_name": "",
        "product_id": "",
        "product_sale_type": "yes:transactional",
    }

]

</script>

<div class="vfes-ms-content ws10-u-color--bg-light-grey" id="maxi" style="visibility: hidden;opacity: 0">

  <!-- BANNER & DIV TICKET QUE INYECTA WCS -->
  {{> headerTicket }}

  <!-- CONTENIDO EN 2/3 DE LA PÁGINA -->
  <div class="ws10-o-wrapper">
    <div class="ws10-o-layout">
      <div class="ws10-o-layout__item ws10-u--2/3@desktop ws10-u--3/5@tablet">
        <!-- MÓVIL -->
        {{> mobile }}
        <!-- SEGUNDA LÍNEA GRATIS -->
        {{> secondline }}


        <!--TV UNIVERSAL -->
        {{> tv }}

        <!-- DECO -->
          {{> deco }}
        <!-- FIBRA -->
          {{> fibra }}

        <!-- TAMBIÉN INCLUIDO -->
          {{> also-included }}

        <!-- SIN SORPRESAS -->
        <section class="vf-mobile ws10-u--pt12x">
          <p class="ws10-u-heading--4 ws10-u--mb2x ws10-flex ws10-flex__direction--column">
            <span><strong>Sin sorpresas.</strong></span>
            <span><strong>No escondemos nada</strong></span>
          </p>
          <p>Impuestos y cuota de línea incluidos.</p>
          <p><strong>Permanencia 6 meses</strong></p>
          <p>¿Cuánto voy a pagar?</p>
          <p><strong>Paquete Fibra + Móvil: 30,49€/mes durante 6 meses, después
              61,99€/mes</strong></p>
          <p class="ws10-flex ws10-flex__direction--column">
            <span>Otras promociones:</span>
            <span>Llévate el paquete de Fibra + Móvil al 50% dto. 6 meses</span>
            <span data-js-vf="_portability">Línea adicional: GRATIS durante 1
              año, después con un 50% dto. por solo 17,50€/mes (dto. ya
              aplicado).</span>
            <span>Paquete de TV: GRATIS</span>
            {{! <span>Paquete de TV: GRATIS durante 1 año, después 10€/mes.</span> }}
          </p>

          <!----PRICE-TAB-->

          <div class="ws10-c-price-bar-group ws10-u--mt4x ws10-u--mb4x">
            <div class="ws10-c-price-bar">
              <span class="ws10-c-price-bar__text ws10-u--mb4x">
                Los primeros 6 meses
              </span>
              <span
                class="ws10-c-price-bar__hr ws10-c-price-bar__hr--start ws10-c-price-bar__hr--separator-end ws10-c-price-bar__hr--bg-aqua-blue"></span>
              <div
                class="ws10-c-price ws10-c-price--x-small ws10-c-price--default@tablet ws10-c-price--default@desktop">
                <span class="ws10-c-price__amount">30,49</span>
                <span class="ws10-c-price__currency">€</span>
                <sub class="ws10-c-price__recurrence">/mes</sub>
              </div>
            </div>
            <div class="ws10-c-price-bar">
              <span class="ws10-c-price-bar__text ws10-u--mb4x" data-js-vf="_portability">Del mes 7 al mes 12</span>
              <span class="ws10-c-price-bar__text ws10-u--mb4x ws10-u--hidden" data-js-vf="_newNumber">A partir del mes
                7</span>
              <span
                class="ws10-c-price-bar__hr ws10-c-price-bar__hr--none ws10-c-price-bar__hr--bg-lemon-yellow"></span>
              <div
                class="ws10-c-price ws10-c-price--x-small ws10-c-price--default@tablet ws10-c-price--default@desktop">
                <span class="ws10-c-price__amount">61,99</span>
                <span class="ws10-c-price__currency">€</span>
                <sub class="ws10-c-price__recurrence">/mes</sub>
              </div>
            </div>
            <div class="ws10-c-price-bar" data-js-vf="_portability">
              <span class="ws10-c-price-bar__text ws10-u--mb4x">
                A partir del año
              </span>
              <span
                class="ws10-c-price-bar__hr ws10-c-price-bar__hr--end ws10-c-price-bar__hr--separator-start ws10-c-price-bar__hr--bg-dark-grey"></span>
              <div
                class="ws10-c-price ws10-c-price--x-small ws10-c-price--default@tablet ws10-c-price--default@desktop">
                <div data-js-vf="_portability">
                  <span class="ws10-c-price__amount">79,49</span>
                </div>
                <div class="ws10-u--hidden" data-js-vf="_newNumber">
                  <span class="ws10-c-price__amount">71,98</span>
                </div>
                <span class="ws10-c-price__currency">€</span>
                <sub class="ws10-c-price__recurrence">/mes</sub>
              </div>
            </div>
          </div>

          <!------------->
          <p class="ws10-u--mb1x">La instalación del servicio de fibra, salvo
            que sea autoinstalable, tiene un coste para el cliente de 150€.</p>
          <p>Vodafone renuncia al cobro de este coste si el cliente se mantiene
            activo en el servicio durante, al menos, 1 año desde la fecha de
            instalación.</p>
          {{! <p>⚠️ El precio indicado en esta oferta incrementará +3€/mes en la línea móvil principal y +1,5€/mes en
            las líneas adicionales a partir del próximo 15/7</p> }}

          <a class="ws10-c-link-chevron ws10-c-link-chevron--primary" target="_blank"
            href="https://www.vodafone.es/c/particulares/es/productos-y-servicios/vodafone-one/legales/alt/n/"
            data-analytics-element="card addons" data-analytics-context="condiciones legales"
            data-analytics-category="cta" data-analytics-id="-5460257368589">
            Ver condiciones legales
            <span class="ws10-u--hidden-visually"> color #E60000</span>
            <svg class="ws10-c-link-chevron__icon" xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px">
              <title>Flecha derecha</title>
              <use class="icon-v3" xlink:href="#icon-chevron-right"></use>
            </svg>
          </a>

        </section>
        <!-- TIMELINE  -->
        {{> timeLine }}

      </div>
    </div>
  </div>
  <!-- STICKY BOTTOM -->
  <section class="vf-sticky ws10-c-card-rate-sticky ws10-u--hidden" data-js-vf="_stickyRate">
    <div class="ws10-c-card ws10-c-card--no-borders-bottom-radius">

      <div>
        <div class="ws10-c-card-rate-sticky__w-cta" data-js-vf="_portability">
          <div class="ws10-c-card-rate-sticky__offer ws10-flex ws10-flex__direction--column">
            <del class="ws10-c-card-rate-sticky__dto-price">61,99€/mes</del>
            <span class="ws10-c-card-rate-sticky__final-price">
              <span class="ws10-c-card-rate-sticky__final-price-value">30,49€</span>
              <span class="ws10-c-card-rate-sticky__final-price-date">/mes</span>
            </span>
          </div>
          <a href="https://www.vodafone.es/c/tienda-online/particulares/contratacion?id=1285841&tcli=0&tta=1"
            type="submit" name="cta" title="CTA" onmousedown="addtocart(utag_data.plans_add2cart[0])"
            class="ws10-c-button ws10-c-button--auto" data-analytics-element="stiky inferior"
            data-analytics-context="lo quiero" data-analytics-category="cta" data-analytics-id="-4725875160585">
            Lo quiero
          </a>
        </div>
        <div class="ws10-c-card-rate-sticky__w-cta ws10-u--hidden" data-js-vf="_newNumber">
          <div class="ws10-c-card-rate-sticky__offer ws10-flex ws10-flex__direction--column">
            <del class="ws10-c-card-rate-sticky__dto-price">61,99€/mes</del>
            <span class="ws10-c-card-rate-sticky__final-price">
              <span class="ws10-c-card-rate-sticky__final-price-value">30,49€</span>
              <span class="ws10-c-card-rate-sticky__final-price-date">/mes</span>
            </span>
          </div>
          <a href="https://www.vodafone.es/c/tienda-online/particulares/contratacion?id=1285759&tcli=0&tta=1 "
            type="submit" name="cta" title="CTA" class="ws10-c-button ws10-c-button--auto"
            data-analytics-element="stiky inferior" data-analytics-context="lo quiero" data-analytics-category="cta"
            data-analytics-id="-4545656976523" onmousedown="addtocart(utag_data.plans_add2cart[1])">

            Lo quiero
          </a>
        </div>
      </div>
    </div>
  </section>

  <!-- POPUPS -->
{{> popupTv }}

  <!-- TERMINALES-->
  <div class="ws10-c-backdrop js-backdrop" data-ws10-js="backdrop" aria-hidden="true">
    <section id="samsung-galaxy" class="ws10-c-backdrop__item js-backdrop-item" aria-hidden="true" role="dialog"
      aria-modal="true">
      <div class="ws10-c-backdrop__head">
        <button class="ws10-c-backdrop__close js-backdrop-close" aria-hidden="false">
          <svg class="ws10-c-backdrop__close-icon" xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink">
            <title>Close</title>
            <use xlink:href="#icon-close"></use>
          </svg>
        </button>
      </div>
      <div class="ws10-c-backdrop__content js-backdrop-content">
        <p class="ws10-u-heading--3-lt">Samsung Galaxy A20</p>
        <ul>
          <li>Sistema Operativo Android 9</li>
          <li>Procesador Exynos 7884B</li>
          <li>Seguridad con Sensor de huella</li>
          <li>Red Móvil 4G</li>
          <li>WIFI 802.11 b/g/n</li>
          <li>Bluetooth 4.1</li>
          <li>Con GPS y NFC</li>
          <li>Pantalla Tamaño HD+ 5.8¨ y Resolución 720 x 1560</li>
          <li>Cámara Frontal de 8 Mp y Trasera de 13 Mp</li>
          <li>Memoria Interna 32 GB</li>
          <li>Máxima memoria ampliable 512 GB</li>
          <li>RAM de 3 GB</li>
          <li>Batería con capacidad 3000 mAh</li>
          <li>Medidas del dispositivo:
            <ul>
              <li>Peso 140.0 gr</li>
              <li>Alto 147.2 mm</li>
              <li>Ancho 69.5 mm</li>
              <li>Grosor 8.3 mm</li>
            </ul>
          </li>
        </ul>
      </div>
    </section>
  </div>
  <div class="ws10-c-backdrop js-backdrop" data-ws10-js="backdrop" aria-hidden="true">
    <section id="lg-k30" class="ws10-c-backdrop__item js-backdrop-item" aria-hidden="true" role="dialog"
      aria-modal="true">
      <div class="ws10-c-backdrop__head">
        <button class="ws10-c-backdrop__close js-backdrop-close" aria-hidden="false">
          <svg class="ws10-c-backdrop__close-icon" xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink">
            <title>Close</title>
            <use xlink:href="#icon-close"></use>
          </svg>
        </button>
      </div>
      <div class="ws10-c-backdrop__content js-backdrop-content">
        <p class="ws10-u-heading--3-lt">LG K30</p>
        <ul>
          <li>Sistema Operativo Android 9</li>
          <li>Procesador 4x1,4GHz</li>
          <li>Red Móvil 4G</li>
          <li>WIFI 802.11 b/g/n</li>
          <li>Bluetooth 5</li>
          <li>Con GPS y NFC</li>
          <li>Pantalla 5,45” y Resolución 11400 x 720</li>
          <li>Cámara Frontal de 5 Mp y Trasera de 8 Mp</li>
          <li>Memoria Interna 16 GB</li>
          <li>Máxima memoria ampliable 32 GB</li>
          <li>RAM de 2 GB</li>
          <li>Batería con capacidad 3000 mAh</li>
          <li>Medidas del dispositivo:
            <ul>
              <li>Peso 147 gr</li>
              <li>Alto 147 mm</li>
              <li>Ancho 71.5 mm</li>
              <li>Grosor 8.2 mm</li>
            </ul>
          </li>
        </ul>

      </div>
    </section>
  </div>
  <div class="ws10-c-backdrop js-backdrop" data-ws10-js="backdrop" aria-hidden="true">
    <section id="alcatel" class="ws10-c-backdrop__item js-backdrop-item" aria-hidden="true" role="dialog"
      aria-modal="true">
      <div class="ws10-c-backdrop__head">
        <button class="ws10-c-backdrop__close js-backdrop-close" aria-hidden="false">
          <svg class="ws10-c-backdrop__close-icon" xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink">
            <title>Close</title>
            <use xlink:href="#icon-close"></use>
          </svg>
        </button>
      </div>
      <div class="ws10-c-backdrop__content js-backdrop-content">
        <p class="ws10-u-heading--3-lt">Alcatel 3L</p>
        <ul>
          <li>Sistema Operativo Android 10</li>
          <li>Procesador Octa-Core MT6762</li>
          <li>Seguridad Lector de huellas</li>
          <li>Reconocimiento facial</li>
          <li>Red Móvil 4G</li>
          <li>Tamaño 622" y Resolución 1520 x 720px</li>
          <li>Cámara Frontal 8 Mp, Trasera 48 Mp y Extras Triple cámara 48MP +
            5MP + 2MP</li>
          <li>Memoria Interna 64 GB</li>

          <li>RAM 4 GB</li>
          <li>Batería con capacidad 4000 mA</li>
          <li>Medidas del dispositivo:
            <ul>
              <li>Peso 165 gr</li>
              <li>Alto 74.6 mm</li>
              <li>Ancho 158.7 mm</li>
              <li>Grosor 8.45 mm</li>
            </ul>
          </li>
        </ul>
      </div>
    </section>
  </div>

</div>
<script src="js/ws10.js"></script>
<script src="js/main.js"></script>
