<!-- Sección Banner + Ticket flotante -->
<section class="vf-discovery ws10-o-layout__item ws10-u--2/3@desktop ws10-u--1/1@tablet ws10-u--pt6x">
    <h2 class="ws10-u-heading--3"><strong>Descubre las ventajas de V-Home</strong></h2>
    <div class="ws10-o-layout">
        <article class="ws10-c-feature-hifi ws10-o-layout__item ws10-u--1/3@tablet">
            <span class="ws10-c-feature-hifi__background">
                <img class="ws10-c-feature-hifi__icon" src="img/discovery/ic-upload.svg" />
            </span>
            <p class="ws10-c-feature-hifi__title">
                Controla tu hogar desde tu smartphone
            </p>
            <p class="ws10-c-feature-hifi__text">
                Podrás ver lo que ocurre en tu  casa desde el móvil en directo y almacenar videos en la nube, sin gastar datos de tu tarifa.
            </p>
        </article>
        <article class="ws10-c-feature-hifi ws10-o-layout__item ws10-u--1/3@tablet">
            <span class="ws10-c-feature-hifi__background">
                <img class="ws10-c-feature-hifi__icon" src="img/discovery/ic-notification.svg" />
            </span>
            <p class="ws10-c-feature-hifi__title">
                Recibe siempre tus alertas
            </p>
            <p class="ws10-c-feature-hifi__text">
                Configurar reglas de actualización de los dispositivos y recibir avisos inmediatos al móvil.
            </p>
        </article>
        <article class="ws10-c-feature-hifi ws10-o-layout__item ws10-u--1/3@tablet">
            <span class="ws10-c-feature-hifi__background">
                <img class="ws10-c-feature-hifi__icon" src="img/discovery/ic-call.svg" />
            </span>
            <p class="ws10-c-feature-hifi__title">
                Hogar inteligente
            </p>
            <p class="ws10-c-feature-hifi__text">
               Controla las luces, la temperatura y otros dispositivos inteligentes compatibles con V- Home.
            </p>
        </article>
    </div>
</section>