<!-- Sección Banner + Ticket flotante -->
<section class="vf-discovery ws10-o-layout__item ws10-u--2/3@desktop ws10-u--1/1@tablet ws10-u--pt6x">
    <h3 class="ws10-u-heading--4-lt">Servicio V-Home</h3>
    <h4 class="ws10-u-heading--3-lt">Monitoriza y controla lo que ocurre en tu hogar desde tu smartphone</h4>
    <picture>
        <source class="vf-image" srcset="img/features/v-home.webp" type="image/webp">
        <source class="vf-image" srcset="img/features/v-home.jpg" type="image/png">
        <img class="vf-image" src="img/features/v-home.jpg" alt="Safety Starter Kit" >
    </picture>
    <div class="ws10-o-layout">
        <div class="ws10-c-product-detail ws10-o-layout__item ws10-u--1/2@tablet ws10-u--1/2@desktop ws10-u--pt5x">
            <div class="ws10-c-product-detail__icon">
            <svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='44px' height='44px'>
                <title>titulo</title>
                <use class="icon-v3" xlink:href="#icon-notifications-mid"></use>
            </svg>
            </div>
            <p class="ws10-c-product-detail__text">Un nuevo servicio creado y gestionado por Vodafone que envía avisos a tu smartphone si se detecta movimiento inesperado en tu hogar.</p>
        </div>
        <div class="ws10-c-product-detail ws10-o-layout__item ws10-u--1/2@tablet ws10-u--1/2@desktop ws10-u--pt5x">
            <div class="ws10-c-product-detail__icon">
            <svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='44px' height='44px'>
                <title>titulo</title>
                <use class="icon-v3" xlink:href="#icon-landline-or-call-mid"></use>
            </svg>
            </div>
            <p class="ws10-c-product-detail__text">Si no respondes a las notificaciones enviadas, el sistema te realizará una llamada automática para avisarte.</p>
        </div>
        <div class="ws10-c-product-detail ws10-o-layout__item ws10-u--1/2@tablet ws10-u--1/2@desktop ws10-u--pt5x">
            <div class="ws10-c-product-detail__icon">
            <svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='44px' height='44px'>
                <title>titulo</title>
                <use class="icon-v3" xlink:href="#icon-home-mid"></use>
            </svg>
            </div>
            <p class="ws10-c-product-detail__text">Un servicio que permite configurar fácilmente el sistema de monitorización del hogar desde tu smartphone.</p>
        </div>
        <div class="ws10-c-product-detail ws10-o-layout__item ws10-u--1/2@tablet ws10-u--1/2@desktop ws10-u--pt5x">
            <div class="ws10-c-product-detail__icon">
            <svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='44px' height='44px'>
                <title>titulo</title>
                <use class="icon-v3" xlink:href="#icon-blog-mid"></use>
            </svg>
            </div>
            <p class="ws10-c-product-detail__text">V-Home te permite conectar distintos dispositivos como bombillas, enchufes, termostatos, altavoces inteligentes, etc para convertir tu casa en un hogar inteligente.</p>
        </div>
        <div class="ws10-c-product-detail ws10-o-layout__item ws10-u--1/2@tablet ws10-u--1/2@desktop ws10-u--pt5x">
            <div class="ws10-c-product-detail__icon">
            <svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='44px' height='44px'>
                <title>titulo</title>
                <use class="icon-v3" xlink:href="#icon-cloud-upload-mid"></use>
            </svg>
            </div>
            <p class="ws10-c-product-detail__text">Podrás ver tu hogar en directo desde tu smartphone siempre que quieras y almacenar las grabaciones que realiza la cámara hasta 14 días (con un límite máximo de 10GB).</p>
        </div>
        <div class="ws10-c-product-detail ws10-o-layout__item ws10-u--1/2@tablet ws10-u--1/2@desktop ws10-u--pt5x">
            <div class="ws10-c-product-detail__icon">
            <svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='44px' height='44px'>
                <title>titulo</title>
                <use class="icon-v3" xlink:href="#icon-data-mid"></use>
            </svg>
            </div>
            <p class="ws10-c-product-detail__text">Visualiza desde el smartphone lo que está grabando la cámara de V-Home sin que consuma datos de tu tarifa móvil (si eres cliente móvil de Vodafone).</p>
        </div>
    </div>
</section>