<!-- Sección Banner + Ticket flotante -->
<section class="vf-discovery ws10-o-layout__item ws10-u--2/3@desktop ws10-u--1/1@tablet ws10-u--pt6x">
    <h2 class="ws10-u-heading--3"><strong> Descubre más dispositivos compatibles con V-Home</strong></h2>
    <div class="ws10-o-layout ws10-o-layout--vertical-flush">
        <div class="ws10-o-layout__item ws10-u--1/2@tablet ws10-u--1/2@desktop">
            <div class="ws10-c-cards-discovery-standard ws10-c-cards-discovery-standard--conten-left ws10-c-cards-discovery-standard--large vf-card--align">
                <picture class="ws10-c-cards-discovery-standard__image-holder vf-card--image-height">
                    <source srcset="img/iot/detection-kit.webp" type="image/webp">
                    <source srcset="img/iot/detection-kit.jpg" type="image/jpg">
                    <img src="img/iot/detection-kit.jpg" alt="V-Home Detection Kit" class="ws10-c-cards-discovery-standard__image vf-card--image">
                </picture>
                <h3 class="ws10-c-cards-discovery-standard__title">
                    V-Home Detection Kit
                </h3>
                <p class="ws10-c-cards-discovery-standard__text">
                    Recibe avisos cuanto haya algún exceso de humo, fuga de agua o cambio de temperatura en tu hogar.
                </p>
                <div class="ws10-c-cards-discovery-standard__content-bottom ws10-flex__justify--start ws10-flex__direction--row ws10-u--mt6x@desktop">
                    <a class="ws10-c-cards-discovery-standard__content-item ws10-c-link-chevron ws10-c-link-chevron--primary ws10-c-cards-discovery-standard__content-item"
                        href="https://eshop.v.vodafone.com/es/v-home-by-vodafone-detection-kit" data-analytics-category="cta" data-analytics-element="vhome detection kit" data-analytics-context="mas info" data-analytics-id="1500108890064-1465957565569">
                        Más info <span class="ws10-u--hidden-visually"> sobre V-Home Detection Kit</span>
                        <svg class="ws10-c-link-chevron__icon" xmlns='http://www.w3.org/2000/svg'
                            xmlns:xlink='http://www.w3.org/1999/xlink' width='24px' height='24px'>
                            <title>Flecha derecha</title>
                            <use class="icon-v3" xlink:href='#icon-chevron-right'></use>
                        </svg>
                    </a>    
                </div>
            </div> 
        </div>
        <div class="ws10-o-layout__item ws10-u--1/2@tablet ws10-u--1/2@desktop">
            <div class="ws10-c-cards-discovery-standard ws10-c-cards-discovery-standard--conten-left ws10-c-cards-discovery-standard--large vf-card--align ">
                <picture class="ws10-c-cards-discovery-standard__image-holder vf-card--image-height">
                    <source srcset="img/iot/automation-kit.webp" type="image/webp">
                    <source srcset="img/iot/automation-kit.jpg" type="image/jpg">
                    <img src="img/iot/automation-kit.jpg" alt="V-Home Automation Kit" class="ws10-c-cards-discovery-standard__image vf-card--image">
                </picture>
                <h3 class="ws10-c-cards-discovery-standard__title">
                    V-Home Automation Kit
                </h3>
                <p class="ws10-c-cards-discovery-standard__text">
                    Podrás configurar que las luces de tu casa se enciendan automáticamente si se detecta movimiento, aunque no estés cerca.
                </p>
                <div class="ws10-c-cards-discovery-standard__content-bottom ws10-flex__direction--row ws10-flex__justify--start">
                    <a class="ws10-c-cards-discovery-standard__content-item ws10-c-link-chevron ws10-c-link-chevron--primary ws10-c-cards-discovery-standard__content-item"
                        href="https://eshop.v.vodafone.com/es/v-home-by-vodafone-automation-kit" data-analytics-category="cta" data-analytics-element="vhome automation kit" data-analytics-context="mas info" data-analytics-id="1500108890064-8378296782069">
                        Más info <span class="ws10-u--hidden-visually"> sobre V-Home Automation Kit</span>
                        <svg class="ws10-c-link-chevron__icon" xmlns='http://www.w3.org/2000/svg'
                            xmlns:xlink='http://www.w3.org/1999/xlink' width='24px' height='24px'>
                            <title>Flecha derecha</title>
                            <use class="icon-v3" xlink:href='#icon-chevron-right'></use>
                        </svg>
                    </a>    
                </div>
            </div>
        </div>
    </div>
</section>