<!-- Sección Banner + Ticket flotante -->
<section class="vf-discovery ws10-o-layout__item ws10-u--2/3@desktop ws10-u--1/1@tablet ws10-u--pt6x">
    <h3 class="ws10-u-heading--3"><strong>Sin sorpresas. <span class="vf-block">No escondemos nada</span></strong></h3>
    <p>Sin sorpresas, sólo pagarás la suscripción mensual asociada a tus Servicios V-Home.</p>
    <p data-js-vf="_surpriseContado">Sin permanencia.</p>
    <p class="ws10-u--hidden" data-js-vf="_surprisePlazos">Permanencia 24 meses.</p>
    <p>¿Cuánto voy a pagar?  
        <span class="vf-block" data-js-vf="_surpriseContado2"><strong>Safety Starter Kit:</strong> 120€ pago inicial de los dispositivos + 4€/mes de suscripción.</span>
        <span class="vf-block ws10-u--hidden" data-js-vf="_surprisePlazos2"><strong>Safety Starter Kit:</strong> 8€/mes + 4€/mes de suscripción</span>
    </p>
    <p>La cuota mensual de servicio comenzará a cobrarse una vez que se active en la aplicación Vodafone Smart App.</p>
    <p>Gastos de envío incluidos</p>
    <p>Plazo de devolución gratuita de 14 días. Consulta la sección de preguntas frecuentes para saber más sobre su devolución.</p>
    <p>
        <a class="ws10-c-link-chevron--primary" href="https://www.vodafone.es/c/particulares/es/mas-con-vodafone/objetos-conectados/v-home/legales/" data-analytics-category="cta" data-analytics-element="sin sorpresas" data-analytics-context="ver condiciones legales" data-analytics-id="1500108890064-8639963097894">
            Ver Condiciones Legales<span class="ws10-u--hidden-visually"> sobre V-Home</span>
        </a> 
    </p>
</section>