<!-- Sección Banner + Ticket flotante -->
<section class="vf-discovery ws10-o-layout__item ws10-u--2/3@desktop ws10-u--1/1@tablet ws10-u--pt6x">
    <h3 class="ws10-u-heading--4-lt">Safety Starter Kit</h3>
    <h4 class="ws10-u-heading--3-lt">V-Home pone a tu disposición el servicio de seguridad más completo con el Safety Starter Kit</h4>
    <picture>
        <source class="vf-image" srcset="img/safety-kit/image.webp" type="image/webp">
        <source class="vf-image" srcset="img/safety-kit/image.png" type="image/png">
        <img class="vf-image" src="img/safety-kit/image.png" alt="Safety Starter Kit" >
    </picture>
    <p>Controla tu casa desde tu móvil con V-Home. Mediante este eficaz servicio de monitorización podrás estar conectado a tu hogar y saber lo que ocurre en todo momento desde tu smarthphone.</p>
    <a class="ws10-c-link-chevron ws10-c-link-chevron--primary" data-backdrop="vf-backdrop-kit" data-backdrop-close aria-haspopup="dialog" data-analytics-category="cta" data-analytics-element="modulo ventajas  vhome" data-analytics-context="descubre el kit" data-analytics-id="1500108890064-4983571709576">Descubre el Kit
            <svg class="ws10-c-link-chevron__icon" xmlns='http://www.w3.org/2000/svg'
                xmlns:xlink='http://www.w3.org/1999/xlink'
                width='24px'
                height='24px'>
            <title>Flecha derecha</title>
            <use xlink:href='#icon-chevron-right'></use>
        </svg>
    </a>

    
    {{!-- BACKDROP KIT --}}
    
    <div class="ws10-c-backdrop js-backdrop" data-ws10-js="backdrop" aria-hidden="true">
        <div id="vf-backdrop-kit" class="vf-backdrop ws10-c-backdrop__item js-backdrop-item vf-backdrop--item" aria-hidden="true" role="dialog" aria-modal="true">
            <div class="ws10-c-backdrop__head  ws10-c-backdrop__head--image vf-backdrop--head-bg">
                <div class="ws10-c-backdrop__head-content">
                    <svg class="ws10-c-backdrop__head-icon ws10-u-color--white" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                            <title>Close</title>
                            <use xlink:href="#icon-v-home-monitor"></use>
                    </svg>
                    <p class="ws10-c-backdrop__title ws10-u-color--white">Safety Starter Kit</p>
                    <button class="ws10-c-backdrop__close js-backdrop-close" aria-hidden="false">
                        <svg class="ws10-c-backdrop__close-icon ws10-u-color--white" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                            <title>Close</title>
                            <use xlink:href="#icon-close"></use>
                        </svg>
                    </button>
                </div>  
            </div>  
            <div class="ws10-c-backdrop__content js-backdrop-content vf-backdrop--content">
                 <div class="ws10-o-tabs ws10-u--p5x vf-backdrop--tabs" data-ws10-js="tab-group">
                    <div class="vf-tabs-container-buttons__scrollX vf-tabs-container-buttons" role="tablist" data-ws10-tab="tab-container">
                        <button class="vf-tray-quick-action--buton ws10-u--mr2x" id="tab-1" role="tab" aria-controls="panel-1"
                                type="button">
                            <div class="ws10-c-tray-quick-action vf-tray-quick-action--content">
                                <div class="ws10-c-tray-quick-action__content">
                                    <div class="ws10-c-tray-quick-action__text">
                                        <p class="ws10-c-tray-quick-action__title ws10-c-tray-quick-action__title--bold">Hub</p>
                                        <p class="ws10-c-tray-quick-action__title">V-Home</p>
                                    </div>
                                    <picture class="ws10-c-tray-quick-action__image">
                                        <source srcset="img/safety-kit/backdrop/hub.webp" type="image/webp">
                                        <img src="img/safety-kit/backdrop/hub.png" alt="Hub V-Home" >
                                    </picture>
                                </div>
                            </div>
                        </button> 
                        <button class="vf-tray-quick-action--buton ws10-u--mr2x" id="tab-2" role="tab" aria-controls="panel-2" type="button">
                            <div class="ws10-c-tray-quick-action vf-tray-quick-action--content">
                                        <div class="ws10-c-tray-quick-action__content">
                                            <div class="ws10-c-tray-quick-action__text">
                                                <p class="ws10-c-tray-quick-action__title ws10-c-tray-quick-action__title--bold">Cámara</p>

                                                <p class="ws10-c-tray-quick-action__title">de vídeo</p>
                                            </div>
                                            <picture class="ws10-c-tray-quick-action__image">
                                                <source srcset="img/safety-kit/backdrop/camera.webp" type="image/webp">
                                                <img src="img/safety-kit/backdrop/camera.png" alt="Cámara de vídeo V-Home" >
                                            </picture>
                                        </div>
                                    </div>
                        </button>
                        <button class="vf-tray-quick-action--buton ws10-u--mr2x" id="tab-3" role="tab" aria-controls="panel-3" type="button">
                        <div class="ws10-c-tray-quick-action vf-tray-quick-action--content">
                                <div class="ws10-c-tray-quick-action__content">
                                    <div class="ws10-c-tray-quick-action__text">
                                        <p class="ws10-c-tray-quick-action__title ws10-c-tray-quick-action__title--bold">Sensor</p>

                                        <p class="ws10-c-tray-quick-action__title">multifunción</p>
                                    </div>
                                    <picture class="ws10-c-tray-quick-action__image">
                                        <source srcset="img/safety-kit/backdrop/sensor.webp" type="image/webp">
                                        <img src="img/safety-kit/backdrop/sensor.png" alt="Sensor multifunción V-Home" >
                                    </picture>
                                </div>
                            </div> 
                        </button> 
                        <button class="vf-tray-quick-action--buton ws10-u--mr2x" id="tab-4" role="tab" aria-controls="panel-4" type="button">
                            <div class="ws10-c-tray-quick-action vf-tray-quick-action--content">
                                        <div class="ws10-c-tray-quick-action__content vf-tray-quick-action--container">
                                            <div class="ws10-c-tray-quick-action__text">
                                                <p class="ws10-c-tray-quick-action__title ws10-c-tray-quick-action__title--bold">Sirena</p>

                                                <p class="ws10-c-tray-quick-action__title">SmartThings</p>
                                            </div>
                                            <picture class="ws10-c-tray-quick-action__image">
                                                <source srcset="img/safety-kit/backdrop/alarm.webp" type="image/webp">
                                                <img src="img/safety-kit/backdrop/alarm.png" alt="Sirena SmartThings V-Home" >
                                            </picture>
                                        </div>
                                    </div>
                        </button>
                    </div> 
                    <div class="vf-backdrop--panels">
                        <div id="panel-1" aria-labelledby="control1" class="ws10-c-tabs-group__content ws10-o-tabs__panel" role="tabpanel" tabindex="0" hidden="hidden">
                            <ul role="list" class="ws10-c-list-icon">
                                <li role="option" class="ws10-c-list-icon__item">
                                    <svg class="ws10-c-list-icon__icon ws10-u-color--ui-green" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg">
                                            <title> titulo icono </title>
                                            <use class="icon" xlink:href="#icon-tick-or-solved"></use>
                                    </svg>
                                    <p class="ws10-c-list-icon__text">Un dispositivo compacto que gestiona e interconecta los múltiples dispositivos inteligentes compatibles con SmartThings de Samsung.</p>
                                </li>
                                <li role="option" class="ws10-c-list-icon__item ws10-c-list-icon__item--multi-line">
                                    <svg class="ws10-c-list-icon__icon ws10-u-color--ui-green" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg">
                                            <title> titulo icono </title>
                                            <use class="icon" xlink:href="#icon-tick-or-solved"></use>
                                    </svg>
                                    <p class="ws10-c-list-icon__text"><strong>Características:</strong></p>
                                </li>
                                <ul class="ws10-u--ml12x">
                                    <li>Sistema de monitorización para el hogar inteligente. Utiliza la app SmartThings para gestionar tus dispositivos inteligentes de V-Home. Disponible para Android e iOS.</li>
                                    <li>Recibe avisos cuando los dispositivos inteligentes de tu hogar detecten movimiento.</li>
                                    <li>Controla tus dispositivos inteligentes desde la app SmartThings.</li>
                                    <li>2 años de garantía.</li>
                                </ul>
                            </ul>
                        </div>  
                        <div id="panel-2" aria-labelledby="control2" class="ws10-c-tabs-group__content ws10-o-tabs__panel"  role="tabpanel" tabindex="0" hidden="hidden">
                            <ul role="list" class="ws10-c-list-icon">
                                <li role="option" class="ws10-c-list-icon__item">
                                    <svg class="ws10-c-list-icon__icon ws10-u-color--ui-green" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg">
                                            <title> titulo icono </title>
                                            <use class="icon" xlink:href="#icon-tick-or-solved"></use>
                                    </svg>
                                    <p class="ws10-c-list-icon__text">Proporciona imágenes de gran calidad y dispone de detección de movimiento e infrarrojos para iluminar por la noche.</p>
                                </li>
                                <li role="option" class="ws10-c-list-icon__item ws10-u--ml8x">
                                    <p class="ws10-c-list-icon__text">Permite ver lo que está sucediendo en tiempo real y almacenar videos en la nube.</p>
                                </li>
                                <li role="option" class="ws10-c-list-icon__item ws10-c-list-icon__item--multi-line">
                                    <svg class="ws10-c-list-icon__icon ws10-u-color--ui-green" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg">
                                            <title> titulo icono </title>
                                            <use class="icon" xlink:href="#icon-tick-or-solved"></use>
                                    </svg>
                                    <p class="ws10-c-list-icon__text"><strong>Características:</strong></p>
                                </li>
                                <ul class="ws10-u--ml12x">
                                        <li>Controla tu hogar de día o de noche con video HD.</li>
                                        <li>Recibe avisos si se detecta actividad inesperada.</li> 
                                        <li>Activa el encendido de luces u otros dispositivos inteligentes.</li> 
                                        <li>La mejor calidad de imagen incluso con poca luz.</li> 
                                        <li>Visión nocturna.</li> 
                                        <li>Video en calidad 720p HD.</li> 
                                        <li>2 años de garantía.</li>	
                                </ul>
                            </ul>
                        </div>
                        <div id="panel-3" aria-labelledby="control3" class="ws10-c-tabs-group__content ws10-o-tabs__panel" role="tabpanel" tabindex="0" hidden="hidden">
                            <ul role="list" class="ws10-c-list-icon">
                                <li role="option" class="ws10-c-list-icon__item">
                                    <svg class="ws10-c-list-icon__icon ws10-u-color--ui-green" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg">
                                            <title> titulo icono </title>
                                            <use class="icon" xlink:href="#icon-tick-or-solved"></use>
                                    </svg>
                                    <p class="ws10-c-list-icon__text">Un sensor que puede situarse en puertas o ventanas para emitir una alerta inmediata si ésta se abre, o si no se deja bien cerrada. También monitoriza cambios en la temperatura, enviando alertas si la habitación está muy fría o caliente.</p>
                                </li>
                                <li role="option" class="ws10-c-list-icon__item ws10-c-list-icon__item--multi-line">
                                    <svg class="ws10-c-list-icon__icon ws10-u-color--ui-green" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg">
                                            <title> titulo icono </title>
                                            <use class="icon" xlink:href="#icon-tick-or-solved"></use>
                                    </svg>
                                    <p class="ws10-c-list-icon__text"><strong>Características:</strong></p>
                                </li>
                                <ul class="ws10-u--ml12x">
                                        <li>Monitoriza la apertura de puertas y ventanas.</li>
                                        <li>Monitoriza la temperatura.</li>
                                        <li>Manda avisos si la puerta o ventana de tu casa se abren inesperadamente, o si hay algún cambio de temperatura.</li> 
                                        <li>Puede activar otros dispositivos inteligentes conectados como, por ejemplo, encender luces automáticamente si entras en una habitación o apagar la calefacción si te dejas abierta la ventana.</li> 
                                        <li>Sensor de vibraciones.</li> 
                                        <li>Tamaño compacto.</li> 
                                        <li>2 años de garantía.</li> 	
                                </ul>
                            </ul>
                        </div>
                        <div id="panel-4" aria-labelledby="control4" class="ws10-c-tabs-group__content ws10-o-tabs__panel" role="tabpanel" tabindex="0" hidden="hidden">
                            <ul role="list" class="ws10-c-list-icon">
                                <li role="option" class="ws10-c-list-icon__item">
                                    <svg class="ws10-c-list-icon__icon ws10-u-color--ui-green" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg">
                                            <title> titulo icono </title>
                                            <use class="icon" xlink:href="#icon-tick-or-solved"></use>
                                    </svg>
                                    <p class="ws10-c-list-icon__text">Una sirena que se activa automáticamente cuando los sensores detectan movimiento.</p>
                                </li>
                                <li role="option" class="ws10-c-list-icon__item ws10-u--ml8x">
                                    <p class="ws10-c-list-icon__text">Puede sonar hasta a 85 decibelios y emitir luz.</p>
                                </li>
                                <li role="option" class="ws10-c-list-icon__item ws10-c-list-icon__item--multi-line">
                                    <svg class="ws10-c-list-icon__icon ws10-u-color--ui-green" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg">
                                            <title> titulo icono </title>
                                            <use class="icon" xlink:href="#icon-tick-or-solved"></use>
                                    </svg>
                                    <p class="ws10-c-list-icon__text"><strong>Características:</strong></p>
                                </li>
                                <ul class="ws10-u--ml12x">
                                        <li>Podrás activar la alarma cuando se detecte movimiento en tu casa.</li>
                                        <li>Instala la sirena para que se active con el sensor multifunción y la cámara de video. Sonará si detecta que una ventana o puerta se abre y recibirás un aviso en tu smartphone.</li> 
                                        <li>También, tiene una luz que se enciende si detecta movimiento.</li> 
                                        <li>2 años de garantía.</li>		
                                </ul>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>