<!-- Sección Banner + Ticket flotante -->
<section class="vf-discovery ws10-o-layout__item ws10-u--2/3@desktop ws10-u--1/1@tablet ws10-u--pt6x">
    <h3 class="ws10-u-heading--3"><strong>¿Cómo instalar V-Home?</strong></h3>
    <ul class="ws10-c-timeline-steps">
        <li class="ws10-c-timeline-steps__item">
            <img src="img/steps/download.svg" class="ws10-c-timeline-steps__icon" width='48px' height='48px' />
            <h4 class="ws10-c-timeline-steps__title">Descarga la App</h4>
            <p class="ws10-c-timeline-steps__text">Descárgate la app V by Vodafone del App Store o Google Play y activa la suscripción.</p>
        </li>
        <li class="ws10-c-timeline-steps__item">
            <svg class="ws10-c-timeline-steps__icon" xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='48px' height='48px'><title>Business</title><use xlink:href='#icon-engineer-mid'></use></svg>
            <h4 class="ws10-c-timeline-steps__title">Coloca los dispositivos</h4>
            <p class="ws10-c-timeline-steps__text">Posiciona los dispositivos del Kit en la zona donde quieras dirigir la monitorización.</p>
        </li>
        <li class="ws10-c-timeline-steps__item">
            <svg class="ws10-c-timeline-steps__icon" xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='48px' height='48px'><title>Business</title><use xlink:href='#icon-settings-mid'></use></svg>
            <h4 class="ws10-c-timeline-steps__title">Sincroniza los dispositivos</h4>
            <p class="ws10-c-timeline-steps__text">Sigue los pasos indicados en la pantalla y serás redirigido a la app SmartThings</p>
        </li>
        <li class="ws10-c-timeline-steps__item">
            <img src="img/steps/devices.svg" class="ws10-c-timeline-steps__icon" width='48px' height='48px'>
            <p class="ws10-c-timeline-steps__title">Configura los dispositivos</p>
            <p class="ws10-c-timeline-steps__text">Configura y conecta tus dispositivos desde la app SmartThings</p>
        </li>
        <li class="ws10-c-timeline-steps__item">
            <svg class="ws10-c-timeline-steps__icon" xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='48px' height='48px'><title>Business</title><use xlink:href='#icon-soho-mid'></use></svg>
            <p class="ws10-c-timeline-steps__title">Monitoriza</p>
            <p class="ws10-c-timeline-steps__text">Activa V-Home Monitor y ¡estás listo para usar el servicio!</p>
        </li>
    </ul>
</section>