 <section class="vf-sticky ws10-c-card-rate-sticky ws10-u--hidden" data-js-vf="_stickyRate">
        <div class="ws10-c-card ws10-c-card--no-borders-bottom-radius">
            <div class="ws10-c-card-rate-sticky__w-cta vf-block" data-js-vf="_plazos">
                <div class="ws10-c-card-rate-sticky__offer ws10-flex ws10-flex__direction--column">
                    <div class="ws10-flex ws10-flex__align-items--end ws10-flex__justify--between">
                        <span class="ws10-c-card-rate-sticky__final-price">
                            <span class="ws10-c-card-rate-sticky__final-price-value">4€</span>
                            <span class="ws10-c-card-rate-sticky__final-price-date">/mes</span>
                        </span>
                        <p class="ws10-c-card-rate__dto ws10-c-card-rate__dto--label">Permanencia 24 meses</p>
                    </div>
                    <p class="ws10-c-card-rate__dto ws10-c-card-rate__dto--label ws10-u-color--turquoise">+ 4€/mes de suscripción</p>
                </div>
                <a href="tel:900920052" name="cta" title="Llama gratis" class="ws10-c-button ws10-c-button--block" data-analytics-category="cta" data-analytics-element="sticky" data-analytics-context="llama gratis" data-analytics-id="1500108890064-3840379300547">
                    Llama gratis al  <span class="drp-phone">900 920 052</span>
                </a>
            </div>
            <div class="ws10-c-card-rate-sticky__w-cta ws10-u--hidden" data-js-vf="_contado">
                <div class="ws10-c-card-rate-sticky__offer ws10-flex ws10-flex__direction--column">
                    <p class="ws10-c-card-rate__dto ws10-c-card-rate__dto--label">Sin permanencia</p>
                    <span class="ws10-c-card-rate-sticky__final-price">
                        <span class="ws10-c-card-rate-sticky__final-price-value">120€</span>
                    </span>
                    <p class="ws10-c-card-rate__dto ws10-c-card-rate__dto--label ws10-u-color--turquoise">+ 4€/mes de suscripción</p>
                </div>
                <a href="https://eshop.v.vodafone.com/es/v-basket-external-integration?sku=10207814&qty=1" type="submit" name="cta" title="Lo quiero" class="ws10-c-button ws10-c-button--auto" data-analytics-category="cta" data-analytics-element="sticky" data-analytics-context="lo quiero" data-analytics-id="1500108890064-2760622100475">
                    Lo quiero
                </a> 
            </div>
        </div>
    </section>