<section class="vf-fiber ws10-u--pt12x">
  <h3 class="ws10-u-heading--4 ws10-u--mb2x ws10-u-heading--4-lt">{{{fibra.section}}}</h3>
  <h3 class="ws10-u-heading--3">{{{fibra.title}}}</h3>

  <div
    class="ws10-flex ws10-flex__justify--between vf-fiber__flexdirection ws10-flex__align-items--center"
  >
       {{> picture fibra.img.[0]}}
    <div
      class="vf-mobile__details ws10-flex ws10-flex__direction--column ws10-flex__justify--center ws10-flex__align-items--center"
    >
      {{#each fibra.productDetail}}
        {{> productDetail params=this}}
      {{/each}}
    </div>
  </div>
</section>
