<section class="vf-addons ws10-u--pt8x ws10-o-layout">
  <div class="ws10-o-layout__item ws10-u--1/1@desktop">
    <div class="ws10-c-card ws10-c-card ws10-c-card--no-shadow">
      <div class="ws10-o-layout ws10-u--ml1x">

        <picture
          class="ws10-c-card-discovery-standard-full-width-title__picture vfms-height-mobile"
        >
          <source
            media="(min-width:1024px)"
            srcset="img/section-addons/cabecera-desktop.webp"
          />
          <source
            media="(min-width:768px)"
            srcset="img/section-addons/cabecera-tablet.webp"
          />
          <img
            src="img/section-addons/cabecera-mobile.webp"
            alt="texto imagen"
            class="ws10-c-card-discovery-standard-full-width-title__image ws10-c-lazy-load ws10-c-lazy-load--skeleton-light"
            data-ws10-js="lazy-load"
            loading="lazy"
          />
        </picture>
        <div
          class="ws10-o-layout__item ws10-u--1/1 ws10-u--1/2@tablet ws10-u--1/2@desktop ws10-u-color--dark-grey ws10-u--pl12x"
        >
          <b
            class="ws10-c-badge-text ws10-c-badge-text--turquoise ws10-u--mt4x"
          >¡Nuevo!</b>
          <h4 class="ws10-u-heading--2-lt ws10-u--pt5x">¿Necesitas más líneas?
            Ahora llegan las tarifas para familias</h4>
          <p class="ws10-u--body">Descubre las tarifas de Hogar ilimitable y
            disfruta de datos y minutos ilimitados en todas tus líneas de móvil
            con 5G, la mejor fibra de Vodafone, máxima conexión WiFi con Super
            WiFi, una extensa selección de cine y series con HBO España y Amazon
            Prime y la seguridad que necesita tu familia.</p>

          <a
            class="ws10-c-link-chevron ws10-c-link-chevron--primary"
            data-analytics-element="card discovery standard"
            data-analytics-context="mas info:tarifas familiares"
            data-analytics-category="cta"
            data-analytics-id="-5349132379100"
            href="https://www.vodafone.es/c/particulares/es/productos-y-servicios/vodafone-one/tarifas-familiares/"
            target="_self"
          >
            Más info
            <span class="ws10-u--hidden-visually"> color #E60000</span>
            <svg
              class="ws10-c-link-chevron__icon"
              xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink"
              width="24px"
              height="24px"
            >
              <title>Flecha derecha</title>
              <use class="icon-v3" xlink:href="#icon-chevron-right"></use>
            </svg>
          </a>

        </div>
      </div>
    </div>
  </div>

  <div class="ws10-o-layout__item ws10-u--1/2@desktop">
    <div
      class="ws10-c-cards-discovery-standard ws10-c-cards-discovery-standard--medium-standard"
    >
      <div class="ws10-c-cards-discovery-standard__text-content">
        <h3 class="ws10-u-heading--4-lt">Añade una o más
          <strong>líneas adicionales</strong>
          a tu contrato al
          <strong>50% de dto.</strong>
        </h3>

        <p>

          <a
            class="ws10-c-link-chevron ws10-c-link-chevron--primary"
            data-analytics-element="card discovery standard"
            data-analytics-context="mas info:lineas adicionales"
            data-analytics-category="cta"
            href="https://www.vodafone.es/c/particulares/es/productos-y-servicios/movil/contrato/mas-lineas/"
            target="_self"
            data-analytics-id="-9639652004719"
          >
            Más info
            <span class="ws10-u--hidden-visually"> color #E60000</span>
            <svg
              class="ws10-c-link-chevron__icon"
              xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink"
              width="24px"
              height="24px"
            >
              <title>Flecha derecha</title>
              <use class="icon-v3" xlink:href="#icon-chevron-right"></use>
            </svg>
          </a>

        </p>
      </div>
      <div
        class="ws10-flex ws10-flex__align-items--center ws10-flex__justify--center ws10-c-cards-discovery-standard__image-holder"
      >
        <img src="img/section-addons/icono-sim.svg" alt="icono sim" />
      </div>
    </div>
  </div>
  <div class="ws10-o-layout__item ws10-u--1/2@desktop">
    <div
      class="ws10-c-cards-discovery-standard ws10-c-cards-discovery-standard--medium-standard"
    >
      <div class="ws10-c-cards-discovery-standard__text-content">
        <h3 class="ws10-u-heading--4-lt">Tarifas de
          <strong>fibra y móviles</strong>
          para jóvenes
          <strong>Vodafone YU!</strong>
          Hazte yuser.
        </h3>
        <p>

          <a
            class="ws10-c-link-chevron ws10-c-link-chevron--primary"
            data-analytics-element="card discovery standard"
            data-analytics-context="mas info:fibra yu"
            data-analytics-category="cta"
            data-analytics-id="-0569716048146"
            href="https://www.vodafoneyu.es/tarifa-fibra-optica/"
            target="_self"
          >
            Más info
            <span class="ws10-u--hidden-visually"> color #E60000</span>
            <svg
              class="ws10-c-link-chevron__icon"
              xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink"
              width="24px"
              height="24px"
            >
              <title>Flecha derecha</title>
              <use class="icon-v3" xlink:href="#icon-chevron-right"></use>
            </svg>
          </a>
        </p>
      </div>
      <div
        class="ws10-flex ws10-flex__align-items--center ws10-flex__justify--center ws10-c-cards-discovery-standard__image-holder"
      >
        <img src="img/section-addons/icono-yu.svg" alt="icono yu" />
      </div>
    </div>
  </div>
</section>