<!-- banner -->
<section class="vf-banner">
  <div class="vf-banner__container ws10-o-wrapper">
    <div class="ws10-o-layout ws10-u--pb0 ws10-u--pt6x">
      <div class="ws10-o-layout__item ws10-u--1/2@desktop">
        <h2 class="ws10-u-heading--4">Fibra + Móvil</h2>
        <p
          class="ws10-u-heading--1-lt ws10-flex ws10-flex__direction--column vfms-title-banner"
        >
          <span>Llévate
            <strong>50% dto. 3 meses</strong>
            y, si quieres, además
            <strong>+ Fibra por el mismo precio... ¡Tú eliges!</strong></span>
        </p>
      </div>
      <div class="ws10-o-layout__item ws10-u--1/2@desktop">
        <picture>
          <source
            media="(min-width:768px)"
            srcset="img/bodegon-desktop.webp"
            type="image/webp"
          />
          <source
            media="(min-width:768px)"
            srcset="img/bodegon-desktop.png"
            type="image/png"
          />
          <source srcset="img/bodegon-mobile.webp" type="image/webp" />
          <img src="img/bodegon-desktop.png" />
        </picture>
      </div>
    </div>
  </div>
</section>