<section class="vf-card-rates ws10-u--pt8x ws10-u--pb8x">
    <div class="vf-card-rates__container ws10-o-layout ws10-flex__align-items--end">
        {{#each cardRates }}
            {{>cardRate params=this}}
        {{/each }}
    </div>
</section>
