<section class="vf-rates ws10-u--pt8x ws10-u--pb8x">
    <div class="vf-rates__container ws10-o-layout ws10-flex__align-items--end">
        <div class="ws10-o-layout__item ws10-u--1/2@tablet ws10-u--1/3@desktop">
            <!-- Vodafone One ilimitada -->
            {{> rate300 }}
        </div>
        <div class="ws10-o-layout__item ws10-u--1/2@tablet ws10-u--1/3@desktop">
            <!-- Vodafone One ilimitada Maxi -->
            {{> rate600 }}
        </div>
        <div class="ws10-o-layout__item ws10-u--1/2@tablet ws10-u--1/3@desktop">
            <!-- Vodafone One ilimitada Total -->
            {{> rate600SerieFans }}
        </div>
    </div>
</section>
