<link href="css/ws10.css" rel="stylesheet"  />
<link href="css/styles.css" rel="stylesheet" data-ws10-microcss  />
<div class="vfes-ms-content ws10-u-color--bg-light-grey" id="plp" style="visibility: hidden;opacity: 0">
    <!-- Section BANNER -->
    {{> banner }}

    <div class="ws10-o-wrapper">
        <!-- Section RATES -->
        {{> cardRates }}
        <!-- Sections Vodafone One -->
        {{> vodafoneOne }}
        <!-- Sections Banner 50 -->
        {{> banner50 }}

         <!--{{> table }}-->
    </div>
</div>
<script src="js/ws10.js"></script>
<script src="js/main.js"></script>
