<section class="vf-rates ws10-u--pt8x ws10-u--pb8x">
    <div class="vf-rates__container ws10-o-layout ws10-flex__align-items--end">
        <div class="ws10-o-layout__item ws10-u--1/2@tablet ws10-u--1/3@desktop">
            <!-- Vodafone One ilimitada-->
            <section class="ws10-c-card ws10-c-card-rate ws10-c-card--no-shadow" data-ws10-js="card-rate">
                <div class="ws10-c-card-rate__w-rates">
                    <div class="ws10-c-card-rate__a-rate">
                        <div class="vfms-badge--container">
                            <b class="ws10-c-badge-text ws10-c-badge-text--turquoise  ws10-u--mr1x vfms-badge1">50% dto.</b>
                            <b class="ws10-c-badge-text  vfms-badge2  ws10-u--hidden" data-js-vf="_badgeIlimitada">+ Fibra por menos</b>
                        </div>
                        <ul class="ws10-c-card-rate__product-info"
                            data-vfes-seo-empathy-promoperiod="50% dto. 3 meses Permanencia 1 año"
                            data-vfes-seo-empathy-promoprice="26,99" data-vfes-seo-empathy-price="54,99">
                            <li class="ws10-c-card-rate__product-info-item">
                                <svg class="ws10-c-card-rate__product-icon ws10-u-color--black"
                                    xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                    <use xlink:href="#icon-mobile"></use>
                                </svg>
                                <div class="ws10-c-card-rate__product">
                                    <p class="ws10-c-card-rate__product-title">
                                        Datos y minutos ilimitados
                                    </p>
                                    <p class="ws10-c-card-rate__product-txt ws10-c-card-rate__product-txt--primary">
                                        Velocidad media
                                        <svg class="ws10-c-card-rate__product-txt-icon"
                                            xmlns="http://www.w3.org/2000/svg"
                                            xmlns:xlink="http://www.w3.org/1999/xlink">
                                            <use xlink:href="#icon-thunder-1grey"></use>
                                        </svg>
                                    </p>
                                </div>
                            </li>
                            <li class="ws10-c-card-rate__product-info-item">
                                <svg class="ws10-c-card-rate__product-icon ws10-u-color--black"
                                    xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                    <use xlink:href="#icon-sim"></use>
                                </svg>
                                <div class="ws10-c-card-rate__product">
                                    <p class="ws10-c-card-rate__product-title">
                                        4GB y 200 minutos GRATIS 
                                    </p>
                                    <p class="ws10-c-card-rate__product-txt">
                                        segunda línea GRATIS 1 año
                                    </p>
                                </div>
                            </li>
                           <!-- <li class="ws10-c-card-rate__product-info-item">
                                <svg class="ws10-c-card-rate__product-icon ws10-u-color--black"
                                    xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                    <use xlink:href="#icon-broadband-or-wifi"></use>
                                </svg>
                                <div class="ws10-c-card-rate__product">
                                    <p class="ws10-c-card-rate__product-title">
                                        Fibra Óptica 300Mbps
                                    </p>
                                    <p class="ws10-c-card-rate__product-txt">
                                        + llamadas ilimitadas en fijo
                                    </p>
                                </div>
                            </li>-->
                              <li
                                class="ws10-c-card-rate__product-info-item ws10-flex ws10-flex ws10-flex__direction--column ws10-flex__align-items--start">
                                <div class="ws10-u--1/1 ws10-flex ws10-flex__align-items--center">
                                    <svg class="ws10-c-card-rate__product-icon ws10-u-color--black"
                                        xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                        <use xlink:href="#icon-broadband-or-wifi"></use>
                                    </svg>
                                    <div class="ws10-c-card-rate__product">
                                        <p class="vf-rate--fibra ws10-u--mb0">
                                            <span class="ws10-c-card-rate__product-title ws10-u--pr1x">Fibra
                                                Óptica</span>
                                            <span class="ws10-c-card-rate__product-txt">+ llamadas ilimitadas en
                                                fijo</span>
                                        </p>
                                    </div>
                                </div>
                                <form action="" method="get"
                                    class="ws10-u--1/1 vf-form ws10-c-card-rate__form ws10-c-form ws10-u--mt0"
                                    data-js-vf="_showOrHideSticky">
                                    <fieldset class="ws10-u--pb0 ws10-u--mb1x">
                                        <div class="ws10-c-card-rate__w-form-select">
                                            <div class="vf-form__box ws10-c-form__box" data-analytics-category="cta" data-analytics-element="modulo tarifa:one ilimitada" data-analytics-context="300mbps" data-analytics-id="-7028449821489">
                                                <input type="radio" name="rate-1-card-rate-ilimitada"
                                                    id="rate-1-card-rate-ilimitada-option-1" class="ws10-c-form__radio" checked >
                                                <label for="rate-1-card-rate-ilimitada-option-1"
                                                    class="ws10-c-card-rate__form-label ws10-c-form__label vf-active vf-bold"
                                                    data-js-vf="_buttonVelocityIlimitada">
                                                    300Mbps
                                                </label>
                                            </div>
                                            <div class="vf-form__box ws10-c-form__box" data-analytics-category="cta" data-analytics-element="modulo tarifa:one ilimitada" data-analytics-context="600mbps" data-analytics-id="-7022549821489">
                                                <input type="radio" name="rate-1-card-rate-ilimitada"
                                                    id="rate-1-card-rate-ilimitada-option-2" class="ws10-c-form__radio" >
                                                <label for="rate-1-card-rate-ilimitada-option-2"
                                                    class="ws10-c-card-rate__form-label ws10-c-form__label"
                                                    data-js-vf="_buttonVelocityIlimitada">
                                                    600Mbps
                                                </label>
                                            </div>
                                        </div>
                                    </fieldset>
                                </form>

                            </li>
                        </ul>
                          <div class="ws10-c-card-rate__w-cta" data-js-vf="_priceIlimitada">
                             <div class="ws10-c-card-rate__w-offers">
                                <div class="ws10-c-card-rate__offer" id="rate-1-offer-1">
                                    <p class="ws10-c-card-rate__dto ws10-c-card-rate__dto--percent">
                                        50% dto. 3 meses
                                    </p>
                                    <p class="ws10-c-card-rate__dto ws10-c-card-rate__dto--label">
                                        Permanencia 1 año
                                    </p>
                                    <p class="ws10-c-card-rate__dto ws10-c-card-rate__dto--price">
                                        <del>54,99€/mes</del>
                                    </p>
                                    <p class="ws10-c-card-rate__price ws10-u-color--black">
                                        26,99€<sub>/mes</sub>
                                    </p>
                                </div>
                            </div>
                            <a href="https://www.vodafone.es/c/particulares/es/productos-y-servicios/vodafone-one/paquete-one-3/"
                                target="_self" name="Más info" title="Más info"
                                class="ws10-c-button ws10-c-button--auto vf-button--mobile" data-analytics-context="ilimitada"
                                data-analytics-element="Más info" data-analytics-category="cta"
                                data-analytics-id="-7498449761489">
                                Más info
                            </a>
                        </div>
                         <div class="ws10-u--hidden" data-js-vf="_priceIlimitada">
                            <p class="ws10-c-card-rate__dto ws10-c-card-rate__dto--percent ws10-u--mt4x">
                            A precio de 300Mbps + 50% dto. 3 meses
                            </p>
                            <div class="ws10-c-card-rate__w-cta ws10-u--mt0">
                                <div class="ws10-c-card-rate__w-offers">
                                    <div class="ws10-c-card-rate__offer" id="rate-2-offer-1">
                                        <p class="ws10-c-card-rate__dto ws10-c-card-rate__dto--label">
                                            Permanencia 1 año
                                        </p>
                                        <p class="ws10-c-card-rate__dto ws10-c-card-rate__dto--price">
                                            <del>64,99€/mes</del>
                                        </p>
                                        <p class="ws10-c-card-rate__price ws10-u-color--black">
                                            26,99€<sub>/mes</sub>
                                        </p>
                                    </div>
                                </div>
                                <a href="https://www.vodafone.es/c/particulares/es/productos-y-servicios/vodafone-one/paquete-one-3/?600mbps"
                                    target="_self" name="Más info" title="Más info"
                                    class="ws10-c-button ws10-c-button--auto vf-button--mobile" data-analytics-context="ilimitada"
                                    data-analytics-element="Más info" data-analytics-category="cta"
                                    data-analytics-id="-3827639503671">
                                    Más info
                                </a>
                            </div>
                        </div>
                      

                    </div>
                </div>
            </section>
        </div>
        <div class="ws10-o-layout__item ws10-u--1/2@tablet ws10-u--1/3@desktop">
            <!-- Vodafone One ilimitada Maxi -->
            <section class="ws10-c-card ws10-c-card-rate ws10-c-card--no-shadow" data-ws10-js="card-rate">
                <div class="ws10-c-card-rate__w-rates">         
                    <div class="ws10-c-card-rate__a-rate">
                       <div class="vfms-badge--container">
                            <b class="ws10-c-badge-text ws10-c-badge-text--turquoise  vfms-badge1 ws10-u--mr1x">50% dto.</b>
                            <b class="ws10-c-badge-text  vfms-badge2 " data-js-vf="_badgeMaxi">+ Fibra por menos</b>
                        </div>
                        <ul class="ws10-c-card-rate__product-info"
                            data-vfes-seo-empathy-promoperiod="50% dto. 3 meses Permanencia 1 año"
                            data-vfes-seo-empathy-promoprice="36,99" data-vfes-seo-empathy-price="74,99">
                            <li class="ws10-c-card-rate__product-info-item">
                                <svg class="ws10-c-card-rate__product-icon ws10-u-color--black"
                                    xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                    <use xlink:href="#icon-mobile"></use>
                                </svg>
                                <div class="ws10-c-card-rate__product">
                                    <p class="ws10-c-card-rate__product-title">
                                        Datos y minutos ilimitados
                                    </p>
                                    <p class="ws10-c-card-rate__product-txt ws10-c-card-rate__product-txt--primary">
                                        Velocidad alta
                                        <svg class="ws10-c-card-rate__product-txt-icon"
                                            xmlns="http://www.w3.org/2000/svg"
                                            xmlns:xlink="http://www.w3.org/1999/xlink">
                                            <use xlink:href="#icon-thunder-2grey"></use>
                                        </svg>
                                    </p>
                                </div>
                            </li>
                            <li class="ws10-c-card-rate__product-info-item">
                                <svg class="ws10-c-card-rate__product-icon ws10-u-color--black"
                                    xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                    <use xlink:href="#icon-sim"></use>
                                </svg>
                                <div class="ws10-c-card-rate__product">
                                    <p class="ws10-c-card-rate__product-title">
                                        4GB y 200 minutos GRATIS 
                                    </p>
                                    <p class="ws10-c-card-rate__product-txt">
                                        segunda línea GRATIS 1 año
                                    </p>
                                </div>
                            </li>
                            <li
                                class="ws10-c-card-rate__product-info-item ws10-flex ws10-flex ws10-flex__direction--column ws10-flex__align-items--start">
                                <div class="ws10-u--1/1 ws10-flex ws10-flex__align-items--center">
                                    <svg class="ws10-c-card-rate__product-icon ws10-u-color--black"
                                        xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                        <use xlink:href="#icon-broadband-or-wifi"></use>
                                    </svg>
                                    <div class="ws10-c-card-rate__product">
                                        <p class="ws10-u--mb0 vf-rate--fibra">
                                            <span class="ws10-c-card-rate__product-title ws10-u--pr1x">Fibra
                                                Óptica</span>
                                            <span class="ws10-c-card-rate__product-txt">+ llamadas ilimitadas en
                                                fijo</span>
                                        </p>
                                    </div>
                                </div>
                                <form action="" method="get"
                                    class="ws10-u--1/1 vf-form ws10-c-card-rate__form ws10-c-form ws10-u--mt0"
                                    data-js-vf="_showOrHideSticky">
                                    <fieldset class="ws10-u--pb0 ws10-u--mb1x">
                                        <div class="ws10-c-card-rate__w-form-select">
                                            <div class="vf-form__box ws10-c-form__box" data-analytics-category="cta" data-analytics-element="modulo tarifa:one ilimitada maxi" data-analytics-context="300mbps" data-analytics-id="-3827682708071">
                                                <input type="radio" name="rate-1-card-rate-maxi"
                                                    id="rate-1-card-rate-maxi-option-1" class="ws10-c-form__radio" >
                                                <label for="rate-1-card-rate-maxi-option-1"
                                                    class="ws10-c-card-rate__form-label ws10-c-form__label "
                                                    data-js-vf="_buttonVelocityMaxi">
                                                    300Mbps
                                                </label>
                                            </div>
                                            <div class="vf-form__box ws10-c-form__box"  data-analytics-category="cta" data-analytics-element="modulo tarifa:one ilimitada maxi" data-analytics-context="600mbps" data-analytics-id="-3824272708071">
                                                <input type="radio" name="rate-1-card-rate-maxi"
                                                    id="rate-1-card-rate-maxi-option-2" class="ws10-c-form__radio" checked>
                                                <label for="rate-1-card-rate-maxi-option-2"
                                                    class="ws10-c-card-rate__form-label ws10-c-form__label vf-active vf-bold"
                                                    data-js-vf="_buttonVelocityMaxi">
                                                    600Mbps
                                                </label>
                                            </div>
                                        </div>
                                    </fieldset>
                                </form>

                            </li>
                            <li class="ws10-c-card-rate__product-info-item">
                                <svg class="ws10-c-card-rate__product-icon ws10-u-color--black"
                                    xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                    <use xlink:href="#icon-tv"></use>
                                </svg>
                                <div class="ws10-c-card-rate__product">
                                    <p class="ws10-c-card-rate__product-title">
                                        Pack TV Seriefans GRATIS 1 año
                                    </p>
                                    <p class="ws10-c-card-rate__product-txt">
                                        con HBO España y 60 canales más
                                    </p>
                                </div>
                            </li>

                        </ul>

                        <div class="ws10-c-card-rate__w-cta ws10-u--hidden" data-js-vf="_priceMaxi">
                            <div class="ws10-c-card-rate__w-offers">
                                <div class="ws10-c-card-rate__offer" id="rate-2-offer-1">
                                    <p class="ws10-c-card-rate__dto ws10-c-card-rate__dto--percent">
                                        50% dto. 3 meses
                                    </p>
                                    <p class="ws10-c-card-rate__dto ws10-c-card-rate__dto--label">
                                        Permanencia 1 año
                                    </p>
                                    <p class="ws10-c-card-rate__dto ws10-c-card-rate__dto--price">
                                        <del>64,99€/mes</del>
                                    </p>
                                    <p class="ws10-c-card-rate__price ws10-u-color--black">
                                        31,99€<sub>/mes</sub>
                                    </p>
                                </div>
                            </div>
                            <a href="https://www.vodafone.es/c/particulares/es/productos-y-servicios/vodafone-one/paquete-one-4/?300mbps"
                                target="_self" name="Más info" title="Más info"
                                class="ws10-c-button ws10-c-button--auto vf-button--mobile" data-analytics-context="maxi"
                                data-analytics-element="Más info" data-analytics-category="cta"
                                data-analytics-id="-3827639708071">
                                Más info
                            </a>
                        </div>
                         <div  data-js-vf="_priceMaxi">
                            <p class="ws10-c-card-rate__dto ws10-c-card-rate__dto--percent ws10-u--mt4x">
                                A precio de 300Mbps + 50% dto. 3 meses
                            </p>
                            <div class="ws10-c-card-rate__w-cta ws10-u--mt0">
                                <div class="ws10-c-card-rate__w-offers">
                                    <div class="ws10-c-card-rate__offer" id="rate-2-offer-1">
                                        
                                        <p class="ws10-c-card-rate__dto ws10-c-card-rate__dto--label">
                                            Permanencia 1 año
                                        </p>
                                        <p class="ws10-c-card-rate__dto ws10-c-card-rate__dto--price">
                                            <del>74,99€/mes</del>
                                        </p>
                                        <p class="ws10-c-card-rate__price ws10-u-color--black">
                                            31,99€<sub>/mes</sub>
                                        </p>
                                    </div>
                                </div>
                                <a href="https://www.vodafone.es/c/particulares/es/productos-y-servicios/vodafone-one/paquete-one-4/"
                                    target="_self" name="Más info" title="Más info"
                                    class="ws10-c-button ws10-c-button--auto vf-button--mobile" data-analytics-context="maxi"
                                    data-analytics-element="Más info" data-analytics-category="cta"
                                    data-analytics-id="-3827639703071">
                                    Más info
                                </a>
                            </div>
                        </div>

                    </div>
                </div>
            </section>
        </div>
        <div class="ws10-o-layout__item ws10-u--1/2@tablet ws10-u--1/3@desktop">
            <!-- Vodafone One ilimitada Total -->
            <section class="ws10-c-card ws10-c-card-rate ws10-c-card--no-shadow" data-ws10-js="card-rate">
                <div class="ws10-c-card-rate__w-rates">
                    <div class="ws10-c-card-rate__a-rate">
                         <div class="vfms-badge--container">
                            <b class="ws10-c-badge-text ws10-c-badge-text--turquoise  vfms-badge1 ws10-u--mr1x">50% dto.</b>
                            <b class="ws10-c-badge-text  vfms-badge2 " data-js-vf="_badgeTotal">+ Fibra por menos</b>
                        </div>
                        <ul class="ws10-c-card-rate__product-info"
                            data-vfes-seo-empathy-promoperiod="50% dto. 3 meses Permanencia 1 año"
                            data-vfes-seo-empathy-promoprice="41,99" data-vfes-seo-empathy-price="84,99">
                            <li class="ws10-c-card-rate__product-info-item">
                                <svg class="ws10-c-card-rate__product-icon ws10-u-color--black"
                                    xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                    <use xlink:href="#icon-mobile"></use>
                                </svg>
                                <div class="ws10-c-card-rate__product">
                                    <p class="ws10-c-card-rate__product-title">
                                        Datos y minutos ilimitados
                                    </p>
                                    <p class="ws10-c-card-rate__product-txt ws10-c-card-rate__product-txt--primary">
                                        Velocidad máxima
                                        <svg class="ws10-c-card-rate__product-txt-icon"
                                            xmlns="http://www.w3.org/2000/svg"
                                            xmlns:xlink="http://www.w3.org/1999/xlink">
                                            <use xlink:href="#icon-thunder-3"></use>
                                        </svg>
                                    </p>
                                </div>
                            </li>
                            <li class="ws10-c-card-rate__product-info-item">
                                <svg class="ws10-c-card-rate__product-icon ws10-u-color--black"
                                    xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                    <use xlink:href="#icon-sim"></use>
                                </svg>
                                <div class="ws10-c-card-rate__product">
                                    <p class="ws10-c-card-rate__product-title">
                                        4GB y 200 minutos GRATIS 
                                    </p>
                                    <p class="ws10-c-card-rate__product-txt">
                                        segunda línea GRATIS 1 año
                                    </p>
                                </div>
                            </li>
                            <li
                                class="ws10-c-card-rate__product-info-item ws10-flex ws10-flex ws10-flex__direction--column ws10-flex__align-items--start">
                                <div class="ws10-u--1/1 ws10-flex ws10-flex__align-items--center">
                                    <svg class="ws10-c-card-rate__product-icon ws10-u-color--black"
                                        xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                        <use xlink:href="#icon-broadband-or-wifi"></use>
                                    </svg>
                                    <div class="ws10-c-card-rate__product">
                                        <p class="vf-rate--fibra ws10-u--mb0">
                                            <span class="ws10-c-card-rate__product-title ws10-u--pr1x">Fibra
                                                Óptica</span>
                                            <span class="ws10-c-card-rate__product-txt">+ llamadas ilimitadas en
                                                fijo</span>
                                        </p>
                                    </div>
                                </div>
                                <form action="" method="get"
                                    class="ws10-u--1/1 vf-form ws10-c-card-rate__form ws10-c-form ws10-u--mt0"
                                    data-js-vf="_showOrHideSticky">
                                    <fieldset class="ws10-u--pb0 ws10-u--mb1x">
                                        <div class="ws10-c-card-rate__w-form-select">
                                            <div class="vf-form__box ws10-c-form__box" data-analytics-category="cta" data-analytics-element="modulo tarifa:one ilimitada total" data-analytics-context="600mbps" data-analytics-id="-6727639708071">
                                                <input type="radio" name="rate-1-card-rate"
                                                    id="rate-1-card-rate-option-1" class="ws10-c-form__radio" >
                                                <label for="rate-1-card-rate-option-1"
                                                    class="ws10-c-card-rate__form-label ws10-c-form__label "
                                                    data-js-vf="_buttonVelocity">
                                                    600Mbps
                                                </label>
                                            </div>
                                            <div class="vf-form__box ws10-c-form__box " data-analytics-category="cta" data-analytics-element="modulo tarifa:one ilimitada total" data-analytics-context="1gmbps" data-analytics-id="-6727639468071">
                                                <input type="radio" name="rate-1-card-rate"
                                                    id="rate-1-card-rate-option-2" class="ws10-c-form__radio" checked>
                                                <label for="rate-1-card-rate-option-2"
                                                    class="ws10-c-card-rate__form-label ws10-c-form__label vf-active vf-bold"
                                                    data-js-vf="_buttonVelocity">
                                                    1Gbps
                                                </label>
                                            </div>
                                        </div>
                                    </fieldset>
                                </form>

                            </li>
                            <li class="ws10-c-card-rate__product-info-item">
                                <svg class="ws10-c-card-rate__product-icon ws10-u-color--black"
                                    xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                    <use xlink:href="#icon-tv"></use>
                                </svg>
                                <div class="ws10-c-card-rate__product">
                                    <p class="ws10-c-card-rate__product-title">
                                        Pack TV Seriefans GRATIS 1 año
                                    </p>
                                    <p class="ws10-c-card-rate__product-txt">
                                        con HBO España y 60 canales más
                                    </p>
                                </div>
                            </li>
                        </ul>
                        <div class="ws10-c-card-rate__w-cta ws10-u--hidden" data-js-vf="_priceTotal">
                            <div class="ws10-c-card-rate__w-offers">
                                <div class="ws10-c-card-rate__offer" id="rate-1-offer-1">
                                    <p class="ws10-c-card-rate__dto ws10-c-card-rate__dto--percent">
                                        50% dto. 3 meses
                                    </p>
                                    <p class="ws10-c-card-rate__dto ws10-c-card-rate__dto--label">
                                        Permanencia 1 año
                                    </p>
                                    <p class="ws10-c-card-rate__dto ws10-c-card-rate__dto--price">
                                        <del>84,99€/mes</del>
                                    </p>
                                    <p class="ws10-c-card-rate__price ws10-u-color--black">
                                        41,99€<sub>/mes</sub>
                                    </p>
                                </div>
                            </div>
                            <a href="https://www.vodafone.es/c/particulares/es/productos-y-servicios/vodafone-one/paquete-one-5/"
                                target="_self" name="Más info" title="Más info"
                                class="ws10-c-button ws10-c-button--auto vf-button--mobile" data-analytics-context="total600mb"
                                data-analytics-element="Más info" data-analytics-category="cta"
                                data-analytics-id="-8477551683805">
                                Más info
                            </a>
                        </div>
                        <div  data-js-vf="_priceTotal">
                            <p class="ws10-c-card-rate__dto ws10-c-card-rate__dto--percent ws10-u--mt4x">
                                A precio de 600Mbps + 50% dto. 3 meses
                            </p>
                            <div class="ws10-c-card-rate__w-cta ws10-u--m0">
                                <div class="ws10-c-card-rate__w-offers">
                                    <div class="ws10-c-card-rate__offer" id="rate-1-offer-2">
                                        <p class="ws10-c-card-rate__dto ws10-c-card-rate__dto--label">
                                            Permanencia 1 año
                                        </p>
                                        <p class="ws10-c-card-rate__dto ws10-c-card-rate__dto--price">
                                            <del>94,99€/mes</del>
                                        </p>
                                        <p class="ws10-c-card-rate__price ws10-u-color--black">
                                            41,99€<sub>/mes</sub>
                                        </p>
                                    </div>
                                </div>
                                <a href="https://www.vodafone.es/c/particulares/es/productos-y-servicios/vodafone-one/paquete-one-5/?1gbps"
                                    target="_self" name="Más info" title="Más info"
                                    class="ws10-c-button ws10-c-button--auto vf-button--mobile" data-analytics-context="total1GB"
                                    data-analytics-element="Más info" data-analytics-category="cta"
                                    data-analytics-id="-1168969983878">
                                    Más info
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</section>