<section class="vf-mobile ws10-u--pt12x">
    <p class="ws10-u-heading--4 ws10-u--mb2x ws10-flex ws10-flex__direction--column">
        <span><strong>Sin sorpresas.</strong></span>
        <span><strong>No escondemos nada</strong></span>
    </p>
    <p>Impuestos y cuota de línea incluidos.</p>
    <p>Permanencia 1 año</p>
    <p class="ws10-u--mb0">¿Cúanto voy a pagar?</p>
    <p><strong>Paquete Móvil + Fibra: 46,49€/mes durante 1 año, después 81,49€/mes.</strong></p>
    <p class="ws10-u--mb0">Promociones:</p>
    <p>Línea adicional: -10€/mes dto. Durante 1 año, después 16,50€/mes.</p>
    <p>La instalación del servicio de fibra, salvo que sea autoinstalable, tiene un coste para el cliente de 150 euros. Vodafone renuncia al cobro de este coste si el cliente se mantiene activo en el servicio durante, al menos, 1 año desde la fecha de instalación.</p>
    <p>⚠️	El precio indicado en esta oferta incrementará +3€/mes en la línea móvil principal y +1,5€/mes en las líneas adicionales a partir del próximo 15/7</p>    
    <a class="vfes-link vfms-link vfes-link--red-chevron" target="_blank" href="https://www.vodafone.es/c/particulares/es/productos-y-servicios/vodafone-one/legales/alt/e1/" title="Ver condiciones legales">Ver condiciones legales</a>

</section>
