<section class="vf-mobile ws10-u--pt12x">
  <h3 class="ws10-u-heading--3">
      <strong>También incluido en Vodafone One Ilimitada Avanzada 300Mbps</strong>
  </h3>
  <!-- CAROUSEL -->
  <div
    class="ws10-c-carousel ws10-c-carousel--secondary ws10-c-carousel--no-lateral-padding ws10-c-carousel--secondary-left ws10-c-carousel--align-bottom ws10-u--pl0"
    data-ws10-js="carousel"
    data-config='{
                                    "responsive": {
                                        "0": {
                                            "breakpoint": 0,
                                            "elements": 1,
                                            "viewport": true
                                        },
                                        "1": {
                                            "breakpoint": 640,
                                            "elements": 1,
                                            "viewport": true
                                        },
                                        "2": {
                                            "breakpoint": 970,
                                            "elements": 2,
                                            "viewport": true
                                        }
                                    },
                                    "build": {
                                        "arrows": true,
                                        "bullets": true,
                                        "clickable_bullets": true
                                    }
                                }'
  >
    <ul
      class="ws10-c-carousel__list js-carousel-list"
      id="idUl"
      aria-labelledby="idList"
    >
      <li class="ws10-c-carousel__list-element js-carousel-list-element">
        <div class="ws10-c-card ws10-c-card--no-shadow">
          <div class="ws10-c-card-addons">
            <div class="ws10-c-card-addons__box">
              <img
                class="ws10-u--pr1x"
                src="img/section-addons/secureNet.svg"
                alt="SecureNet"
              />
              <h3 class="ws10-c-card-addons__title"><strong>Secure Net</strong></h3>
            </div>
            <p class="ws10-c-card-addons__paragraph ws10-u--pb6x">Para que
              <strong>navegues sin riesgos en Internet por la red móvil y de
                acceso fijo de Vodafone</strong>, protegiéndote de virus
              (malware) y páginas fraudulentas (phishing).</p>
            <p class="ws10-c-card-addons__paragraph"><strong>GRATIS</strong>
              durante 3 meses, después 1€/mes.</p>
          </div>
        </div>
      </li>
      <li class="ws10-c-carousel__list-element js-carousel-list-element">
        <div class="ws10-c-card ws10-c-card--no-shadow">
          <div class="ws10-c-card-addons">
            <div class="ws10-c-card-addons__box">
              <img
                class="ws10-u--pr1x"
                src="img/section-addons/numberOne.svg"
                alt="Tidal"
              />
              <h3 class="ws10-c-card-addons__title"><strong
                >OneNumber</strong></h3>
            </div>
            <p class="ws10-c-card-addons__paragraph ws10-u--pb5x">Mismo número
              de teléfono y misma tarifa de voz y datos en todos tus
              dispositivos sin necesidad de tener el móvil cerca y sin cambiar
              la SIM.</p>
            <p class="ws10-c-card-addons__paragraph"><strong>GRATIS</strong>
              durante 1 mes, después 5€/mes para smartwatch, Tablet o teléfono
              secundario y 1€/mes para Smart speaker con Alexa.</p>
          </div>
        </div>
      </li>
      <li class="ws10-c-carousel__list-element js-carousel-list-element">
        <div class="ws10-c-card ws10-c-card--no-shadow">
          <div class="ws10-c-card-addons">
            <div class="ws10-c-card-addons__box">
              <img
                class="ws10-u--pr1x"
                src="img/section-addons/securenet-family.svg"
                alt="SecureNet"
              />
              <h3 class="ws10-c-card-addons__title"><strong>Secure Net Family</strong>
              </h3>
            </div>
            <p class="ws10-c-card-addons__paragraph ws10-u--pb6x"><strong>Secure
                Net Family</strong>
              te protege de
              <strong>virus (malware) y páginas fraudulentas (phishing)</strong>,
              permitiendo además aplicar políticas de control parental en todos
              los dispositivos de tu hogar.</p>
            <p class="ws10-c-card-addons__paragraph"><strong>GRATIS</strong>
              durante 3 meses, después 5€/mes (IVA incluido).</p>
          </div>
        </div>
      </li>
      <li class="ws10-c-carousel__list-element js-carousel-list-element">
        <div class="ws10-c-card ws10-c-card--no-shadow">
          <div class="ws10-c-card-addons">
            <div class="ws10-c-card-addons__box">
              <img
                class="ws10-u--pr1x"
                src="img/section-addons/tidal.svg"
                alt="Tidal"
              />
              <h3 class="ws10-c-card-addons__title"><strong>TIDAL</strong></h3>
            </div>
            <p class="ws10-c-card-addons__paragraph ws10-u--pb8x">Plataforma de
              música en streaming para que disfrutes de tu música con la mejor
              calidad de audio.</p>
            <p class="ws10-c-card-addons__paragraph"><strong>GRATIS</strong>
              durante 3 meses, después 7,99€/mes.</p>
          </div>
        </div>
      </li>
    </ul>
    <span
      class="ws10-c-carousel__helperText"
      id="idList"
      style="left: 0;"
    >(*)Todos los servicios podrás gestionarlos en la App Mi Vodafone</span>
  </div>
</section>
