<section class="vf-tv ws10-u--pt12x">
    <h3 class="ws10-flex ws10-flex__direction--column ws10-u--mb0">
        <span class="ws10-u-heading--4 ws10-u--mb0 ws10-u-heading--4-lt">Televisión</span>
        <span class="ws10-u-heading--3 ws10-u--mb0"><strong>Pack TV Seriefans GRATIS</strong></span>
    </h3>
    <p class="ws10-u-heading--3 ws10-u-heading--4-lt">incluye HBO y 60 canales más
    </p>
    <div class="ws10-c-carousel-cover" data-ws10-js="carousel-cover"
        data-ws10-config='{"autoAnim": true}'>
        <ul class="ws10-c-carousel-cover__list">
            <li class="ws10-c-carousel-cover__item js-carousel-cover-item">
                <picture>
                    <source class="ws10-u--pr1x" srcset="img/section-tv/01.webp" type="image/webp">
                    <source class="ws10-u--pr1x" srcset="img/section-tv/01.jpg" type="image/jpg">
                    <img src="img/section-tv/01.jpg" class="ws10-c-carousel-cover__img"
                        alt="Portada de serie incluida en el pack Seriefans">
                </picture>
            </li>
            <li class="ws10-c-carousel-cover__item js-carousel-cover-item">
                <picture>
                    <source class="ws10-u--pr1x" srcset="img/section-tv/02.webp" type="image/webp">
                    <source class="ws10-u--pr1x" srcset="img/section-tv/02.jpg" type="image/jpg">
                    <img src="img/section-tv/02.jpg" class="ws10-c-carousel-cover__img"
                        alt="Portada de serie incluida en el pack Seriefans">
                </picture>
            </li>
            <li class="ws10-c-carousel-cover__item js-carousel-cover-item">
                <picture>
                    <source class="ws10-u--pr1x" srcset="img/section-tv/03.webp" type="image/webp">
                    <source class="ws10-u--pr1x" srcset="img/section-tv/03.jpg" type="image/jpg">
                    <img src="img/section-tv/03.jpg" class="ws10-c-carousel-cover__img"
                        alt="Portada de serie incluida en el pack Seriefans">
                </picture>
            </li>
            <li class="ws10-c-carousel-cover__item js-carousel-cover-item">
                <picture>
                    <source class="ws10-u--pr1x" srcset="img/section-tv/04.webp" type="image/webp">
                    <source class="ws10-u--pr1x" srcset="img/section-tv/04.jpg" type="image/jpg">
                    <img src="img/section-tv/04.jpg" class="ws10-c-carousel-cover__img"
                        alt="Portada de serie incluida en el pack Seriefans">
                </picture>
            </li>
            <li class="ws10-c-carousel-cover__item js-carousel-cover-item">
                <picture>
                    <source class="ws10-u--pr1x" srcset="img/section-tv/05.webp" type="image/webp">
                    <source class="ws10-u--pr1x" srcset="img/section-tv/05.jpg" type="image/jpg">
                    <img src="img/section-tv/05.jpg" class="ws10-c-carousel-cover__img"
                        alt="Portada de serie incluida en el pack Seriefans">
                </picture>
            </li>
            <li class="ws10-c-carousel-cover__item js-carousel-cover-item">
                <picture>
                    <source class="ws10-u--pr1x" srcset="img/section-tv/06.webp" type="image/webp">
                    <source class="ws10-u--pr1x" srcset="img/section-tv/06.jpg" type="image/jpg">
                    <img src="img/section-tv/06.jpg" class="ws10-c-carousel-cover__img"
                        alt="Portada de serie incluida en el pack Seriefans">
                </picture>
            </li>
            <li class="ws10-c-carousel-cover__item js-carousel-cover-item">
                <picture>
                    <source class="ws10-u--pr1x" srcset="img/section-tv/07.webp" type="image/webp">
                    <source class="ws10-u--pr1x" srcset="img/section-tv/07.jpg" type="image/jpg">
                    <img src="img/section-tv/07.jpg" class="ws10-c-carousel-cover__img"
                        alt="Portada de serie incluida en el pack Seriefans">
                </picture>
            </li>
            <li class="ws10-c-carousel-cover__item js-carousel-cover-item">
                <picture>
                    <source class="ws10-u--pr1x" srcset="img/section-tv/08.webp" type="image/webp">
                    <source class="ws10-u--pr1x" srcset="img/section-tv/08.jpg" type="image/jpg">
                    <img src="img/section-tv/08.jpg" class="ws10-c-carousel-cover__img"
                        alt="Portada de serie incluida en el pack Seriefans">
                </picture>
            </li>
            <li class="ws10-c-carousel-cover__item js-carousel-cover-item">
                <picture>
                    <source class="ws10-u--pr1x" srcset="img/section-tv/09.webp" type="image/webp">
                    <source class="ws10-u--pr1x" srcset="img/section-tv/09.jpg" type="image/jpg">
                    <img src="img/section-tv/09.jpg" class="ws10-c-carousel-cover__img"
                        alt="Portada de serie incluida en el pack Seriefans">
                </picture>
            </li>
            <li class="ws10-c-carousel-cover__item js-carousel-cover-item">
                <picture>
                    <source class="ws10-u--pr1x" srcset="img/section-tv/10.webp" type="image/webp">
                    <source class="ws10-u--pr1x" srcset="img/section-tv/10.jpg" type="image/jpg">
                    <img src="img/section-tv/10.jpg" class="ws10-c-carousel-cover__img"
                        alt="Portada de serie incluida en el pack Seriefans">
                </picture>
            </li>
            <li class="ws10-c-carousel-cover__item js-carousel-cover-item">
                <picture>
                    <source class="ws10-u--pr1x" srcset="img/section-tv/11.webp" type="image/webp">
                    <source class="ws10-u--pr1x" srcset="img/section-tv/11.jpg" type="image/jpg">
                    <img src="img/section-tv/11.jpg" class="ws10-c-carousel-cover__img"
                        alt="Portada de serie incluida en el pack Seriefans">
                </picture>
            </li>
            <li class="ws10-c-carousel-cover__item js-carousel-cover-item">
                <picture>
                    <source class="ws10-u--pr1x" srcset="img/section-tv/12.webp" type="image/webp">
                    <source class="ws10-u--pr1x" srcset="img/section-tv/12.jpg" type="image/jpg">
                    <img src="img/section-tv/12.jpg" class="ws10-c-carousel-cover__img"
                        alt="Portada de serie incluida en el pack Seriefans">
                </picture>
            </li>
            <li class="ws10-c-carousel-cover__item js-carousel-cover-item">
                <picture>
                    <source class="ws10-u--pr1x" srcset="img/section-tv/13.webp" type="image/webp">
                    <source class="ws10-u--pr1x" srcset="img/section-tv/13.jpg" type="image/jpg">
                    <img src="img/section-tv/13.jpg" class="ws10-c-carousel-cover__img"
                        alt="Portada de serie incluida en el pack Seriefans">
                </picture>
            </li>

        </ul>
    </div>
    <p class="ws10-u--pt8x">
        <strong>Pack Seriefans GRATIS</strong>, este Pack incluye todas las temporadas de las series de
        <strong>HBO España,
            FOXNOW, AXN Now</strong> y muchos más canales especializados en series para verlas cuando tú
        quieras.
    </p>
    <div class="ws10-c-logo-list ws10-c-logo-list--mini">
        <ul class="ws10-c-logo-list__list">
            <li class="ws10-c-logo-list__item">
                <img src="img/section-tv/hbo-logo.png" class="ws10-c-logo-list__logo" alt="">
            </li>
            {{!-- <li class="ws10-c-logo-list__item">
                <img src="img/section-tv/amazon.png" class="ws10-c-logo-list__logo" alt="">
            </li> --}}
            <li class="ws10-c-logo-list__item">
                <img src="img/section-tv/foxnow.png" class="ws10-c-logo-list__logo" alt="">
            </li>
            <li class="ws10-c-logo-list__item">
                <img src="img/section-tv/axnnow.png" class="ws10-c-logo-list__logo" alt="">
            </li>
        </ul>
        <p class="ws10-c-logo-list__w-show-all">
            <a class="ws10-c-logo-list__show-all vfms-link" data-backdrop="seriefans"
                data-backdrop-close aria-haspopup="dialog" data-analytics-context="modulo inferior tv"
                data-analytics-element="ver todos los canales incluidos" data-analytics-category="cta"
                data-analytics-id="-6241792886380">
                Ver todos los canales incluidos
            </a>
        </p>
        <p class="ws10-c-carousel__helperText ws10-u--pl0 vfms-position-relative" id="idList"
            style="left: 0">(*)Llévate
            GRATIS el Pack Seriefans, o elige tu pack con -10€/mes dto. durante 1 año: Serielovers
            4€/mes o Cinefans 2€/mes</p>
    </div>
</section>
