<section class="vf-banner">
    <div class="ws10-o-wrapper">
        <div class="ws10-o-layout">
            <div class="vf-banner__textcontainer ws10-o-layout__item ws10-u--2/4@desktop ws10-u--3/5@tablet">
                <h2 class="ws10-u-heading--4-lt ws10-u--mb6x">Oferta para colectivos <strong>15% dto. 2 años</strong> </h2>
                <p class="ws10-u-heading--2-lt">Elige una de las <strong>ofertas que</strong> tenemos <strong>para ti</strong></p>
            </div>
        </div>
    </div>
</section>