<section class="vf-timeline ws10-o-wrapper">
			<h2 class="ws10-u-heading--4 ws10-u--mb8x ws10-u--mt8x ws10-u--mt12x@desktop"><strong>¿Cómo conseguir mi descuento de colectivo?</strong></h2>
			<ul class="ws10-c-timeline-steps">
				<li class="ws10-c-timeline-steps__item">
					<svg class="ws10-c-timeline-steps__icon" xmlns='http://www.w3.org/2000/svg'
						xmlns:xlink='http://www.w3.org/1999/xlink' width='48px' height='48px'>
						<title>Business</title>
						<use xlink:href='#icon-blog-mid'></use>
					</svg>
					<p class="ws10-c-timeline-steps__title vf-timeline--title">Introduce el código</p>
					<p class="ws10-c-timeline-steps__text vf-timeline--text">Desde tu empresa te facilitarán un código para poder acceder a nuestras ofertas.</p>
				</li>
				<li class="ws10-c-timeline-steps__item">
					<svg class="ws10-c-timeline-steps__icon" xmlns='http://www.w3.org/2000/svg'
						xmlns:xlink='http://www.w3.org/1999/xlink' width='48px' height='48px'>
						<title>Business</title>
						<use xlink:href='#icon-connected-devices-mid'></use>
					</svg>
					<p class="ws10-c-timeline-steps__title vf-timeline--title">Elige el producto</p>
					<p class="ws10-c-timeline-steps__text vf-timeline--text">Tendrás una selección de nuestro productos con ofertas especiales para ti.</p>
				</li>
				<li class="ws10-c-timeline-steps__item">
					<svg class="ws10-c-timeline-steps__icon" xmlns='http://www.w3.org/2000/svg'
						xmlns:xlink='http://www.w3.org/1999/xlink' width='48px' height='48px'>
						<title>Business</title>
						<use xlink:href='#icon-deals-mid'></use>
					</svg>
					<p class="ws10-c-timeline-steps__title vf-timeline--title">Contrata</p>
					<p class="ws10-c-timeline-steps__text vf-timeline--text">Llévate un 15% dto. 2 años, y si el producto tiene otra promoción, primero disfrutarás de ella y después comenzará a aplicarse el descuento especial.</p>
				</li>
				<li class="ws10-c-timeline-steps__item">
					<svg class="ws10-c-timeline-steps__icon" xmlns='http://www.w3.org/2000/svg'
						xmlns:xlink='http://www.w3.org/1999/xlink' width='48px' height='48px'>
						<title>Business</title>
						<use xlink:href='#icon-completed-mid'></use>
					</svg>
					<p class="ws10-c-timeline-steps__title vf-timeline--title">Disfruta de tu oferta</p>
					<p class="ws10-c-timeline-steps__text vf-timeline--text"> Recibirás un email de confirmación con el detalle de tu pedido y próximos pasos.</p>
				</li>
			</ul>
		</section>
