// CSS del microsite
.vfes-ms-content{
    .vf-banner {
        position: relative;
        background-image: url("../img/banner/cabecera_Colectivos_mobile.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        @media screen and (min-width: 970px) {
          background-image: url("../img/banner/cabecera_Colectivos_desktop.jpg");
          background-attachment: fixed;
          background-position-y: -150px;
        }
        &__textcontainer {
          padding-top: 20px;
          @media screen and (min-width: 768px) {
            padding-top: 50px;
          }
          @media screen and (min-width: 970px) {
            padding-top: 98px;
            padding-bottom: 98px;
          }
        }
      }
      .vfms-form{
        display:flex; 
        justify-content: center; 
        flex-direction: column; 
        width: 100%;
        @media screen and (min-width: 768px) {
          flex-direction: row; 
          justify-content: center; 
        }  
      }
      .vfms-input__search{
        max-width: 300px;
      }
      .vfms-button__search{
        max-width: 300px;
        margin-left: 0;
        width: 100%;
        @media screen and (min-width: 768px) {
          width: 200px;
          height: 60px;
          margin-left: 10px;
        }
      }

}