<section class="vf-addons ws10-u--pt8x ws10-o-layout">
    <div class="ws10-o-layout__item ws10-u--1/1@desktop">
        <div class="ws10-c-card ws10-c-card ws10-c-card--no-shadow">
            <div class="ws10-o-layout">
                <div class="ws10-o-layout__item ws10-u--1/1 ws10-u--1/2@tablet ws10-u--1/2@desktop vfms-addons-img">
                    <div class="ws10-c-cards-discovery-standard__image-holder">
                        <picture>
                            <source media="(min-width: 960px)" srcset="img/section-addons/family.webp" >
                            <source media="(min-width: 768px)" srcset="img/section-addons/family-mobile.jpg" >
                            <img src="img/section-addons/family-mobile.jpg" alt="" class="ws10-c-cards-discovery-standard__image vf-tv-mobile">
                        </picture>
                    </div>
                </div>
                <div class="ws10-o-layout__item ws10-u--1/1 ws10-u--1/2@tablet ws10-u--1/2@desktop ws10-u-color--dark-grey">
                    <b class="ws10-c-badge-text ws10-c-badge-text--turquoise ws10-u--mt4x">¡Nuevo!</b>
                    <h4 class="ws10-u-heading--2-lt ws10-u--pt5x">¿Necesitas más líneas? Ahora llegan las tarifas para familias</h4>
                    <p class="ws10-u--body">Descubre las tarifas de Hogar ilimitable y disfruta de datos y minutos ilimitados en todas tus líneas de móvil con 5G, la mejor fibra de Vodafone, máxima conexión WiFi con Super WiFi, una extensa selección de cine y series con HBO España y Amazon Prime y la seguridad que necesita tu familia.</p>
                    <a data-analytics-element="mas info" data-analytics-context="tarifas familiares" data-analytics-category="cta" data-analytics-id="-4843854420388" class="ws10-c-cards-discovery-standard__link ws10-c-cards-discovery-standard__link--chevron" href="https://www.vodafone.es/c/particulares/es/productos-y-servicios/vodafone-one/tarifas-familiares/" target="_self">
                        Más info
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="ws10-o-layout__item ws10-u--1/2@desktop">
        <div class="ws10-c-cards-discovery-standard ws10-c-cards-discovery-standard--medium-standard">
            <div class="ws10-c-cards-discovery-standard__text-content">
                <h3 class="ws10-u-heading--4-lt">Añade una o más <strong>líneas adicionales</strong> a tu contrato al <strong>50% de dto.</strong></h3>

                <p>
                    <a data-analytics-element="Más info" data-analytics-context="lineas adicionales" data-analytics-category="cta" data-analytics-id="-1991325351395" class="ws10-c-cards-discovery-standard__link ws10-c-cards-discovery-standard__link--chevron" href="https://www.vodafone.es/c/particulares/es/productos-y-servicios/movil/contrato/mas-lineas/" target="_self" data-analytics-id="-9639652004719">
                        Más info
                    </a>
                </p>
            </div>
            <div class="ws10-flex ws10-flex__align-items--center ws10-flex__justify--center ws10-c-cards-discovery-standard__image-holder">
                <img src="img/section-addons/icono-sim.svg" alt="icono sim">
            </div>
        </div>
    </div>
    <div class="ws10-o-layout__item ws10-u--1/2@desktop">
        <div class="ws10-c-cards-discovery-standard ws10-c-cards-discovery-standard--medium-standard">
            <div class="ws10-c-cards-discovery-standard__text-content">
                <h3 class="ws10-u-heading--4-lt">Tarifas de <strong>fibra y móviles</strong> para jóvenes <strong>Vodafone YU!</strong> Hazte yuser.</h3>
                <p>
                    <a data-analytics-element="Más info" data-analytics-context="tarifa yu" data-analytics-category="cta" data-analytics-id="-7633888735251" class="ws10-c-cards-discovery-standard__link ws10-c-cards-discovery-standard__link--chevron" href="https://www.vodafoneyu.es/tarifa-fibra-optica/" target="_self">
                        Más info
                    </a>
                </p>
            </div>
            <div class="ws10-flex ws10-flex__align-items--center ws10-flex__justify--center ws10-c-cards-discovery-standard__image-holder">
                <img src="img/section-addons/icono-yu.svg" alt="icono yu">
            </div>
        </div>
    </div>
</section>
