<!--
<section class="ws10-c-tabs-filter ws10-o-tabs" data-ws10-js="tabs-filter">
-->
<section class="ws10-u--pt4x ws10-u--pb4x">
    <div class="ws10-o-layout ws10-o-layout--stretch ws10-o-layout--center">
        <span class="ws10-c-filter">
            <input type="checkbox" class="ws10-c-filter__input" id="idFilter1" name="nameInput" value="value" checked />
            <label class="ws10-c-filter__label ws10-c-filter__label" for="idFilter1"> {{ filters.[0] }} </label>
        </span>
        <span class="ws10-c-filter ws10-c-filter--white">
            <input type="checkbox" class="ws10-c-filter__input" id="idFilter3" name="nameInput" value="value" />
            <label class="ws10-c-filter__label ws10-c-filter__label--grey" for="idFilter3"> {{ filters.[1] }} </label>
        </span>
    </div>
</section>
