<section class="ws10-u--pt4x ws10-u--pb4x ws10-align--right">
    <a
      class="ws10-c-link-chevron ws10-c-link-chevron--white"
      target="_blank"
      href="{{ legales.cta.href }}"
      data-analytics-element="card addons"
      data-analytics-context="condiciones legales"
      data-analytics-category="cta"
      data-analytics-id="-5460257368589"
    >
      {{ legales.cta.label }}
      <span class="ws10-u--hidden-visually"> color #E60000</span>
      <svg
        class="ws10-c-link-chevron__icon"
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        width="24px"
        height="24px"
      >
        <title>Flecha derecha</title>
        <use class="icon-v3" xlink:href="#icon-chevron-right"></use>
      </svg>
    </a>
</section>
