<!-- BREADCRUMBS -->
<section class="ws10-breadcrumbs ws10-u-color--bg-white">
    <ul class="ws10-o-wrapper ws10-flex vf-breadcrumbs ws10-u--mb0 ws10-u--p2x">
        <li><a class="vf-breadcrumbs__link ws10-u--mr2x" title="Inicio" target="_self" href="https://www.vodafone.es/c/particulares/es/"> Inicio</a></li>
        <li><a class="vf-breadcrumbs__link ws10-u--mr2x" title="Móvil + Fibra" target="_self" href="https://www.vodafone.es/c/particulares/es/productos-y-servicios/vodafone-one/"> Tarifas Móvil + Fibra</a></li>
        <li>Tarifas familiares</li>
    </ul>
</section>