<!-- Sección Conectividad -->
<section id="vfes-conectivity" class="vf-conectivity ws10-c-card-container-header-icon-badge ws10-u--mb4x">
    <div class="ws10-c-card ws10-c-card--no-shadow">
        <div class="ws10-c-card-container-header-icon-badge__wrapper-header">
            <div class="ws10-c-card-container-header-icon-badge__wrapper-badge">
                <b class="vf-badge ws10-c-badge vf-badge ws10-c-badge--turquoise">
                    Incluido en el paquete
                </b>
            </div>
            <div class="ws10-c-card-container-header-icon-badge__wrapper-icon ws10-u--p2x">
                <svg class="ws10-c-card-container-header-icon-badge__icon"
                        xmlns='http://www.w3.org/2000/svg'
                        xmlns:xlink='http://www.w3.org/1999/xlink'>
                    <title>Apps-mind</title>
                    <use class="icon-v3" xlink:href='#icon-connectivity'></use>
                </svg>
            </div>
            <picture>
                <source media="(min-width: 960px)"
                    class="ws10-c-card-container-header-icon-badge__header-img"
                    srcset="img/conectivity/bg-conectivity.jpg" type="image/jpg">
                <source media="(min-width: 960px)"
                    class="ws10-c-card-container-header-icon-badge__header-img"
                    srcset="img/conectivity/bg-conectivity.webp" type="image/webp">
                <source media="(min-width: 768px)"
                    class="ws10-c-card-container-header-icon-badge__header-img"
                    srcset="img/conectivity/bg-conectivity.jpg" type="image/jpg">
                <source media="(min-width: 768px)"
                    class="ws10-c-card-container-header-icon-badge__header-img"
                    srcset="img/conectivity/bg-conectivity.webp" type="image/webp">
                <img src="img/conectivity/bg-conectivity.jpg"
                    class="ws10-c-card-container-header-icon-badge__header-img">
            </picture>
        </div>
        <div class="ws10-c-card-container-header-icon-badge__wrapper-content">
            <p class="ws10-u-heading--4-lt ws10-u--mb2x">Conectividad</p>
            <h3 class="ws10-u-heading--3-lt ws10-u--mb2x"><strong>Datos Ilimitados 5G y 600Mbps de fibra</strong>
                para estar conectado dentro y fuera de tu hogar
            </h3>
            <div class="ws10-flex ws10-flex__wrap ws10-u--pb8x">
                <div class="ws10-u--1/2@desktop ws10-flex ws10-flex__align-items--center ws10-u--pt4x ws10-u--pb4x">
                    <picture>
                        <source class="vf-firefoxflex-fix" srcset="img/conectivity/moviles5g.webp" type="image/webp">
                        <source class="vf-firefoxflex-fix" srcset="img/conectivity/moviles5g.png" type="image/jpg">
                        <img class="vf-firefoxflex-fix" src="img/conectivity/moviles5g.png" alt="Moviles 5g" >
                    </picture>
                    <p class="ws10-c-paragraph ws10-u--mb0"><span data-js="numberOfLinesChange">2</span> Líneas móviles con llamadas y <strong>datos
                        ilimitados a máxima velocidad en la red 5G.</strong>
                    </p>
                </div>
                <div class="ws10-u--1/2@desktop ws10-flex ws10-flex__align-items--center ws10-u--pt4x ws10-u--pb4x">
                    <picture>
                        <source class="vf-firefoxflex-fix" srcset="img/conectivity/fiber.webp" type="image/webp">
                        <source class="vf-firefoxflex-fix" srcset="img/conectivity/fiber.jpg" type="image/jpg">
                        <img class="vf-firefoxflex-fix" src="img/conectivity/fiber.jpg" alt="fibra" >
                    </picture>
                    <div class="ws10-flex ws10-flex__direction--column">
                        <p data-vf-js="600mbps" class="ws10-c-paragraph ws10-u--mb0"><strong>600Mbps de Fibra
                            Simétrica,</strong> podrás conectar más de 25 dispositivos a la vez.
                        </p>
                        <p data-vf-js="1gbps" hidden class="ws10-c-paragraph ws10-u--mb0"><strong>1Gbps de Fibra
                            Simétrica,</strong> podrás conectar más de 35 dispositivos a la vez.
                        </p>
                        <div class="ws10-u--pl4x ws10-flex ws10-u--pt4x">
                            <div data-vf-js="600mbButton" class="ws10-u--mr8x">
                                <input class="ws10-c-input__radio" type="radio" id="radio030" name="radio" role="tab" value="Opcion1" data-analytics-category="cta" data-analytics-element="modulo superior tarifa" data-analytics-context="conectividad:fibra 600mbps" checked/>
                                <label class="ws10-c-input__label" for="radio030">600Mbps</label>
                            </div>
                            <div data-vf-js="1gbButton" >
                                <input class="ws10-c-input__radio" type="radio" id="radio031" name="radio" role="tab" value="Opcion2"  data-analytics-category="cta" data-analytics-element="modulo superior tarifa" data-analytics-context="conectividad:fibra 1gbps"/>
                                <label class="ws10-c-input__label" for="radio031">1Gbps</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ws10-u--1/2@desktop ws10-flex ws10-flex__align-items--center ws10-u--pt4x ws10-u--pb4x">
                    <picture>
                        <source class="vf-firefoxflex-fix" srcset="img/conectivity/super-wifi.webp" type="image/webp">
                        <source class="vf-firefoxflex-fix" srcset="img/conectivity/super-wifi.jpg" type="image/jpg">
                        <img class="vf-firefoxflex-fix" src="img/conectivity/super-wifi.webp" alt="Super Wifi" >
                    </picture>
                    <p class="ws10-c-paragraph ws10-u--mb0">Super WiFi <strong> máxima cobertura y calidad
                    de tu red WiFi.</strong>
                    </p>
                </div>

                <div class="ws10-u--1/2@desktop ws10-flex ws10-flex__align-items--center ws10-u--pt4x ws10-u--pb4x">
                    <picture>
                        <source class="vf-firefoxflex-fix" srcset="img/conectivity/onenumber.webp" type="image/webp">
                        <source class="vf-firefoxflex-fix" srcset="img/conectivity/onenumber.jpg" type="image/jpg">
                        <img class="vf-firefoxflex-fix" src="img/conectivity/onenumber.jpg" alt="Obe Number" >
                    </picture>
                    <div class="ws10-flex ws10-flex__direction--column">
                         <span class="vf-badge ws10-c-badge vf-badge ws10-c-badge--lemon-yellow ws10-u--mb3x ws10-u--p0 ws10-align--center ws10-u--3/4@desktop">
                         Incluido solo en el pack de 3 y 4 líneas
                         </span>
                        <p class="ws10-c-paragraph ws10-u--mb0"><strong>Mismo número y misma
                            tarifa</strong> de voz y datos en todos tus dispositivos <strong>sin
                            tener que cambiar la SIM</strong> con OneNumber.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <a class="ws10-flex ws10-flex__align-items--center ws10-flex__justify--end ws10-c-card-discovery-product__link ws10-c-card-discovery-product__link--chevron ws10-u--pr4x"
                data-analytics-element="modulo conectividad"
                data-analytics-context="mas info"
                data-analytics-id="1500090787835-0003970453209"
                data-analytics-category="cta"
                data-backdrop="vf-backdrop-conectivity"
                data-backdrop-close aria-haspopup="dialog">
            <p class="ws10-u--mb0">Más info</p>
        </a>
    </div>
    <div class="ws10-c-backdrop js-backdrop" data-ws10-js="backdrop" aria-hidden="true">
        <section id="vf-backdrop-conectivity"
                class="vf-backdrop ws10-c-backdrop__item js-backdrop-item" aria-hidden="true"
                role="dialog" aria-modal="true">
            <div class="vf-backdrop__head vf-backdrop__head-conectivity ws10-c-backdrop__head ws10-u--pb16x">
                <div class="ws10-u--pb12x ws10-flex ws10-flex__align-items--center">
                    <svg style="width: 32px; height: 32px;" class="ws10-u--mr2x"
                            xmlns="http://www.w3.org/2000/svg"
                            xmlns:xlink="http://www.w3.org/1999/xlink">
                        <title>Apps-mind</title>
                        <use class="icon-v3" xlink:href="#icon-connectivity"></use>
                    </svg>
                    <h3 class="ws10-u-heading--3-lt ws10-u--mb0">Conectividad</h3>
                </div>
                <button class="ws10-c-backdrop__close js-backdrop-close" aria-hidden="false">
                    <svg class="ws10-c-backdrop__close-icon" xmlns="http://www.w3.org/2000/svg"
                            xmlns:xlink="http://www.w3.org/1999/xlink">
                        <title>Close</title>
                        <use xlink:href="#icon-close"></use>
                    </svg>
                </button>
            </div>
            <div class="vf-backdrop__content ws10-c-backdrop__content js-backdrop-content ws10-u--pt8x">
                <section class="ws10-o-tabs vf-tabs">
                    <!--PRIMER TABS -->
                    <div class="vf-tabs-container-buttons vf-tabs-container-buttons__scrollX ws10-u--pl4x ws10-u--pr8x" role="tablist" data-vf-js="tabs" data-vf="_tabsContainer">
                        <a data-vf-js="_tabsAnimation" class="vf-tabs-button ws10-c-tray-quick-action ws10-u--mr2x ws10-o-tabs__tab--active" role="tab" id="tab-1" href="#c-contenedor-1"
                                data-analytics-element="pop up conectividad"
                                data-analytics-context="2 lineas moviles"
                                data-analytics-id="1500090787835-0005617225854"
                                data-analytics-category="cta">
                            <div class="ws10-c-tray-quick-action__content">
                                <div class="ws10-c-tray-quick-action__text">
                                    <p class="ws10-c-tray-quick-action__title ws10-c-tray-quick-action__title--bold">
                                        <span data-js="numberOfLinesChange">2</span>
                                    </p>
                                    <p class="ws10-c-tray-quick-action__title">Líneas ilimitadas</p>
                                </div>
                                <picture>
                                    <source class="ws10-c-tray-quick-action__image vf-tabs-container-buttons__image" srcset="img/conectivity/pop-up/moviles5g.webp" type="image/webp">
                                    <source class="ws10-c-tray-quick-action__image vf-tabs-container-buttons__image vf-tabs-container-buttons__image-logos ws10-u--mt2x" srcset="img/conectivity/pop-up/moviles5g.png" type="image/png">
                                    <img class="ws10-c-tray-quick-action__image vf-tabs-container-buttons__image vf-tabs-container-buttons__image-logos ws10-u--mt2x" src="img/conectivity/pop-up/moviles5g.jpg" alt="Líneas ilimitadas" >
                                </picture>
                            </div>
                        </a>
                        <a data-vf-js="_tabsAnimation" class="vf-tabs-button ws10-c-tray-quick-action ws10-u--mr2x" role="tab" id="tab-2" href="#c-contenedor-2"
                                data-analytics-element="pop up conectividad"
                                data-analytics-context="600mbps"
                                data-analytics-id="1500090787835-0003276642375"
                                data-analytics-category="cta">
                            <div class="ws10-c-tray-quick-action__content">
                                <div class="ws10-c-tray-quick-action__text">
                                    <p data-vf-js="600mbps" class="ws10-c-tray-quick-action__title ws10-c-tray-quick-action__title--bold">
                                        600Mbps
                                    </p>
                                    <p data-vf-js="1gbps" hidden class="ws10-c-tray-quick-action__title ws10-c-tray-quick-action__title--bold">
                                        1Gbps
                                    </p>
                                    <p class="ws10-c-tray-quick-action__title">Fibra simétrica</p>
                                </div>
                                <picture>
                                    <source class="ws10-c-tray-quick-action__image vf-tabs-container-buttons__image" srcset="img/conectivity/pop-up/fiber.webp" type="image/webp">
                                    <source class="ws10-c-tray-quick-action__image vf-tabs-container-buttons__image" srcset="img/conectivity/pop-up/fiber.png" type="image/png">
                                    <img class="ws10-c-tray-quick-action__image vf-tabs-container-buttons__image" src="img/conectivity/pop-up/fiber.png" alt="Fibra Simétrica" >
                                </picture>
                            </div>
                        </a>
                        <a data-vf-js="_tabsAnimation" class="vf-tabs-button ws10-c-tray-quick-action ws10-u--mr2x" role="tab" id="tab-3" href="#c-contenedor-3"
                                data-analytics-element="pop up conectividad"
                                data-analytics-context="superwifi"
                                data-analytics-id="1500090787835-0005041072710"
                                data-analytics-category="cta">
                            <div class="ws10-c-tray-quick-action__content">
                                <div class="ws10-c-tray-quick-action__text">
                                    <p class="ws10-c-tray-quick-action__title ws10-c-tray-quick-action__title--bold">
                                        Super WiFi
                                    </p>
                                    <p class="ws10-c-tray-quick-action__title">Mejor Cobertura</p>
                                </div>
                                <picture>
                                    <source class="ws10-c-tray-quick-action__image vf-tabs-container-buttons__image" srcset="img/conectivity/pop-up/super-wifi.webp" type="image/webp">
                                    <source class="ws10-c-tray-quick-action__image vf-tabs-container-buttons__image" srcset="img/conectivity/pop-up/super-wifi.png" type="image/png">
                                    <img class="ws10-c-tray-quick-action__image vf-tabs-container-buttons__image" src="img/conectivity/pop-up/super-wifi.png" alt="Super Wifi" >
                                </picture>
                            </div>
                        </a>
                        <a data-vf-js="_tabsAnimation" class="vf-tabs-button ws10-c-tray-quick-action" role="tab" id="tab-4" href="#c-contenedor-4"
                                data-analytics-element="pop up conectividad"
                                data-analytics-context="One number"
                                data-analytics-id="1500090787835-0009837251786"
                                data-analytics-category="cta">
                            <div class="ws10-c-tray-quick-action__content">
                                <div class="ws10-c-tray-quick-action__text">
                                    <p class="ws10-c-tray-quick-action__title ws10-c-tray-quick-action__title--bold">OneNumber</p>
                                    <p class="ws10-c-tray-quick-action__title">
                                        Multidispositivo
                                    </p>
                                </div>
                                <picture>
                                    <source class="ws10-c-tray-quick-action__image vf-tabs-container-buttons__image" srcset="img/conectivity/pop-up/onenumber.webp" type="image/webp">
                                    <source class="ws10-c-tray-quick-action__image vf-tabs-container-buttons__image" srcset="img/conectivity/pop-up/onenumber.png" type="image/png">
                                    <img class="ws10-c-tray-quick-action__image vf-tabs-container-buttons__image" src="img/conectivity/pop-up/onenumber.png" alt="One Number" >
                                </picture>
                            </div>
                        </a>
                    </div>
                    <div class="ws10-u--pr2x ws10-u--pl2x">
                        <div id="c-contenedor-1" role="tabpanel" class="ws10-o-tabs__panel ws10-c-card--bg-color-white ws10-u--p4x">
                            <ul class="vf-backdrop__list ws10-flex ws10-flex__wrap ws10-u--pt4x">
                                <li class="ws10-o-layout__item vf-backdrop__list--cheks ws10-u--1/2@desktop ws10-u--pb4x">
                                    <p class="ws10-u--mb0">Datos ilimitados a
                                        <strong>máxima velocidad.</strong>
                                    </p>
                                </li>
                                <li class="ws10-o-layout__item vf-backdrop__list--cheks ws10-u--1/2@desktop ws10-u--pb4x">
                                    <p class="ws10-u--mb0"><strong>Llamadas y
                                        SMS ilimitados</strong> con cualquier operador nacional las 24
                                        horas, establecimiento incluido.
                                    </p>
                                </li>
                                <li class="ws10-o-layout__item vf-backdrop__list--cheks ws10-u--1/2@desktop ws10-u--pb4x">
                                    <p class="ws10-u--mb0">Todo con la nueva
                                        <strong>conexión 5G.</strong>
                                    </p>
                                </li>
                                <li class="ws10-o-layout__item vf-backdrop__list--cheks ws10-u--1/2@desktop ws10-u--pb4x">
                                    <p class="ws10-u--mb0"><strong>Roaming
                                        incluido en la Unión Europea, Reino Unido y EE.UU.</strong> Disfruta sin
                                        preocupaciones también en EE.UU.
                                    </p>
                                </li>
                            </ul>
                        </div>
                        <div id="c-contenedor-2" role="tabpanel" class="ws10-o-tabs__panel ws10-c-card--bg-color-white ws10-u--p4x" hidden>
                            <ul class="vf-backdrop__list ws10-flex ws10-flex__wrap ws10-u--pt4x">
                                <li class="ws10-o-layout__item vf-backdrop__list--cheks ws10-u--1/2@desktop ws10-u--pb4x">
                                    <p data-vf-js="600mbps" class="ws10-u--mb0"><strong>600Mbps de
                                        fibra óptica simétrica</strong>, podrás conectar más de 25
                                        dispositivos a la vez.
                                    </p>
                                    <p data-vf-js="1gbps" hidden class="ws10-u--mb0"><strong>1Gbps de
                                        fibra óptica simétrica</strong>, podrás conectar más de 35
                                        dispositivos a la vez.
                                    </p>
                                </li>
                                <li class="ws10-o-layout__item vf-backdrop__list--cheks ws10-u--1/2@desktop ws10-u--pb4x">
                                    <p class="ws10-u--mb0"><strong>Fijo con
                                        llamadas ilimitadas</strong> a fijos y móviles.
                                    </p>
                                </li>
                            </ul>
                        </div>
                        <div id="c-contenedor-3" role="tabpanel" class="ws10-o-tabs__panel" hidden>
                            <ul class="vf-backdrop__list ws10-flex ws10-flex__wrap ws10-u--pt4x">
                                <li class="ws10-o-layout__item vf-backdrop__list--cheks ws10-u--1/2@desktop  ws10-u--pb4x">
                                    <p class="ws10-u--mb0"><strong>Super WiFi</strong> incluido
                                        para <strong>ampliar la cobertura WiFi y estabilidad de la conexión</strong> de fibra.</p>
                                </li>
                                <li class="ws10-o-layout__item vf-backdrop__list--cheks ws10-u--1/2@desktop  ws10-u--pb4x">
                                    <p class="ws10-u--mb0"><strong>Todo en la
                                        nube para monitorizar y optimizar la señal</strong>
                                        continuamente ante interferencias, movimientos dentro del hogar…
                                    </p>
                                </li>
                                <li class="ws10-o-layout__item vf-backdrop__list--cheks ws10-u--1/2@desktop  ws10-u--pb4x">
                                    <p class="ws10-u--mb0"><strong>Soporte
                                        remoto 24x7</strong> monitorizando y optimizando la conexión de
                                        forma automática.
                                    </p>
                                </li>
                                <li class="ws10-o-layout__item vf-backdrop__list--cheks ws10-u--1/2@desktop  ws10-u--pb4x">
                                    <p class="ws10-u--mb0"><strong>Incluye dos extensores</strong>, para ampliar la señal de tu router y maximizar la cobertura WiFi en tu hogar.
                                    </p>
                                </li>
                            </ul>
                        </div>
                        <div id="c-contenedor-4" role="tabpanel" class="ws10-o-tabs__panel ws10-c-card--bg-color-white ws10-u--p4x" hidden>
                            <div class="vf-backdrop__list">
                                <p class="ws10-u--pl2x vf-backdrop__list--cheks">Utiliza tu número de teléfono y tarifa sin cambiar la SIM, en el dispositivo que mejor se adapte a tus necesidades:</p>
                                <ul>
                                    <li class="ws10-u--mb2x"><strong>Smartwatches: Apple Watch 4G </strong>(SE, Series 6, Series 5, Series 4, Series 3), <strong>Samsung Watch 4G </strong>(Galaxy watch3, Galaxy active2, Galaxy watch) o <strong>cualquier otro smartwatch 4G.</strong></li>
                                    <li class="ws10-u--mb2x"><strong>Teléfono o Tablet con SIM:</strong> que quieras utilizar como dispositivo complementario a tu Smartphone.</li>
                                    <li class="ws10-u--mb2x"><strong>Smart speaker con Alexa:</strong>conecta tu número móvil a cualquier dispositivo Amazon Echo con Alexa para poder hacer y recibir llamadas utilizando solo tu voz.
                                    </li>
                                </ul>
                                <span class="vf-badge ws10-c-badge vf-badge ws10-c-badge--lemon-yellow ws10-u--mb3x ws10-u--p0 ws10-align--center ws10-u--1/3@desktop">Incluido solo en el pack de 3 y 4 líneas</span>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </section>
    </div>
</section>
