<!-- Sección Hogar Entrenimiento -->
<section id="vfes-entertainment" class="vf-entertainment ws10-c-card-container-header-icon-badge ws10-u--mb4x">
    <div class="ws10-c-card ws10-c-card--no-shadow">
        <div class="ws10-c-card-container-header-icon-badge__wrapper-header">
            <div class="ws10-c-card-container-header-icon-badge__wrapper-badge">
                <b class="vf-badge ws10-c-badge vf-badge ws10-c-badge--turquoise">
                    Incluido en el paquete
                </b>
            </div>
            <div class="ws10-c-card-container-header-icon-badge__wrapper-icon ws10-u--p2x">
                <svg class="ws10-c-card-container-header-icon-badge__icon"
                        xmlns='http://www.w3.org/2000/svg'
                        xmlns:xlink='http://www.w3.org/1999/xlink'>
                    <title>tv icon</title>
                    <use class="icon-v3" xlink:href='#icon-tv'></use>
                </svg>
            </div>
            <picture>
                <source media="(min-width: 960px)"
                    class="ws10-c-card-container-header-icon-badge__header-img"
                    srcset="img/entertainment/bg-entertainment-desktop.jpg" type="image/jpg">
                <source media="(min-width: 960px)"
                    class="ws10-c-card-container-header-icon-badge__header-img"
                    srcset="img/entertainment/bg-entertainment-desktop.webp" type="image/webp">
                <source media="(min-width: 768px)"
                    class="ws10-c-card-container-header-icon-badge__header-img"
                    srcset="img/entertainment/bg-entertainment.jpg" type="image/jpg">
                <source media="(min-width: 768px)"
                    class="ws10-c-card-container-header-icon-badge__header-img"
                    srcset="img/entertainment/bg-entertainment-desktop.webp" type="image/webp">
                <img src="img/entertainment/bg-entertainment.jpg"
                    class="ws10-c-card-container-header-icon-badge__header-img">
            </picture>
        </div>
        <div class="ws10-c-card-container-header-icon-badge__wrapper-content">
            <p class="ws10-u-heading--4-lt ws10-u--mb0">Cine y Series</p>
            <h3 class="ws10-u-heading--3-lt ws10-u--mb10x"><strong>La oferta de TV más
                completa</strong> a tu alcance
            </h3>
            <div class="ws10-flex ws10-flex__wrap ws10-flex__justify--between">
                <div class="ws10-flex ws10-flex__align-items--center ws10-u--pt4x ws10-u--pb4x ws10-u--1/2@desktop">
                    <picture>
                        <source class="vf-firefoxflex-fix" srcset="img/entertainment/decodificador.webp" type="image/webp">
                        <source class="vf-firefoxflex-fix" srcset="img/entertainment/decodificador.jpg" type="image/jpg">
                        <img class="ws10-u--pr4x vf-firefoxflex-fix" src="img/entertainment/decodificador.jpg" alt="Decodificador" >
                    </picture>
                    <p class="ws10-c-paragraph ws10-u--mb0">TV con <strong>+100 canales, +40.000
                        contenidos bajo demanda, HBO España y Amazon Prime incluidos con decodificador 4K.</strong>
                    </p>
                </div>
                <div class="ws10-flex ws10-flex__align-items--center ws10-flex__justify--around ws10-u--1/1 ws10-u--1/2@desktop">
                    <div>
                        <picture>
                            <source class="vf-bench--img" srcset="img/entertainment/logo-hbo.webp" type="image/webp">
                            <source class="vf-bench--img" srcset="img/entertainment/logo-hbo.jpg" type="image/jpg">
                            <img class="vf-bench--img" src="img/entertainment/logo-hbo.jpg" alt="Logo HBO" >
                        </picture>
                    </div>
                    <div>
                        <picture>
                            <source class="vf-bench--img" srcset="img/entertainment/logo-prime.webp" type="image/webp">
                            <source class="vf-bench--img" srcset="img/entertainment/logo-prime.jpg" type="image/jpg">
                            <img class="vf-bench--img" src="img/entertainment/logo-prime.jpg" alt="Logo Amazon Prime" >
                        </picture>
                    </div>

                </div>
            </div>
        </div>
        <a class="ws10-flex ws10-flex__align-items--center ws10-flex__justify--end ws10-c-card-discovery-product__link ws10-c-card-discovery-product__link--chevron ws10-u--pr4x"
                data-backdrop="vf-backdrop-entertainment"
                data-backdrop-close aria-haspopup="dialog"
                data-analytics-element="modulo entretenimiento"
                data-analytics-context="mas info"
                data-analytics-id="1500090787835-0004936803224"
                data-analytics-category="cta">
            <p class="ws10-u--mb0">Más info</p>
        </a>
    </div>
    <div class="ws10-c-backdrop js-backdrop " data-ws10-js="backdrop" aria-hidden="true">
        <section id="vf-backdrop-entertainment"
                class="vf-backdrop ws10-c-backdrop__item js-backdrop-item" aria-hidden="true"
                role="dialog" aria-modal="true">
            <div class="vf-backdrop__head vf-backdrop__head-entertainment ws10-c-backdrop__head ws10-u--pb16x">
                <div class="ws10-u--pb12x ws10-flex ws10-flex__align-items--center ws10-u-color--white">
                    <svg style="width: 32px; height: 32px;" class="ws10-u--mr2x"
                            xmlns="http://www.w3.org/2000/svg"
                            xmlns:xlink="http://www.w3.org/1999/xlink">
                        <title>Apps-mind</title>
                        <use class="icon-v3" xlink:href="#icon-tv"></use>
                    </svg>
                    <h3 class="ws10-u-heading--3-lt ws10-u--mb0">Cine y Series</h3>
                </div>
                <button class="ws10-c-backdrop__close js-backdrop-close ws10-u-color--white" aria-hidden="false">
                    <svg class="ws10-c-backdrop__close-icon" xmlns="http://www.w3.org/2000/svg"
                            xmlns:xlink="http://www.w3.org/1999/xlink">
                        <title>Close</title>
                        <use xlink:href="#icon-close"></use>
                    </svg>
                </button>
            </div>
            <div class="vf-backdrop__content ws10-c-backdrop__content js-backdrop-content ws10-u--pt8x">
                <section class="ws10-o-tabs vf-tabs">
                    <!--SEGUNDO TABS-->
                    <div class="vf-tabs-container-buttons vf-tabs-container-buttons__scrollX vf-tabs-container-buttons ws10-u--pl4x ws10-u--pr8x" data-vf-js="tabs" role="tablist" data-vf="_tabsContainer">
                        <a data-vf-js="_tabsAnimation"
                                class="vf-tabs-button ws10-c-tray-quick-action ws10-u--mr2x ws10-o-tabs__tab--active"
                                role="tab" id="tab-5" href="#e-contenedor-1"
                                data-analytics-element="pop up entretenimiento"
                                data-analytics-context="tv 4k"
                                data-analytics-id="1500090787835-0009084383895"
                                data-analytics-category="cta">
                            <div class="ws10-c-tray-quick-action__content">
                                <div class="ws10-c-tray-quick-action__text">
                                    <p class="ws10-c-tray-quick-action__title ws10-c-tray-quick-action__title--bold">
                                        TV 4K
                                    </p>
                                    <p class="ws10-c-tray-quick-action__title">+ 100 canales</p>
                                </div>
                                <picture>
                                    <source class="ws10-c-tray-quick-action__image vf-tabs-container-buttons__image" srcset="img/entertainment/deco-pop.webp" type="image/webp">
                                    <source class="ws10-c-tray-quick-action__image vf-tabs-container-buttons__image" srcset="img/entertainment/deco-pop.png" type="image/png">
                                    <img class="ws10-c-tray-quick-action__image vf-tabs-container-buttons__image" src="img/entertainment/deco-pop.png" alt="Decodificador" >
                                </picture>
                            </div>
                        </a>
                        <a data-vf-js="_tabsAnimation"
                                class="vf-tabs-button ws10-c-tray-quick-action ws10-u--mr2x" role="tab"
                                id="tab-6" href="#e-contenedor-2"
                                data-analytics-element="pop up entretenimiento"
                                data-analytics-context="hbo"
                                data-analytics-id="1500090787835-0003632818844"
                                data-analytics-category="cta">
                            <div class="ws10-c-tray-quick-action__content">
                                <div class="ws10-c-tray-quick-action__text">
                                    <p class="ws10-c-tray-quick-action__title ws10-c-tray-quick-action__title--bold">
                                        HBO
                                    </p>
                                    <p class="ws10-c-tray-quick-action__title ws10-c-tray-quick-action__title--bold">España</p>
                                </div>
                                <picture>
                                    <source class="ws10-c-tray-quick-action__image vf-tabs-container-buttons__image vf-tabs-container-buttons__image-logos ws10-u--mt2x" srcset="img/entertainment/hbo-pop.webp" type="image/webp">
                                    <source class="ws10-c-tray-quick-action__image vf-tabs-container-buttons__image vf-tabs-container-buttons__image-logos ws10-u--mt2x" srcset="img/entertainment/hbo-pop.png" type="image/png">
                                    <img class="ws10-c-tray-quick-action__image vf-tabs-container-buttons__image vf-tabs-container-buttons__image-logos ws10-u--mt2x" src="img/entertainment/hbo-pop.png" alt="Logo HBO" >
                                </picture>
                            </div>
                        </a>
                        <a data-vf-js="_tabsAnimation"
                                class="vf-tabs-button ws10-c-tray-quick-action ws10-u--mr2x" role="tab"
                                id="tab-7" href="#e-contenedor-3"
                                data-analytics-element="pop up entretenimiento"
                                data-analytics-context="amazon prime video"
                                data-analytics-id="1500090787835-0002915083213"
                                data-analytics-category="cta">
                            <div class="ws10-c-tray-quick-action__content">
                                <div class="ws10-c-tray-quick-action__text">
                                    <p class="ws10-c-tray-quick-action__title ws10-c-tray-quick-action__title--bold">
                                        Amazon Prime
                                    </p>
                                    <p class="ws10-c-tray-quick-action__title">con Prime Video</p>
                                </div>
                                <picture>
                                    <source class="ws10-c-tray-quick-action__image vf-tabs-container-buttons__image vf-tabs-container-buttons__image-logos ws10-u--mt2x" srcset="img/entertainment/prime-pop.webp" type="image/webp">
                                    <source class="ws10-c-tray-quick-action__image vf-tabs-container-buttons__image vf-tabs-container-buttons__image-logos ws10-u--mt2x" srcset="img/entertainment/prime-pop.png" type="image/png">
                                    <img class="ws10-c-tray-quick-action__image vf-tabs-container-buttons__image vf-tabs-container-buttons__image-logos ws10-u--mt2x" src="img/entertainment/prime-pop.png" alt="Logo Amazon Prime" >
                                </picture>
                            </div>
                        </a>
                        <a data-vf-js="_tabsAnimation"
                                class="vf-tabs-button ws10-c-tray-quick-action ws10-u--mr2x" role="tab"
                                id="tab-8" href="#e-contenedor-4"
                                data-analytics-element="pop up entretenimiento"
                                data-analytics-context="amazon prime video"
                                data-analytics-id="1500090787835-0002915083213"
                                data-analytics-category="cta">
                            <div class="ws10-c-tray-quick-action__content">
                                <div class="ws10-c-tray-quick-action__text">
                                    <p class="ws10-c-tray-quick-action__title ws10-c-tray-quick-action__title--bold">
                                        Vodafone
                                    </p>
                                    <p class="ws10-c-tray-quick-action__title ws10-c-tray-quick-action__title--bold">
                                        TV
                                    </p>
                                </div>
                                <picture>
                                    <source class="ws10-c-tray-quick-action__image vf-tabs-container-buttons__image vf-tabs-container-buttons__image-logos ws10-u--mt2x" srcset="img/entertainment/vftv-pop.webp" type="image/webp">
                                    <source class="ws10-c-tray-quick-action__image vf-tabs-container-buttons__image vf-tabs-container-buttons__image-logos ws10-u--mt2x" srcset="img/entertainment/vftv-pop.png" type="image/png">
                                    <img class="ws10-c-tray-quick-action__image vf-tabs-container-buttons__image vf-tabs-container-buttons__image-logos ws10-u--mt2x" src="img/entertainment/vftv-pop.png" alt="Logo TV 4K" >
                                </picture>
                            </div>
                        </a>
                    </div>
                    <div id="e-contenedor-1" role="tabpanel" class="ws10-o-tabs__panel ws10-c-card--bg-color-white ws10-u--p4x">
                        <ul class="vf-backdrop__list ws10-flex ws10-flex__wrap ws10-u--mb2x">
                            <li class="ws10-o-layout__item vf-backdrop__list--cheks ws10-u--1/2@desktop ws10-u--pb2x">
                                <p class="ws10-u--mb0">
                                    Accede a <strong>HBO España, Amazon Prime Video, YouTube, National Geographic Now, y más apps </strong> desde el menú de tu decodificador.
                                </p>
                            </li>
                            <li class="ws10-o-layout__item vf-backdrop__list--cheks ws10-u--1/2@desktop ws10-u--pb2x">
                                <p class="ws10-u--mb0">Vodafone TV con <strong>decodificador 4K incluido</strong> para una <strong>experiencia completa e integrada</strong>
                                </p>
                            </li>
                            <li class="ws10-o-layout__item vf-backdrop__list--cheks ws10-u--1/2@desktop ws10-u--pb2x">
                                <p class="ws10-u--mb0"><strong>3 reproducciones simultáneas</strong> (2 dispositivos + decodificador)
                                </p>
                            </li>
                            <li class="ws10-o-layout__item vf-backdrop__list--cheks ws10-u--1/2@desktop ws10-u--pb0">
                                <p class="ws10-u--mb0">Con las funcionalidades más avanzadas: <strong>Últimos 7 días, Grabación, Ver Ahora y Descarga</strong>
                                </p>
                            </li>
                        </ul>
                        <div class="ws10-flex ws10-flex__direction--column">
                            <section class="ws10-c-accordion" data-ws10-js="accordion">
                                <div class="ws10-c-accordion__item ws10-o-collapse">
                                    <a class="ws10-c-accordion__header" href="#accordion-canales-tv"
                                            data-analytics-element="pop up entretenimiento"
                                            data-analytics-context="ver canales incluidos"
                                            data-analytics-id="1500090787835-0008466063626"
                                            data-analytics-category="cta" data-ws10-collapse="linked-accordion">
                                        <h3 class="ws10-c-accordion__title">Ver canales incluidos</h3>
                                    </a>
                                    <div class="ws10-o-collapse__panel ws10-u--pt8x" id="accordion-canales-tv" hidden>
                                        <ul class="vf-accordion-tv ws10-u--m0">
                                            <li class="ws10-u--mb4x">
                                                <img alt="logo Hbo España" src="img/entertainment/pop-up/hbo-desktop.jpg">
                                                <p class="ws10-u--mb0 ws10-u--pb0">HBO España</p>
                                            </li>
                                            <li class="ws10-u--mb4x">
                                                <img alt="Amazon Prime Video" src="img/entertainment/pop-up/amazon-desplegable.png">
                                                <p class="ws10-u--mb0 ws10-u--pb0">Amazon Prime</p>
                                            </li>
                                            <li class="ws10-u--mb4x">
                                                <img alt="FOXNOW" src="img/entertainment/pop-up/foxnow-desktop.jpg">
                                                <p class="ws10-u--mb0 ws10-u--pb0">FOXNOW</p>
                                            </li>
                                            <li class="ws10-u--mb4x">
                                                <img alt="AXN Now" src="img/entertainment/pop-up/axnnow-desktop.jpg">
                                                <p class="ws10-u--mb0 ws10-u--pb0">AXN Now</p>
                                            </li>

                                            <li class="ws10-u--mb4x">
                                                <img alt="FOX" src="img/entertainment/pop-up/fox-desktop.jpg">
                                                <p class="ws10-u--mb0 ws10-u--pb0">FOX</p>
                                            </li>
                                            <li class="ws10-u--mb4x">
                                                <img alt="AXN" src="img/entertainment/pop-up/axn-desktop.jpg">
                                                <p class="ws10-u--mb0 ws10-u--pb0">AXN</p>
                                            </li>
                                            <li class="ws10-u--mb4x">
                                                <img alt="TNT" src="img/entertainment/pop-up/tnt-desktop.jpg">
                                                <p class="ws10-u--mb0 ws10-u--pb0">TNT</p>
                                            </li>
                                            <li class="ws10-u--mb4x">
                                                <img alt="Calle 13" src="img/entertainment/pop-up/calle13-desktop.jpg">
                                                <p class="ws10-u--mb0 ws10-u--pb0">Calle 13</p>
                                            </li>
                                            <li class="ws10-u--mb4x">
                                                <img alt="SYFY" src="img/entertainment/pop-up/syfy-desktop.jpg">
                                                <p class="ws10-u--mb0 ws10-u--pb0">SYFY</p>
                                            </li>
                                            <li class="ws10-u--mb4x">
                                                <img alt="Comedy Central" src="img/entertainment/pop-up/comedy-desktop.jpg">
                                                <p class="ws10-u--mb0 ws10-u--pb0">Comedy Central</p>
                                            </li>
                                            <li class="ws10-u--mb4x">
                                                <img alt="AMC" src="img/entertainment/pop-up/amc-desktop.png">
                                                <p class="ws10-u--mb0 ws10-u--pb0">AMC</p>
                                            </li>
                                            <li class="ws10-u--mb4x">
                                                <img src="img/entertainment/pop-up/foxlife-desktop.jpg">
                                                <p class="ws10-u--mb0 ws10-u--pb0">Fox Life</p>
                                            </li>



                                            <li class="ws10-u--mb4x">
                                                <img alt="AXN White" src="img/entertainment/pop-up/axnwhite-desktop.jpg">
                                                <p class="ws10-u--mb0 ws10-u--pb0">AXN White</p>
                                            </li>
                                            <li class="ws10-u--mb4x">
                                                <img alt="COSMO" src="img/entertainment/pop-up/cosmo-desktop.png">
                                                <p class="ws10-u--mb0 ws10-u--pb0">COSMO</p>
                                            </li>
                                            <li class="ws10-u--mb4x">
                                                <img alt="XTRM" src="img/entertainment/pop-up/xtrm-desktop.jpg">
                                                <p class="ws10-u--mb0 ws10-u--pb0">XTRM</p>
                                            </li>
                                            <li class="ws10-u--mb4x">
                                                <img alt="AMC Series" src="img/entertainment/pop-up/amcseries-desktop.jpg">
                                                <p class="ws10-u--mb0 ws10-u--pb0">AMC Series</p>
                                            </li>



                                            <li class="ws10-u--mb4x">
                                                <img alt="M. Estrenos" src="img/entertainment/pop-up/mestrenos-desktop.jpg">
                                                <p class="ws10-u--mb0 ws10-u--pb0">M.Estrenos</p>
                                            </li>
                                            <li class="ws10-u--mb4x">
                                                <img alt="TCM" src="img/entertainment/pop-up/tcm-desktop.jpg">
                                                <p class="ws10-u--mb0 ws10-u--pb0">TCM</p>
                                            </li>
                                            <li class="ws10-u--mb4x">
                                                <img alt="Discovery" src="img/entertainment/pop-up/sundance-desktop.jpg">
                                                <p class="ws10-u--mb0 ws10-u--pb0">Sundance TV</p>
                                            </li>
                                            <li class="ws10-u--mb4x">
                                                <img alt="Amc Cine" src="img/entertainment/pop-up/amccine-desktop.jpg">
                                                <p class="ws10-u--mb0 ws10-u--pb0">AMC Cine</p>
                                            </li>




                                            <li class="ws10-u--mb4x">
                                                <img alt="National Geographic" src="img/entertainment/pop-up/natgeo-desktop.jpg">
                                                <p class="ws10-u--mb0 ws10-u--pb0">National Geographic</p>
                                            </li>
                                            <li class="ws10-u--mb4x">
                                                <img alt="Historia" src="img/entertainment/pop-up/natgeonow-desktop.jpg">
                                                <p class="ws10-u--mb0 ws10-u--pb0">National Geographic Now</p>
                                            </li>
                                            <li class="ws10-u--mb4x">
                                                <img alt="Discovery" src="img/entertainment/pop-up/discovery-desktop.jpg">
                                                <p class="ws10-u--mb0 ws10-u--pb0">Discovery</p>
                                            </li>
                                            <li class="ws10-u--mb4x">
                                                <img alt="Odisea" src="img/entertainment/pop-up/odisea-desktop.jpg">
                                                <p class="ws10-u--mb0 ws10-u--pb0">Odisea</p>
                                            </li>

                                            <li class="ws10-u--mb4x">
                                                <img alt="National Geographic" src="img/entertainment/pop-up/natgeowild-desktop.jpg">
                                                <p class="ws10-u--mb0 ws10-u--pb0">Nat Geo Wild</p>
                                            </li>
                                            <li class="ws10-u--mb4x">
                                                <img alt="Historia" src="img/entertainment/pop-up/historia-desktop.jpg">
                                                <p class="ws10-u--mb0 ws10-u--pb0">Historia</p>
                                            </li>
                                            <li class="ws10-u--mb4x">
                                                <img alt="Viajar" src="img/entertainment/pop-up/viajar-desktop.jpg">
                                                <p class="ws10-u--mb0 ws10-u--pb0">Viajar</p>
                                            </li>
                                            <li class="ws10-u--mb4x">
                                                <img alt="Decasa" src="img/entertainment/pop-up/decasa-desktop.jpg">
                                                <p class="ws10-u--mb0 ws10-u--pb0">Decasa</p>
                                            </li>


                                            <li class="ws10-u--mb4x">
                                                <img alt="National Geographic" src="img/entertainment/pop-up/cocina-desktop.jpg">
                                                <p class="ws10-u--mb0 ws10-u--pb0">Cocina</p>
                                            </li>
                                            <li class="ws10-u--mb4x">
                                                <img alt="National Geographic" src="img/entertainment/pop-up/blaze-desktop.jpg">
                                                <p class="ws10-u--mb0 ws10-u--pb0">Blaze</p>
                                            </li>
                                            <li class="ws10-u--mb4x">
                                                <img alt="Crimen e investigación" src="img/entertainment/pop-up/crimen-desktop.jpg">
                                                <p class="ws10-u--mb0 ws10-u--pb0">Crimen e investigación</p>
                                            </li>
                                            <li class="ws10-u--mb4x">
                                                <img alt="My Zen" src="img/entertainment/pop-up/myzentv-desktop.jpg">
                                                <p class="ws10-u--mb0 ws10-u--pb0">My Zen TV</p>
                                            </li>
                                            <li class="ws10-u--mb4x">
                                                <img alt="Slow Channel" src="img/entertainment/pop-up/slow-desktop.jpg">
                                                <p class="ws10-u--mb0 ws10-u--pb0">Slow Channel</p>
                                            </li>
                                          
                                            <li class="ws10-u--mb4x">
                                                <img alt="AMC Documentales" src="img/entertainment/pop-up/amcdocus-desktop.jpg">
                                                <p class="ws10-u--mb0 ws10-u--pb0">AMC Documentales</p>
                                            </li>

                                            <li class="ws10-u--mb4x">
                                                <img alt="AMC Entretenimiento" src="img/entertainment/pop-up/amcentretenimiento-desktop.jpg">
                                                <p class="ws10-u--mb0 ws10-u--pb0">AMC Entretenimiento</p>
                                            </li>

                                            <li class="ws10-u--mb4x">
                                                <img alt="Discovery" src="img/entertainment/pop-up/disneyjr-desktop.jpg">
                                                <p class="ws10-u--mb0 ws10-u--pb0">Disney Jr.</p>
                                            </li>
                                            <li class="ws10-u--mb4x">
                                                <img alt="Odisea" src="img/entertainment/pop-up/nickjr-desktop.jpg">
                                                <p class="ws10-u--mb0 ws10-u--pb0">Nick Jr.</p>
                                            </li>


                                            <li class="ws10-u--mb4x">
                                                <img alt="Nickelodeon" src="img/entertainment/pop-up/nickelodeon-desktop.jpg">
                                                <p class="ws10-u--mb0 ws10-u--pb0">Nickelodeon</p>
                                            </li>

                                            <li class="ws10-u--mb4x">
                                                <img alt="Canal Panda" src="img/entertainment/pop-up/panda-desktop.jpg">
                                                <p class="ws10-u--mb0 ws10-u--pb0">Canal Panda</p>
                                            </li>

                                            <li class="ws10-u--mb4x">
                                                <img alt="Baby TV" src="img/entertainment/pop-up/babytv-desktop.jpg">
                                                <p class="ws10-u--mb0 ws10-u--pb0">Baby TV</p>
                                            </li>
                                            <li class="ws10-u--mb4x">
                                                <img alt="My Nick" src="img/entertainment/pop-up/mynick-desktop.jpg">
                                                <p class="ws10-u--mb0 ws10-u--pb0">My Nick Jr.</p>
                                            </li>



                                            <li class="ws10-u--mb4x">
                                                <img alt="AMC Infantil" src="img/entertainment/pop-up/amcinfantil-desktop.jpg">
                                                <p class="ws10-u--mb0 ws10-u--pb0">AMC Infantil</p>
                                            </li>

                                            <li class="ws10-u--mb4x">
                                                <img alt="MTV" src="img/entertainment/pop-up/mtv-desktop.jpg">
                                                <p class="ws10-u--mb0 ws10-u--pb0">MTV</p>
                                            </li>

                                            <li class="ws10-u--mb4x">
                                                <img alt="MyMTV Music" src="img/entertainment/pop-up/mymtv-desktop.jpg">
                                                <p class="ws10-u--mb0 ws10-u--pb0">MyMTV Music</p>
                                            </li>
                                            <li class="ws10-u--mb4x">
                                                <img alt="SOL Música" src="img/entertainment/pop-up/solmusica-desktop.jpg">
                                                <p class="ws10-u--mb0 ws10-u--pb0">SOL Música</p>
                                            </li>



                                            <li class="ws10-u--mb4x">
                                                <img alt="HIT TV" src="img/entertainment/pop-up/hittv-desktop.jpg">
                                                <p class="ws10-u--mb0 ws10-u--pb0">HIT TV</p>
                                            </li>
                                            <li class="ws10-u--mb4x">
                                                <img alt="Eurosport 1" src="img/entertainment/pop-up/eurosport-desktop.jpg">
                                                <p class="ws10-u--mb0 ws10-u--pb0">Eurosport 1</p>
                                            </li>
                                            <li class="ws10-u--mb4x">
                                                <img alt="Selekt" class="vf-width" src="img/entertainment/pop-up/selekt-desktop.png">
                                                <p class="ws10-u--mb0 ws10-u--pb0">Selekt</p>
                                            </li>
                                            <li class="ws10-u--mb4x">
                                                <img alt="Euronews" src="img/entertainment/pop-up/euronews-desktop.jpg">
                                                <p class="ws10-u--mb0 ws10-u--pb0">Euronews</p>
                                            </li>
                                            <li class="ws10-u--mb4x">
                                                <img alt="CNN International" src="img/entertainment/pop-up/cnn-international-desktop.jpg">
                                                <p class="ws10-u--mb0 ws10-u--pb0">CNN International</p>
                                            </li>


                                            <li class="ws10-u--mb4x">
                                                <img alt="CNBC" src="img/entertainment/pop-up/cnbc-desktop.jpg">
                                                <p class="ws10-u--mb0 ws10-u--pb0">CNBC</p>
                                            </li>

                                            <li class="ws10-u--mb4x">
                                                <img alt="BLOOMBERANG" src="img/entertainment/pop-up/bloomberg-desktop.jpg">
                                                <p class="ws10-u--mb0 ws10-u--pb0">BLOOMBERANG</p>
                                            </li>

                                            <li class="ws10-u--mb4x">
                                                <img alt="BBC HD" src="img/entertainment/pop-up/bbchd-desktop.jpg">
                                                <p class="ws10-u--mb0 ws10-u--pb0">BBC HD</p>
                                            </li>

                                            <li class="ws10-u--mb4x">
                                                <img alt="Aljazeera" src="img/entertainment/pop-up/aljazeera-desktop.jpg">
                                                <p class="ws10-u--mb0 ws10-u--pb0">Aljazeera</p>
                                            </li>

                                            <li class="ws10-u--mb4x">
                                                <img alt="CGTN" src="img/entertainment/pop-up/cgtn-desktop.jpg">
                                                <p class="ws10-u--mb0 ws10-u--pb0">CGTN</p>
                                            </li>

                                            <li class="ws10-u--mb4x">
                                                <img alt="RT" src="img/entertainment/pop-up/rt-desktop.jpg">
                                                <p class="ws10-u--mb0 ws10-u--pb0">RT</p>
                                            </li>

                                            <li class="ws10-u--mb4x">
                                                <img alt="France 24" src="img/entertainment/pop-up/france-desktop.jpg">
                                                <p class="ws10-u--mb0 ws10-u--pb0">France 24</p>
                                            </li>
                                            <li class="ws10-u--mb4x">
                                                <img alt="Canal Parlamento" src="img/entertainment/pop-up/canalparlamento-desktop.jpg">
                                                <p class="ws10-u--mb0 ws10-u--pb0">Canal Parlamento</p>
                                            </li>


                                            <li class="ws10-u--mb4x">
                                                <img alt="EWTN" src="img/entertainment/pop-up/ewtn-desktop.jpg">
                                                <p class="ws10-u--mb0 ws10-u--pb0">EWTN</p>
                                            </li>

                                            <li class="ws10-u--mb4x">
                                                <img alt="DW" src="img/entertainment/pop-up/dw-desktop.jpg">
                                                <p class="ws10-u--mb0 ws10-u--pb0">DW</p>
                                            </li>

                                            <li class="ws10-u--mb4x">
                                                <img alt="TV5 Monde" src="img/entertainment/pop-up/tv5monde-desktop.jpg">
                                                <p class="ws10-u--mb0 ws10-u--pb0">TV5 Monde</p>
                                            </li>
                                            <li class="ws10-u--mb4x">
                                                <img alt="RTM" src="img/entertainment/pop-up/rtm-desktop.jpg">
                                                <p class="ws10-u--mb0 ws10-u--pb0">RTM</p>
                                            </li>


                                            <li class="ws10-u--mb4x">
                                                <img alt="TVP" src="img/entertainment/pop-up/tvp-desktop.jpg">
                                                <p class="ws10-u--mb0 ws10-u--pb0">TVP</p>
                                            </li>

                                            <li class="ws10-u--mb4x">
                                                <img alt="PRO TV" src="img/entertainment/pop-up/protv-desktop.jpg">
                                                <p class="ws10-u--mb0 ws10-u--pb0">PRO TV</p>
                                            </li>

                                            <li class="ws10-u--mb4x">
                                                <img alt="AZ Corazón" src="img/entertainment/pop-up/azcorazon-desktop.jpg">
                                                <p class="ws10-u--mb0 ws10-u--pb0">AZ Corazón</p>
                                            </li>
                                            <li class="ws10-u--mb4x">
                                                <img alt="El Trece TV" src="img/entertainment/pop-up/eltrecetv-desktop.jpg">
                                                <p class="ws10-u--mb0 ws10-u--pb0">El Trece TV</p>
                                            </li>



                                            <li class="ws10-u--mb4x">
                                                <img alt="Ve Plus TV" src="img/entertainment/pop-up/veplustv-desktop.jpg">
                                                <p class="ws10-u--mb0 ws10-u--pb0">Ve Plus TV</p>
                                            </li>

                                            <li class="ws10-u--mb4x">
                                                <img alt="TV Chile" src="img/entertainment/pop-up/tv-chile-desktop.jpg">
                                                <p class="ws10-u--mb0 ws10-u--pb0">TV Chile</p>
                                            </li>

                                            <li class="ws10-u--mb4x">
                                                <img alt="Cubavisión Internacional" src="img/entertainment/pop-up/cubavision-internacional-desktop.jpg">
                                                <p class="ws10-u--mb0 ws10-u--pb0">Cubavisión Internacional</p>
                                            </li>
                                            <li class="ws10-u--mb4x">
                                                <img alt="Caracol" src="img/entertainment/pop-up/caracol-desktop.jpg">
                                                <p class="ws10-u--mb0 ws10-u--pb0">Caracol</p>
                                            </li>
                                        </ul>
                                        <p>También se incluye la <strong>TDT con todos los canales autonómicos, regionales y locales</strong></p>
                                    </div>
                                </div>
                                <div class="ws10-c-accordion__item ws10-o-collapse">
                                    <a class="ws10-c-accordion__header"  href="#accordion-funcionality" data-ws10-collapse="linked-accordion"  data-analytics-element="pop up entretenimiento"
                                            data-analytics-context="ver funcionalidades"
                                            data-analytics-id="1500090787835-0007169029645"
                                            data-analytics-category="cta">
                                        <h3 class="ws10-c-accordion__title">Ver funcionalidades de TV</h3>
                                    </a>
                                    <div class="ws10-o-collapse__panel" id="accordion-funcionality" hidden>
                                        <div class="ws10-c-accordion__content">
                                            <section class="ws10-c-product-detail-discover">
                                                <div class="ws10-c-product-detail-discover__wrapper-shape-text ws10-flex__align-items--center ws10-u--pb3x">
                                                    <div class="vf-accordion-funcionality__circle ws10-u-color--bg-aluminium">
                                                        <img alt="icono descarga" src="img/entertainment/download.png">
                                                    </div>
                                                    <p class="ws10-c-product-detail-discover__text">
                                                        Descarga tus contenidos para verlos estés donde estés y cuando quieras.
                                                    </p>
                                                </div>
                                                <div class="ws10-c-product-detail-discover__wrapper-shape-text ws10-flex__align-items--center ws10-u--pb3x">
                                                    <div class="vf-accordion-funcionality__circle ws10-u-color--bg-aluminium">
                                                        <img alt="icono pause" src="img/entertainment/pause.png">
                                                    </div>
                                                    <p class="ws10-c-product-detail-discover__text">
                                                        Control del Directo: Para, rebobina y pasa a cámara lenta
                                                    </p>
                                                </div>
                                                <div class="ws10-c-product-detail-discover__wrapper-shape-text ws10-flex__align-items--center ws10-u--pb3x">
                                                    <div class="vf-accordion-funcionality__circle ws10-u-color--bg-aluminium">
                                                        <svg class="vf-accordion-funcionality__circle--svg" xmlns='http://www.w3.org/2000/svg'
                                                                xmlns:xlink='http://www.w3.org/1999/xlink'>
                                                            <title>Título de icono</title>
                                                            <use class="icon-v3" xlink:href="#icon-cloud-upload-mid"></use>
                                                        </svg>
                                                    </div>
                                                    <p class="ws10-c-product-detail-discover__text">
                                                        Más de 350 horas de grabación en la nube.
                                                    </p>
                                                </div>
                                                <div class="ws10-c-product-detail-discover__wrapper-shape-text ws10-flex__align-items--center ws10-u--pb3x">
                                                    <div class="vf-accordion-funcionality__circle ws10-u-color--bg-aluminium">
                                                        <svg class="vf-accordion-funcionality__circle--svg" xmlns='http://www.w3.org/2000/svg'
                                                                xmlns:xlink='http://www.w3.org/1999/xlink'>
                                                            <title>Título de icono</title>
                                                            <use class="icon-v3" xlink:href="#icon-completed-mid"></use>
                                                        </svg>
                                                    </div>
                                                    <p class="ws10-c-product-detail-discover__text">
                                                        La televisión aprende de tus gustos y te recomienda y encuentra contenido que estás buscando.
                                                    </p>
                                                </div>
                                                <div class="ws10-c-product-detail-discover__wrapper-shape-text ws10-flex__align-items--center ws10-u--pb3x">
                                                    <div class="vf-accordion-funcionality__circle ws10-u-color--bg-aluminium">
                                                        <svg class="vf-accordion-funcionality__circle--svg" xmlns='http://www.w3.org/2000/svg'
                                                                xmlns:xlink='http://www.w3.org/1999/xlink'>
                                                            <title>Título de icono</title>
                                                            <use class="icon-v3" xlink:href="#icon-portals-for-videos-mid"></use>
                                                        </svg>
                                                    </div>
                                                    <p class="ws10-c-product-detail-discover__text">
                                                        Podrás ver la programación de la última semana y poner un programa ya comenzado desde el inicio.
                                                    </p>
                                                </div>
                                                <div class="ws10-c-product-detail-discover__wrapper-shape-text ws10-flex__align-items--center ws10-u--pb3x">
                                                    <div class="vf-accordion-funcionality__circle ws10-u-color--bg-aluminium">
                                                        <svg class="vf-accordion-funcionality__circle--svg" xmlns='http://www.w3.org/2000/svg'
                                                                xmlns:xlink='http://www.w3.org/1999/xlink'>
                                                            <title>Título de icono</title>
                                                            <use class="icon-v3" xlink:href="#icon-connected-devices-mid"></use>
                                                        </svg>
                                                    </div>
                                                    <p class="ws10-c-product-detail-discover__text">
                                                        Con el Servicio Multidispositivo puedes ver tus contenidos en tu smartphone, tablet,  PC, Fire TV Stick, Chromecast y Smart TV." y el logo que acompaña es el de multidispositivo que es como un bodegon con un PC, un móvil y una tablet.
                                                    </p>
                                                </div>
                                            </section>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>

                    </div>
                    <div id="e-contenedor-2" role="tabpanel" class="ws10-o-tabs__panel ws10-c-card--bg-color-white ws10-u--p4x" hidden>
                        <div class="vf-backdrop__list ws10-flex ws10-flex__wrap ws10-u--pt4x">
                            <div class="vf-backdrop__list--cheks">
                                <p class="ws10-u--mb0">HBO España con un extenso <strong>catálogo de miles de contenidos bajo demanda</strong>: temporadas completas, nuevas temporadas emitidas al mismo que en EEUU, últimos estrenos y series en exclusiva.
                                </p>
                            </div>
                        </div>
                        <div class="ws10-flex vf-entertainment-cartelas__container">
                            <div class="ws10-flex ws10-flex__direction--column ws10-u--mt4x vf-entertainment-cartelas__mobile">
                                <div class="ws10-flex ws10-flex__justify--around ws10-flex__align-items--center ws10-u--mb1x">
                                    <img class="vf-border-radius ws10-u--mr1x" alt="Cartela Patria" src="img/entertainment/pop-up/cartelas/hbo/patria@mov.jpg">
                                    <img class="vf-border-radius ws10-u--mr1x" alt="Cartela Westworld" src="img/entertainment/pop-up/cartelas/hbo/westworld@mov.jpg">
                                </div>
                                <div class="ws10-flex ws10-flex__justify--around ws10-flex__align-items--center">
                                    <img class="vf-border-radius ws10-u--mr1x" alt="Cartela Succession" src="img/entertainment/pop-up/cartelas/hbo/succession@mov.jpg">
                                    <img class="vf-border-radius ws10-u--mr1x" alt="Cartela 30monedas" src="img/entertainment/pop-up/cartelas/hbo/30monedas@mov.jpg">
                                </div>
                            </div>
                            <div class="ws10-flex ws10-flex__direction--column ws10-u--mt4x vf-entertainment-cartelas__mobile">
                                <div class="ws10-flex ws10-flex__justify--around ws10-flex__align-items--center ws10-u--mb1x">
                                    <img class="vf-border-radius  ws10-u--mr1x" alt="Cartela Euphoria" src="img/entertainment/pop-up/cartelas/hbo/euphoria@mov.jpg">
                                    <img class="vf-border-radius ws10-u--mr1x" alt="Cartela El Cuento de la Criada" src="img/entertainment/pop-up/cartelas/hbo/ecdl@mov.jpg">
                                </div>
                                <div class="ws10-flex ws10-flex__justify--around ws10-flex__align-items--center">
                                    <img class="vf-border-radius ws10-u--mr1x" alt="Cartela Watchmen" src="img/entertainment/pop-up/cartelas/hbo/watchmen@mov.jpg">
                                    <img class="vf-border-radius ws10-u--mr1x" alt="Cartela Undoing" src="img/entertainment/pop-up/cartelas/hbo/undoing@mov.jpg">
                                </div>
                            </div>
                            <div class="ws10-flex ws10-flex__direction--column ws10-u--mt8x vf-entertainment-cartelas__desktop">
                                <div class="ws10-flex ws10-flex__justify--around ws10-flex__align-items--center ws10-u--mb1x">
                                    <img class="vf-border-radius ws10-u--mr1x" alt="Cartela Patria" src="img/entertainment/pop-up/cartelas/hbo/patria@desktop.jpg">
                                    <img class="vf-border-radius ws10-u--mr1x" alt="Cartela Westworld" src="img/entertainment/pop-up/cartelas/hbo/westworld@desktop.jpg">
                                </div>
                                <div class="ws10-flex ws10-flex__justify--around ws10-flex__align-items--center">
                                    <img class="vf-border-radius ws10-u--mr1x" alt="Cartela Succession" src="img/entertainment/pop-up/cartelas/hbo/succession@desktop.jpg">
                                    <img class="vf-border-radius ws10-u--mr1x" alt="Cartela 30 monedas" src="img/entertainment/pop-up/cartelas/hbo/30monedas@desktop.jpg">

                                </div>
                            </div>
                            <div class="ws10-flex ws10-flex__direction--column ws10-u--mt8x vf-entertainment-cartelas__desktop">
                                <div class="ws10-flex ws10-flex__justify--around ws10-flex__align-items--center ws10-u--mb1x">
                                    <img class="vf-border-radius ws10-u--mr1x" alt="Cartela Euphoria" src="img/entertainment/pop-up/cartelas/hbo/euphoria@desktop.jpg">

                                    <img class="vf-border-radius ws10-u--mr1x" alt="Cartela El Cuento de la Criada" src="img/entertainment/pop-up/cartelas/hbo/ecdl@desktop.jpg">
                                </div>
                                <div class="ws10-flex ws10-flex__justify--around ws10-flex__align-items--center">
                                    <img class="vf-border-radius ws10-u--mr1x" alt="Cartela Watchmen" src="img/entertainment/pop-up/cartelas/hbo/watchmen@desktop.jpg">
                                    <img class="vf-border-radius ws10-u--mr1x" alt="Cartela Chernobyl" src="img/entertainment/pop-up/cartelas/hbo/undoing@desktop.jpg">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="e-contenedor-3" role="tabpanel" class="ws10-o-tabs__panel ws10-c-card--bg-color-white ws10-u--p4x" hidden>
                        <ul class="vf-backdrop__list ws10-flex ws10-flex__wrap ws10-u--pt4x">
                            <div class="vf-backdrop__list--cheks ws10-u--2/3@desktop ws10-u--pb4x">
                                <p class="ws10-u--mb0">Amazon Prime con <strong>todo el catálogo de Prime Video,</strong> y todos los <strong>beneficios de una suscripción Prime.</strong>
                                </p>
                            </div>
                        </ul>
                        <div class="ws10-flex vf-entertainment-cartelas__container">
                            <div class="ws10-flex ws10-flex__direction--column ws10-u--mt4x vf-entertainment-cartelas__mobile">
                                <div class="ws10-flex ws10-flex__justify--around ws10-flex__align-items--center ws10-u--mb1x">
                                    <img class="vf-border-radius ws10-u--mr1x" alt="Cartela Boys" src="img/entertainment/pop-up/cartelas/prime-video/boys@mov.jpg">
                                    <img class="vf-border-radius ws10-u--mr1x" alt="Cartela Carnival" src="img/entertainment/pop-up/cartelas/prime-video/carnival@mov.jpg">
                                </div>
                                <div class="ws10-flex ws10-flex__justify--around ws10-flex__align-items--center">
                                    <img class="vf-border-radius ws10-u--mr1x" alt="Cartela Hampa" src="img/entertainment/pop-up/cartelas/prime-video/hampa@mov.jpg">
                                    <img class="vf-border-radius ws10-u--mr1x" alt="Cartela Hanna" src="img/entertainment/pop-up/cartelas/prime-video/hanna@mov.jpg">
                                </div>
                            </div>
                            <div class="ws10-flex ws10-flex__direction--column ws10-u--mt4x vf-entertainment-cartelas__mobile">
                                <div class="ws10-flex ws10-flex__justify--around ws10-flex__align-items--center ws10-u--mb1x">
                                    <img class="vf-border-radius ws10-u--mr1x" alt="Cartela Picard" src="img/entertainment/pop-up/cartelas/prime-video/picard@mov.jpg">
                                    <img class="vf-border-radius  ws10-u--mr1x" alt="Cartela litles" src="img/entertainment/pop-up/cartelas/prime-video/litles@mov.jpg">
                                </div>
                                <div class="ws10-flex ws10-flex__justify--around ws10-flex__align-items--center">
                                    <img class="vf-border-radius ws10-u--mr1x" alt="Cartela Utopia" src="img/entertainment/pop-up/cartelas/prime-video/utopia@mov.jpg">
                                    <img class="vf-border-radius ws10-u--mr1x" alt="Cartela Marvelous" src="img/entertainment/pop-up/cartelas/prime-video/marvelous@mov.jpg">
                                </div>
                            </div>
                            <div class="ws10-flex ws10-flex__direction--column ws10-u--mt8x vf-entertainment-cartelas__desktop">
                                <div class="ws10-flex ws10-flex__justify--around ws10-flex__align-items--center ws10-u--mb1x">
                                    <img class="vf-border-radius ws10-u--mr1x" alt="Cartela Boys" src="img/entertainment/pop-up/cartelas/prime-video/boys@desktop.jpg">
                                    <img class="vf-border-radius ws10-u--mr1x" alt="Cartela Carnival" src="img/entertainment/pop-up/cartelas/prime-video/carnival@desktop.jpg">
                                </div>
                                <div class="ws10-flex ws10-flex__justify--around ws10-flex__align-items--center">
                                    <img class="vf-border-radius ws10-u--mr1x" alt="Cartela Hampa" src="img/entertainment/pop-up/cartelas/prime-video/hampa@desktop.jpg">
                                    <img class="vf-border-radius ws10-u--mr1x" alt="Cartela Hanna" src="img/entertainment/pop-up/cartelas/prime-video/hanna@desktop.jpg">

                                </div>
                            </div>
                            <div class="ws10-flex ws10-flex__direction--column ws10-u--mt8x vf-entertainment-cartelas__desktop">
                                <div class="ws10-flex ws10-flex__justify--around ws10-flex__align-items--center ws10-u--mb1x">
                                    <img class="vf-border-radius ws10-u--mr1x" alt="Cartela Litles" src="img/entertainment/pop-up/cartelas/prime-video/litles@desktop.jpg">
                                    <img class="vf-border-radius ws10-u--mr1x" alt="Cartela Picard" src="img/entertainment/pop-up/cartelas/prime-video/picard@desktop.jpg">
                                </div>
                                <div class="ws10-flex ws10-flex__justify--around ws10-flex__align-items--center">
                                    <img class="vf-border-radius ws10-u--mr1x" alt="Cartela Marvelous" src="img/entertainment/pop-up/cartelas/prime-video/marvelous@desktop.jpg">
                                    <img class="vf-border-radius ws10-u--mr1x" alt="Cartela Utopia" src="img/entertainment/pop-up/cartelas/prime-video/utopia@desktop.jpg">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="e-contenedor-4" role="tabpanel" class="ws10-o-tabs__panel ws10-c-card--bg-color-white ws10-u--p4x" hidden>
                        <ul class="vf-backdrop__list ws10-flex ws10-flex__wrap ws10-u--pt4x">
                            <div class="vf-backdrop__list--cheks ws10-u--2/3@desktop  ws10-u--pb4x">
                                <p class="ws10-u--mb0">Vodafone TV: disfruta de <strong>miles de contenidos bajo demanda</strong> y mucho más en el extenso catálogo de <strong>cine y series</strong> que incluye Vodafone TV
                                </p>
                            </div>
                        </ul>
                        <div class="ws10-flex ws10-flex__align-content--around">
                            <div class="ws10-flex ws10-flex__direction--column ws10-u--mt4x vf-entertainment-cartelas__mobile">
                                <div class="ws10-flex ws10-flex__justify--around ws10-flex__align-items--center ws10-u--mb1x">
                                    <img class="vf-border-radius ws10-u--mr1x" alt="Cartela Absentia" src="img/entertainment/pop-up/cartelas/vodafone-tv/absentia@mov.jpg">
                                    <img class="vf-border-radius ws10-u--mr1x" alt="Cartela Bowie" src="img/entertainment/pop-up/cartelas/vodafone-tv/bowie@mov.jpg">
                                </div>
                                <div class="ws10-flex ws10-flex__justify--around ws10-flex__align-items--center">
                                    <img class="vf-border-radius ws10-u--mr1x" alt="Cartela The Walking Dead" src="img/entertainment/pop-up/cartelas/vodafone-tv/thewalkingdead@mov.jpg">
                                    <img class="vf-border-radius ws10-u--mr1x" alt="Cartela Disney" src="img/entertainment/pop-up/cartelas/vodafone-tv/disney@mov.jpg">
                                </div>
                            </div>
                            <div class="ws10-flex ws10-flex__direction--column ws10-u--mt8x vf-entertainment-cartelas__desktop">
                                <div class="ws10-flex ws10-flex__justify--around ws10-flex__align-items--center ws10-u--mb1x">
                                    <img class="vf-border-radius ws10-u--mr1x" alt="Cartela Absentia" src="img/entertainment/pop-up/cartelas/vodafone-tv/absentia@desktop.jpg">
                                    <img class="vf-border-radius ws10-u--mr1x" alt="Cartela The Walking Dead" src="img/entertainment/pop-up/cartelas/vodafone-tv/bowie@desktop.jpg">
                                </div>
                                <div class="ws10-flex ws10-flex__justify--around ws10-flex__align-items--center">
                                    <img class="vf-border-radius ws10-u--mr1x" alt="Cartela The Walking Dead" src="img/entertainment/pop-up/cartelas/vodafone-tv/thewalkingdead@desktop.jpg">
                                    <img class="vf-border-radius ws10-u--mr1x" alt="Cartela Disney" src="img/entertainment/pop-up/cartelas/vodafone-tv/disney@desktop.jpg">
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </section>
    </div>
</section>
