<!-- Sección Próximos pasos -->
<section id="family-comparative" class="vf-steps" >
    <h3 class="ws10-u-heading--4">
        <span>¿Cuáles son los siguientes pasos?</span>
    </h3>
    <ul class="ws10-c-timeline-steps">
        <li class="ws10-c-timeline-steps__item ws10-u--pr2x ws10-u--pl2x">
            <svg class="ws10-c-timeline-steps__icon" xmlns='http://www.w3.org/2000/svg'
                    xmlns:xlink='http://www.w3.org/1999/xlink' width='48px' height='48px'>
                <title>Business</title>
                <use xlink:href='#icon-shopping-trolley-mid'></use>
            </svg>
            <h4 class="ws10-c-timeline-steps__title">Compra online</h4>
            <p class="ws10-c-timeline-steps__text">Recibirás un email de confirmación con el detalle de tu
                pedido y próximos pasos para conseguir todos los productos.
            </p>
        </li>
        <li class="ws10-c-timeline-steps__item">
            <svg class="ws10-c-timeline-steps__icon" xmlns='http://www.w3.org/2000/svg'
                    xmlns:xlink='http://www.w3.org/1999/xlink' width='48px' height='48px'>
                <title>Business</title>
                <use xlink:href='#icon-engineer-mid'></use>
            </svg>
            <h4 class="ws10-c-timeline-steps__title">Cita de instalación</h4>
            <p class="ws10-c-timeline-steps__text">Una vez contratado, un experto se pondrá en contacto contigo para concretar la fecha de instalación que más te convenga. ¡Tú eliges!</p>
        </li>
        <li class="ws10-c-timeline-steps__item">
            <svg class="ws10-c-timeline-steps__icon" xmlns='http://www.w3.org/2000/svg'
                    xmlns:xlink='http://www.w3.org/1999/xlink' width='48px' height='48px'>
                <title>Business</title>
                <use xlink:href='#icon-calendar-mid'></use>
            </svg>
            <h4 class="ws10-c-timeline-steps__title">Día de instalación</h4>
            <p class="ws10-c-timeline-steps__text">El técnico llevará el router, los extensores de Super WiFi y el decodificador.
            </p>
        </li>
        <li class="ws10-c-timeline-steps__item">
            <svg class="ws10-c-timeline-steps__icon" xmlns='http://www.w3.org/2000/svg'
                    xmlns:xlink='http://www.w3.org/1999/xlink' width='48px' height='48px'>
                <title>Business</title>
                <use xlink:href='#icon-business-mid'></use>
            </svg>
            <h4 class="ws10-c-timeline-steps__title">Portabilidad</h4>
            <p class="ws10-c-timeline-steps__text">Eliges la fecha y lugar de entrega de tu nueva SIM del móvil,
                y sabrás el día exacto del cambio. Nos aseguramos de que no te quedas sin línea.
            </p>
        </li>
        <li class="ws10-c-timeline-steps__item">
            <svg class="ws10-c-timeline-steps__icon" xmlns='http://www.w3.org/2000/svg'
                    xmlns:xlink='http://www.w3.org/1999/xlink' width='48px' height='48px'>
                <title>Business</title>
                <use xlink:href='#icon-unified-communication-mid'></use>
            </svg>
            <h4 class="ws10-c-timeline-steps__title">Mi Vodafone</h4>
            <p class="ws10-c-timeline-steps__text">¡Ya eres de Vodafone! Accede a la app para gestionar, activar
                y hacer seguimiento de todos los productos.
            </p>
        </li>
    </ul>
</section>