<!-- Sección Hogar inteligente -->
<section id="vfes-smarthome" class="vf-smarthome ws10-c-card-container-header-icon-badge">
    <div class="ws10-c-card ws10-c-card--no-shadow">
        <div class="ws10-c-card-container-header-icon-badge__wrapper-header">
            <div class="ws10-c-card-container-header-icon-badge__wrapper-badge">
                <b class="vf-badge ws10-c-badge vf-badge ws10-c-badge--turquoise">
                    Incluido en el paquete
                </b>
            </div>
            <div class="ws10-c-card-container-header-icon-badge__wrapper-icon ws10-u--p2x">
                <svg class="ws10-c-card-container-header-icon-badge__icon"
                        xmlns='http://www.w3.org/2000/svg'
                        xmlns:xlink='http://www.w3.org/1999/xlink'>
                    <title>Security</title>
                    <use class="icon-v3" xlink:href='#icon-security'></use>
                </svg>
            </div>
            <picture>
                <source media="(min-width: 960px)"
                    class="ws10-c-card-container-header-icon-badge__header-img"
                    srcset="img/smarthome/bg-smarthome-desktop.jpg" type="image/jpg">
                <source media="(min-width: 960px)"
                    class="ws10-c-card-container-header-icon-badge__header-img"
                    srcset="img/smarthome/bg-smarthome-desktop.webp" type="image/webp">
                <source media="(min-width: 768px)"
                    class="ws10-c-card-container-header-icon-badge__header-img"
                    srcset="img/smarthome/bg-smarthome-desktop.jpg" type="image/jpg">
                <source media="(min-width: 768px)"
                    class="ws10-c-card-container-header-icon-badge__header-img"
                    srcset="img/smarthome/bg-smarthome-desktop.webp" type="image/webp">
                <img src="img/smarthome/bg-smarthome.jpg"
                    class="ws10-c-card-container-header-icon-badge__header-img">
            </picture>
        </div>
        <div class="ws10-c-card-container-header-icon-badge__wrapper-content">
            <p class="ws10-u-heading--4-lt ws10-u--mb0">Hogar inteligente</p>
            <h3 class="ws10-u-heading--3-lt ws10-u--mb2x">Conecta lo que más quieres con
                tranquilidad
            </h3>
            <div class="ws10-flex ws10-flex__wrap ws10-u--pt8x ws10-u--pb8x">
                <div class="ws10-u--1/2@desktop ws10-flex ws10-flex__align-items--center ws10-u--pt4x ws10-u--pb4x">
                    <picture>
                        <source class="vf-firefoxflex-fix" srcset="img/smarthome/securenet.webp" type="image/webp">
                        <source class="vf-firefoxflex-fix" srcset="img/smarthome/securenet.jpg" type="image/jpg">
                        <img class="vf-firefoxflex-fix" src="img/smarthome/securenet.jpg" alt="Securenet" >
                    </picture>
                    <p class="ws10-c-paragraph ws10-u--mb0"><strong>Secure Net Family</strong> te protege de <strong>virus (malware) y páginas fraudulentas (phishing)</strong>, permitiendo además aplicar políticas de<strong> control parental</strong> en todos los dispositivos de tu hogar.
                    </p>
                </div>
                <div class="ws10-u--1/2@desktop ws10-flex ws10-flex__align-items--center ws10-u--pt4x ws10-u--pb4x">
                    <picture>
                        <source class="vf-firefoxflex-fix" srcset="img/smarthome/v-home.webp" type="image/webp">
                        <source class="vf-firefoxflex-fix" srcset="img/smarthome/v-home.jpg" type="image/jpg">
                        <img class="vf-firefoxflex-fix" src="img/smarthome/v-home.jpg" alt="V-Home" >
                    </picture>
                    <div class="ws10-flex ws10-flex__direction--column">
                        <span class="vf-badge ws10-c-badge vf-badge ws10-c-badge--lemon-yellow ws10-u--mb3x ws10-u--p0 ws10-align--center ws10-u--3/4@desktop">Incluido solo en el pack de 3 y 4 líneas</span>
                        <p class="ws10-c-paragraph ws10-u--mb0"><strong>V-Home Mini</strong> para ver desde el móvil <strong>lo que pasa en tu casa</strong> cuando no estás.
                        </p>
                    </div>
                </div>
                <div class="ws10-u--1/2@desktop ws10-flex ws10-flex__align-items--center ws10-u--pt4x ws10-u--pb4x">
                    <picture>
                        <source class="vf-firefoxflex-fix" srcset="img/smarthome/connected-car.webp" type="image/webp">
                        <source class="vf-firefoxflex-fix" srcset="img/smarthome/connected-car.jpg" type="image/jpg">
                        <img class="vf-firefoxflex-fix" src="img/smarthome/connected-car.jpg" alt="V-Home" >
                    </picture>
                    <div class="ws10-flex ws10-flex__direction--column">
                        <span class="vf-badge ws10-c-badge vf-badge ws10-c-badge--lemon-yellow ws10-u--mb3x ws10-u--p0 ws10-align--center ws10-u--3/4@desktop">Incluido solo en el pack de 4 líneas</span>
                        <p class="ws10-c-paragraph ws10-u--mb0">Disfruta de <strong>WiFi en tu coche</strong> con localización, alertas y servicios desde tu móvil <strong>con CarConnect.</strong>
                        </p>
                    </div>
                </div>
            </div>
            <a class="ws10-flex ws10-flex__align-items--center ws10-flex__justify--end ws10-c-card-discovery-product__link ws10-c-card-discovery-product__link--chevron ws10-u--pr4x"
                    data-backdrop="vf-backdrop-smarthome"
                    data-backdrop-close aria-haspopup="dialog"
                    data-analytics-element="modulo hogar inteligente"
                    data-analytics-context="mas info"
                    data-analytics-id="1500090787835-0006108346239"
                    data-analyitics-category="cta">
                <p class="ws10-u--mb0">Más info</p>
            </a>
        </div>
        <div class="ws10-c-backdrop js-backdrop" data-ws10-js="backdrop" aria-hidden="true">
            <section id="vf-backdrop-smarthome"
                    class="vf-backdrop ws10-c-backdrop__item js-backdrop-item" aria-hidden="true"
                    role="dialog" aria-modal="true">
                <div class="vf-backdrop__head vf-backdrop__head-smarthome ws10-c-backdrop__head ws10-u-color--white ws10-u--pb8x">
                    <div class="ws10-u--pb12x ws10-flex ws10-flex__align-items--center">
                        <svg style="width: 32px; height: 32px;" class="ws10-u--mr2x"
                                xmlns="http://www.w3.org/2000/svg"
                                xmlns:xlink="http://www.w3.org/1999/xlink">
                            <title>Apps-mind</title>
                            <use class="icon-v3" xlink:href="#icon-tv"></use>
                        </svg>
                        <h3 class="ws10-u-heading--3-lt ws10-u--mb0">Hogar Inteligente</h3>
                    </div>
                    <button class="ws10-u-color--white ws10-c-backdrop__close js-backdrop-close" aria-hidden="false">
                        <svg class="ws10-c-backdrop__close-icon" xmlns="http://www.w3.org/2000/svg"
                                xmlns:xlink="http://www.w3.org/1999/xlink">
                            <title>Close</title>
                            <use xlink:href="#icon-close"></use>
                        </svg>
                    </button>
                </div>
                <div class="vf-backdrop__content ws10-c-backdrop__content js-backdrop-content ws10-u--pt8x">
                    <section class="ws10-o-tabs vf-tabs">
                        <!--Tercer TABS -->
                        <div class="vf-tabs-container-buttons ws10-u--pl4x ws10-u--pr8x" role="tablist"
                                data-vf-js="tabs" data-vf="_tabsContainer">
                            <a data-vf-js="_tabsAnimation"
                                    class="vf-tabs-button ws10-c-tray-quick-action ws10-u--mr2x ws10-o-tabs__tab--active"
                                    role="tab" id="tab-9" href="#sm-contenedor-1"
                                    data-analytics-element="pop up hogar inteligente"
                                    data-analytics-context="securenet"
                                    data-analytics-id="1500090787835-0004809471064"
                                    data-analytics-category="cta">
                                <div class="ws10-c-tray-quick-action__content">
                                    <div class="ws10-c-tray-quick-action__text">
                                        <p class="ws10-c-tray-quick-action__title ws10-c-tray-quick-action__title--bold">
                                            Secure Net
                                        </p>
                                        <p class="ws10-c-tray-quick-action__title">Family</p>
                                    </div>
                                    <picture>
                                        <source class="ws10-c-tray-quick-action__image vf-tabs-container-buttons__image" srcset="img/smarthome/securenet-pop.webp" type="image/webp">
                                        <source class="ws10-c-tray-quick-action__image vf-tabs-container-buttons__image" srcset="img/smarthome/securenet-pop.png" type="image/png">
                                        <img class="ws10-c-tray-quick-action__image vf-tabs-container-buttons__image" src="img/smarthome/securenet-pop.png" alt="Securenet" >
                                    </picture>
                                </div>
                            </a>
                            <a data-vf-js="_tabsAnimation"
                                    class="vf-tabs-button ws10-c-tray-quick-action ws10-u--mr2x" role="tab"
                                    id="tab-10" href="#sm-contenedor-2"
                                    data-analytics-element="pop up hogar inteligente"
                                    data-analytics-context="vhome mini"
                                    data-analytics-id="1500090787835-0006598400998"
                                    data-analytics-category="cta">
                                <div class="ws10-c-tray-quick-action__content">
                                    <div class="ws10-c-tray-quick-action__text">
                                        <p class="ws10-c-tray-quick-action__title ws10-c-tray-quick-action__title--bold">
                                            V-Home Mini
                                        </p>
                                        <p class="ws10-c-tray-quick-action__title">Hogar Seguro</p>
                                    </div>
                                    <picture>
                                        <source class="ws10-c-tray-quick-action__image vf-tabs-container-buttons__image" srcset="img/smarthome/v-home-pop.webp" type="image/webp">
                                        <source class="ws10-c-tray-quick-action__image vf-tabs-container-buttons__image" srcset="img/smarthome/v-home-pop.png" type="image/png">
                                        <img class="ws10-c-tray-quick-action__image vf-tabs-container-buttons__image" src="img/smarthome/v-home-pop.png" alt="V Home" >
                                    </picture>
                                </div>
                            </a>
                            <a data-vf-js="_tabsAnimation"
                                    class="vf-tabs-button ws10-c-tray-quick-action ws10-u--mr2x" role="tab"
                                    id="tab-11" href="#sm-contenedor-3"
                                    data-analytics-element="pop up hogar inteligente"
                                    data-analytics-context="connected car"
                                    data-analytics-id="1500090787835-0001112422860"
                                    data-analytics-category="cta">
                                <div class="ws10-c-tray-quick-action__content">
                                    <div class="ws10-c-tray-quick-action__text">
                                        <p class="ws10-c-tray-quick-action__title ws10-c-tray-quick-action__title--bold">
                                            CarConnect
                                        </p>
                                        <p class="ws10-c-tray-quick-action__title">Coche inteligente</p>
                                    </div>
                                    <picture>
                                        <source class="ws10-c-tray-quick-action__image vf-tabs-container-buttons__image" srcset="img/smarthome/connectedcar-pop.webp" type="image/webp">
                                        <source class="ws10-c-tray-quick-action__image vf-tabs-container-buttons__image" srcset="img/smarthome/connectedcar-pop.png" type="image/png">
                                        <img class="ws10-c-tray-quick-action__image vf-tabs-container-buttons__image" src="img/smarthome/connectedcar-pop.png" alt="Conectd Car" >
                                    </picture>
                                </div>
                            </a>
                        </div>
                        <div class="ws10-u--pr2x ws10-u--pl2x">
                            <div id="sm-contenedor-1" role="tabpanel" class="ws10-o-tabs__panel ws10-c-card--bg-color-white ws10-u--p4x">
                                <ul class="vf-backdrop__list ws10-flex ws10-flex__wrap ws10-u--pt4x">
                                    <li class="ws10-o-layout__item vf-backdrop__list--cheks ws10-u--1/2@desktop ws10-u--pl0 ws10-u--pb4x">
                                        <p class="ws10-u--mb0"><strong>Te protege de software malicioso que puede infiltrase y dañar tus dispositivos</strong> o recopilar y divulgar información sin tu consentimiento (malware) y de <strong>páginas fraudulentas que intentan recopilar información personal</strong> como contraseñas o tu tarjeta de crédito (phishing).</p>
                                    </li>
                                    <li class="ws10-o-layout__item vf-backdrop__list--cheks ws10-u--1/2@desktop ws10-u--pl0 ws10-u--pb4x">
                                        <p class="ws10-u--mb0"><strong>Te permite gestionar el tiempo y acceso a Internet</strong> de una manera sencilla y unificada en todos los dispositivos del hogar a través de funciones avanzadas de control parental que te permiten <strong>filtrar la navegación por tipo de contenido, bloquear el acceso a Internet, elegir los periodos de desconexión digital</strong> para cada miembro de la familia o los contenidos que deben bloquearse para no interferir en sus tiempos de estudio.</p>
                                    </li>
                                    <li class="ws10-o-layout__item vf-backdrop__list--cheks ws10-u--1/2@desktop ws10-u--pl0 ws10-u--pb4x">
                                        <p class="ws10-u--mb0"><strong>Te ayuda y asesora</strong> a través de artículos y contenido publicado por expertos <strong>sobre lo que ocurre en Internet y los riesgos</strong> que suponen para ti y para tus hijos.
                                        </p>
                                    </li>
                                </ul>
                                <p class="ws10-u-color--mid-grey">(*) El servicio Secure Net viene activado por defecto. La activación y configuración de Secure Net Family podrás hacerlo a través de la app de gestión.</p>
                            </div>
                            <div id="sm-contenedor-2" role="tabpanel" class="ws10-o-tabs__panel ws10-c-card--bg-color-white ws10-u--p4x" hidden>
                                <ul class="vf-backdrop__list ws10-flex ws10-flex__wrap ws10-u--pt4x">
                                    <li class="vf-backdrop__list--cheks ws10-o-layout__item ws10-u--1/2@desktop ws10-u--pb4x">
                                        <p class="ws10-u--mb0"><strong>La nueva tecnología</strong> de Vodafone para poder ver lo <strong>que ocurre en casa cuando no estás</strong> y ser avisado si ocurre algo importante que necesites saber.
                                        </p>
                                    </li>
                                    <li class="vf-backdrop__list--cheks ws10-o-layout__item ws10-u--1/2@desktop ws10-u--pb4x">
                                        <p class="ws10-u--mb0">Aquellas familias que tengan <strong>mascotas</strong> a las que dejen <strong>solas en casa, podrán vigilar</strong> cómo se encuentra.
                                        </p>
                                    </li>
                                    <li class="vf-backdrop__list--cheks ws10-o-layout__item ws10-u--1/2@desktop ws10-u--pb4x">
                                        <p class="ws10-u--mb0"><strong>Tu hogar SIEMPRE vigilado</strong> Aviso de acceso a tu hogar al instante y podrás llamar rápidamente a emergencias.
                                        </p>
                                    </li>
                                </ul>
                                <span class="vf-badge ws10-c-badge vf-badge ws10-c-badge--lemon-yellow ws10-u--mb3x ws10-u--p0 ws10-align--center ws10-u--1/3@desktop">Incluido solo en el pack de 3 y 4 líneas</span>
                            </div>
                            <div id="sm-contenedor-3" role="tabpanel" class="ws10-o-tabs__panel ws10-c-card--bg-color-white ws10-u--p4x" hidden>
                                <div class="vf-backdrop__list ws10-flex ws10-flex__wrap ws10-u--pt4x">
                                    <ul class="ws10-flex ws10-flex__wrap ws10-u--pt4x">
                                        <li class="vf-backdrop__list--cheks  ws10-u--1/2@desktop ws10-u--pb4x">
                                            <p class="ws10-u--mb0"><strong>Conexión Wi-Fi en el coche para todos</strong> los ocupantes.
                                            </p>
                                        </li>
                                        <li class="vf-backdrop__list--cheks ws10-u--1/2@desktop ws10-u--pb4x">
                                            <p class="ws10-u--mb0"><strong>Localización del vehículo</strong> en todo momento a través del móvil.
                                            </p>
                                        </li>
                                        <li class="vf-backdrop__list--cheks ws10-u--1/2@desktop ws10-u--pb4x">
                                            <p class="ws10-u--mb0"><strong>Información del estado del coche</strong> que te <strong>muestra errores y fallos registrados</strong> en la centralita
                                            </p>
                                        </li>
                                        <li class="vf-backdrop__list--cheks ws10-u--1/2@desktop ws10-u--pb4x">
                                            <p class="ws10-u--mb0"><strong>Ofertas personalizadas</strong> para talleres, gasolineras, etc.
                                            </p>
                                        </li>
                                    </ul>

                                    <span class="vf-badge ws10-c-badge vf-badge ws10-c-badge--lemon-yellow ws10-u--mb3x ws10-u--p0 ws10-align--center ws10-u--1/3@desktop">Incluido solo en el pack de 4 líneas</span>

                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </section>
        </div>
    </div>
</section>
