<section class="vf-mobile ws10-u--pt12x">
  <h3 class="ws10-u-heading--3">
    <strong>{{secondLine.title}}</strong>
  </h3>
  <ul class="vf-mobile__details ws10-flex ws10-flex__wrap">
    {{#each secondLine.productDetail}}
  {{> productDetail params=this}}
    {{/each}}
  </ul>
  <p class="ws10-u--pt4x wfms__legal">
    {{secondLine.legal}}
  </p>
{{{secondLine.test}}}
</section>