<link href="css/ws10.css" rel="stylesheet" />
<link href="css/styles.css" rel="stylesheet" data-ws10-microcss />
<script>


</script>
<div class="vfes-ms-content ws10-u-color--bg-light-grey" id="ilimitada" style="visibility: hidden;opacity: 0">

    <!-- BANNER & DIV TICKET QUE INYECTA WCS -->
    {{> header-ticket }}
    <!-- CONTENIDO EN 2/3 DE LA PÁGINA -->
    <div class="ws10-o-wrapper">
        <div class="ws10-o-layout">
            <div class="ws10-o-layout__item ws10-u--2/3@desktop ws10-u--3/5@tablet">
                <!-- MÓVIL -->
                {{> movil }}
                <!-- SEGUNDA LÍNEA GRATIS -->
                {{> secondline }}

                <!--TV-->
                {{> tv }}

                <!--DECO-->
                {{> deco }}
                <!-- FIBRA -->
                {{> fibra }}
                <!-- TAMBIÉN INCLUIDO -->
                {{> alsoincluded }}


                <!-- SIN SORPRESAS -->
                {{> sinsorpresas }}
                <!-- TIMELINE  -->
                {{> timeline }}
                <!-- POPUPS  -->
                {{> popups }}
            </div>
        </div>
    </div>
    <!-- STICKY BOTTOM -->


    {{> sticky }}

    <!-- TERMINALES-->
    {{> terminales }}

</div>

<script src="js/ws10.js"></script>
<script src="js/main.js"></script>