<link href="css/ws10.css" rel="stylesheet" />
<link href="css/styles.css" rel="stylesheet" data-ws10-microcss />
<script>
utag_data.default_plan = "vodafone one ilimitada plus x2 600Mbps"
utag_data.plans_add2cart = [{ "product_name": "vodafone one ilimitada plus x2 600mbps", "product_category": "movil+fibra", "product_variant": "datos y minutos ilimitados+600mbps fibra optica", "promotion_price_name": "50% 6 meses Norte Vodafone One ilimitada Plus x2 600Mbps", "promotion_gift_name": "", "product_id": "268548269", "product_detail": "", "product_sale_type": "yes:transactional", "product_additional_lines": [{ "product_name": "", "product_category": "", "promotion_price_name": "", "product_id": "" }], "product_packs_tv": [{ "product_name": "", "product_category": "", "promotion_price_name": "", "promotion_gift_name": "", "product_id":""}]},{"product_name": "vodafone one ilimitada plus x2 600mbps ilimitada total pack tv plus x2 series","product_category": "movil+fibra","product_variant": "datos y minutos ilimitados+600mbps fibra optica","promotion_price_name": "50% 6 meses Norte Vodafone One ilimitada Plus x2 600Mbps","promotion_gift_name": "","product_id": "268548269","product_detail": "","product_sale_type": "yes:transactional","product_packs_tv": [{"product_name": "","product_category": "","promotion_price_name": "","promotion_gift_name": "","product_id": ""}]}];
</script>

<div class="vfes-ms-content ws10-u-color--bg-light-grey" id="maxi" style="visibility: hidden;opacity: 0">

    <!-- BANNER & DIV TICKET QUE INYECTA WCS -->
    {{> headerTicket }}

    <!-- CONTENIDO EN 2/3 DE LA PÁGINA -->
    <div class="ws10-o-wrapper">
        <div class="ws10-o-layout">
            <div class="ws10-o-layout__item ws10-u--2/3@desktop ws10-u--3/5@tablet">
                <!-- MÓVIL -->
                {{> mobile }}
                <!-- SEGUNDA LÍNEA GRATIS -->
                {{> secondline }}
                <!-- TELEVISIÓN -->
                {{> tv }}
                <!-- DECODIFICADOR -->
                {{> deco }}
                <!-- FIBRA -->
                {{> fibra }}
                <!-- TAMBIÉN INCLUIDO -->
                {{> also-included }}
                <!-- SIN SORPRESAS -->
                {{> sinsorpresas }}
                <!-- TIMELINE  -->
                {{> timeLine }}
            </div>
        </div>
    </div>
    <!-- STICKY BOTTOM -->
    {{> stickyBottom }}

    <!-- POPUPS -->
    {{> popupTv }}

    <!-- TERMINALES-->
    <div class="ws10-c-backdrop js-backdrop" data-ws10-js="backdrop" aria-hidden="true">
        <section id="samsung-galaxy" class="ws10-c-backdrop__item js-backdrop-item" aria-hidden="true" role="dialog"
            aria-modal="true">
            <div class="ws10-c-backdrop__head">
                <button class="ws10-c-backdrop__close js-backdrop-close" aria-hidden="false">
                    <svg class="ws10-c-backdrop__close-icon" xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink">
                        <title>Close</title>
                        <use xlink:href="#icon-close"></use>
                    </svg>
                </button>
            </div>
            <div class="ws10-c-backdrop__content js-backdrop-content">
                <p class="ws10-u-heading--3-lt">Samsung Galaxy A20</p>
                <ul>
                    <li>Sistema Operativo Android 9</li>
                    <li>Procesador Exynos 7884B</li>
                    <li>Seguridad con Sensor de huella</li>
                    <li>Red Móvil 4G</li>
                    <li>WIFI 802.11 b/g/n</li>
                    <li>Bluetooth 4.1</li>
                    <li>Con GPS y NFC</li>
                    <li>Pantalla Tamaño HD+ 5.8¨ y Resolución 720 x 1560</li>
                    <li>Cámara Frontal de 8 Mp y Trasera de 13 Mp</li>
                    <li>Memoria Interna 32 GB</li>
                    <li>Máxima memoria ampliable 512 GB</li>
                    <li>RAM de 3 GB</li>
                    <li>Batería con capacidad 3000 mAh</li>
                    <li>Medidas del dispositivo:
                        <ul>
                            <li>Peso 140.0 gr</li>
                            <li>Alto 147.2 mm</li>
                            <li>Ancho 69.5 mm</li>
                            <li>Grosor 8.3 mm</li>
                        </ul>
                    </li>
                </ul>
            </div>
        </section>
    </div>
    <div class="ws10-c-backdrop js-backdrop" data-ws10-js="backdrop" aria-hidden="true">
        <section id="lg-k30" class="ws10-c-backdrop__item js-backdrop-item" aria-hidden="true" role="dialog"
            aria-modal="true">
            <div class="ws10-c-backdrop__head">
                <button class="ws10-c-backdrop__close js-backdrop-close" aria-hidden="false">
                    <svg class="ws10-c-backdrop__close-icon" xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink">
                        <title>Close</title>
                        <use xlink:href="#icon-close"></use>
                    </svg>
                </button>
            </div>
            <div class="ws10-c-backdrop__content js-backdrop-content">
                <p class="ws10-u-heading--3-lt">LG K30</p>
                <ul>
                    <li>Sistema Operativo Android 9</li>
                    <li>Procesador 4x1,4GHz</li>
                    <li>Red Móvil 4G</li>
                    <li>WIFI 802.11 b/g/n</li>
                    <li>Bluetooth 5</li>
                    <li>Con GPS y NFC</li>
                    <li>Pantalla 5,45” y Resolución 11400 x 720</li>
                    <li>Cámara Frontal de 5 Mp y Trasera de 8 Mp</li>
                    <li>Memoria Interna 16 GB</li>
                    <li>Máxima memoria ampliable 32 GB</li>
                    <li>RAM de 2 GB</li>
                    <li>Batería con capacidad 3000 mAh</li>
                    <li>Medidas del dispositivo:
                        <ul>
                            <li>Peso 147 gr</li>
                            <li>Alto 147 mm</li>
                            <li>Ancho 71.5 mm</li>
                            <li>Grosor 8.2 mm</li>
                        </ul>
                    </li>
                </ul>

            </div>
        </section>
    </div>
    <div class="ws10-c-backdrop js-backdrop" data-ws10-js="backdrop" aria-hidden="true">
        <section id="alcatel" class="ws10-c-backdrop__item js-backdrop-item" aria-hidden="true" role="dialog"
            aria-modal="true">
            <div class="ws10-c-backdrop__head">
                <button class="ws10-c-backdrop__close js-backdrop-close" aria-hidden="false">
                    <svg class="ws10-c-backdrop__close-icon" xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink">
                        <title>Close</title>
                        <use xlink:href="#icon-close"></use>
                    </svg>
                </button>
            </div>
            <div class="ws10-c-backdrop__content js-backdrop-content">
                <p class="ws10-u-heading--3-lt">Alcatel 3L</p>
                <ul>
                    <li>Sistema Operativo Android 10</li>
                    <li>Procesador Octa-Core MT6762</li>
                    <li>Seguridad Lector de huellas</li>
                    <li>Reconocimiento facial</li>
                    <li>Red Móvil 4G</li>
                    <li>Tamaño 622" y Resolución 1520 x 720px</li>
                    <li>Cámara Frontal 8 Mp, Trasera 48 Mp y Extras Triple cámara 48MP + 5MP + 2MP</li>
                    <li>Memoria Interna 64 GB</li>

                    <li>RAM 4 GB</li>
                    <li>Batería con capacidad 4000 mA</li>
                    <li>Medidas del dispositivo:
                        <ul>
                            <li>Peso 165 gr</li>
                            <li>Alto 74.6 mm</li>
                            <li>Ancho 158.7 mm</li>
                            <li>Grosor 8.45 mm</li>
                        </ul>
                    </li>
                </ul>
            </div>
        </section>
    </div>

</div>
<script src="js/ws10.js"></script>
<script src="js/main.js"></script>
