// CSS del microsite

$desktop: 1024px;
$border-radius: 6px;

.vfes-ms-content {
  img {
    max-width: 100%;
  }
  .ws10-c-cards-discovery-standard__image-holder {
    overflow: hidden;
  }
  .vfms-addons-img {
    padding-bottom: 0 !important;
  }
  .vfms-badge--container {
    display: flex;
    justify-content: baseline;
    align-items: flex-start;
  }

  .vfms-badge1 {
    max-width: 120px;
    margin-bottom: 15px;
  }

  .vfms-badge2 {
    max-width: 130px;
    margin-bottom: 15px;
    background-color: #fecb00;
  }
  .vfms-badge3{
    background-color: #A8B400;
  }
  // Table
  .vf-table {
    &__container {
      position: relative;
      overflow-x: auto;
      border: 1px solid #ccc;
      border-radius: $border-radius;
      background-color: #f4f4f4;
      color: #222222;
      text-align: center;
      font-size: 14px;
      z-index: 0;

      @media screen and (min-width: $desktop) {
        overflow: initial;
        font-size: 20px;
      }
    }
    &__datalist {
      width: 100%;
      //margin: 0;
      //border:none;
    }

    &__th {
      background-color: #f4f4f4;
      box-shadow: inset 0 -1px 1px #ccc;
      padding: 8px 16px;
      position: relative;

      &:first-child {
        border-top-left-radius: 6px;
      }
      &:last-child {
        border-top-right-radius: 6px;
      }

      @media screen and (min-width: $desktop) {
        padding: 24px;
        position: sticky;
        top: 70px;
        z-index: 1;
      }
      &:not(:last-child):after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        width: 1px;
        background-color: #ccc;
      }
    }

    &__td {
      padding: 5px;
      position: relative;
      @media screen and (min-width: $desktop) {
        padding: 20px 10px;
      }

      &:not(:last-child):after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        width: 1px;
        background-color: #ccc;
      }

      &--subheader {
        background-color: #fff;
        padding: 5px;
        @media screen and (min-width: $desktop) {
          padding: 10px;
        }
      }
    }

    &__title {
      font-size: 14px;
      white-space: nowrap;
      @media screen and (min-width: $desktop) {
        font-size: 20px;
      }
      &--big {
        font-size: 16px;
        @media screen and (min-width: $desktop) {
          font-size: 40px;
        }
      }
      &--small {
        font-size: 16px;
        @media screen and (min-width: $desktop) {
          font-size: 28px;
        }
      }
    }

    &__icon {
      vertical-align: middle;
      /*  &::before{
         content:'';
         font-size: 20px;
     } */

      &--tick {
        &::before {
          display: block;
          content: url("data:image/svg+xml; utf8, <svg xmlns='http://www.w3.org/2000/svg' width='24' height='18' viewBox='0 0 24 18'> <g fill='none' fill-rule='evenodd'> <path stroke='%23090' stroke-linecap='round' stroke-linejoin='round' d='M21.5 5.375L8.432 18.442 2.625 12.635'/> </g> </svg> ");
        }
      }

      &--fault {
        &::before {
          content: url("data:image/svg+xml; utf8, <svg width='24' height='18' viewBox='0 0 24 18' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'> <g stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'> <path d='M11.2928932,12 L5.64644661,6.35355339 C5.45118446,6.15829124 5.45118446,5.84170876 5.64644661,5.64644661 C5.84170876,5.45118446 6.15829124,5.45118446 6.35355339,5.64644661 L12,11.2928932 L17.6464466,5.64644661 C17.8417088,5.45118446 18.1582912,5.45118446 18.3535534,5.64644661 C18.5488155,5.84170876 18.5488155,6.15829124 18.3535534,6.35355339 L12.7071068,12 L18.3535534,17.6464466 C18.5488155,17.8417088 18.5488155,18.1582912 18.3535534,18.3535534 C18.1582912,18.5488155 17.8417088,18.5488155 17.6464466,18.3535534 L12,12.7071068 L6.35355339,18.3535534 C6.15829124,18.5488155 5.84170876,18.5488155 5.64644661,18.3535534 C5.45118446,18.1582912 5.45118446,17.8417088 5.64644661,17.6464466 L11.2928932,12 Z' fill='%23E60000'></path> </g> </svg>");
        }
      }
    }
  }

  // Breadcrumbs
  .vf-breadcrumbs {
    & li {
      list-style: none;

      &:last-child {
        display: none;
        @media screen and (min-width: 970px) {
          display: block;
        }
      }

      &:first-child {
        & a {
          &:before {
            border-width: 0.0625rem;
            border-right: 0.0625rem solid #333;
            border-top: 0.0625rem solid #333;
            display: block;
            width: 0.75rem;
            height: 0.75rem;
            transform: rotate(-135deg);
            content: "";
            display: inline-block;
            vertical-align: baseline;
            position: relative;

            @media screen and (min-width: 970px) {
              display: none;
            }
          }
        }
      }
    }

    &__link {
      display: flex;
      align-items: center;
      @media screen and (min-width: 970px) {
        &:after {
          border-width: 0.0625rem;
          border-right: 0.0625rem solid #333;
          border-top: 0.0625rem solid #333;
          display: block;
          width: 0.75rem;
          height: 0.75rem;
          transform: rotate(45deg);
          content: "";
          display: inline-block;
          vertical-align: baseline;
          position: relative;
        }
      }
    }
  }
  .vfms-video-container {
    height: auto;
    max-height: 350px;
    display: block;

    @media screen and (max-width: 768px) {
      display: none;
    }
  }
  .vfms-content {
    width: 100%;
    display: flex;
  }
  .vfms-container {
    position: absolute;
    z-index: 5;
    width: 100%;
    top: 100px;
    left: 0;
    padding-left: 40px;
    right: 0;
    @media screen and (max-width: 768px) {
      position: relative;
      padding: 10px 10px;
      top: 0;
      left: 0;
      right: 0;
      padding-left: 0;
    }
  }
  .vfms-title-banner {
    @media screen and (min-width: 970px) {
      font-size: 56px;
    }
  }
  .vf-banner {
    background-color: #F4F4F4;
    background-size: cover;
    position: relative;

    &__container {
      position: relative;
    }
  }
  .vfms-banner-container {
    background-color: #f4f4f4;
    background: url("https://www.vodafone.es/c/statics/imagen/bg-banner.jpg")
      no-repeat center;
    background-size: cover;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 470px;

    @media screen and (max-width: 768px) {
      height: 470px;
    }
  }
  .vfms-banner-title {
    width: 50%;
    position: relative;
    @media screen and (max-width: 768px) {
      width: 100%;
    }

    /*&__bolo{
      width:100px;
      height:auto;
      position: absolute;
      right: 0;
      display: none;
      @media screen and (min-width:768px) {
        display: block;
      }
    }*/
  }
  .vfms__banner-mobile {
    display: none;

    @media screen and (max-width: 768px) {
      display: block;
      text-align: center;
      margin: 0 auto;
      overflow: hidden;
    }
  }
  //animation
  .vfms-animation {
    width: 50%;
    position: relative;

    @media screen and (max-width: 768px) {
      display: none;
    }
    &--element {
      position: absolute;
      overflow: hidden;
    }
    &--1 {
      z-index: 2;
      animation: float 6s ease-in-out infinite;
      right: 30px;
      bottom: 0;
      @media screen and (max-width: 769px) {
        margin-top: 0;
        right: -80px;
      }
      img {
        @media screen and (max-width: 640px) {
          width: 140px;
        }
      }
    }
    &--2 {
      z-index: 2;
      animation: float 4.5s ease-in-out infinite;
      right: 45%;
      top: 0;
      margin-top: 60px;
    }
    &--3 {
      z-index: 2;
      transform: translatey(0px);
      animation: float 4s ease-in-out infinite;
      right: 30%;
      top: -10%;
      margin-top: 30px;
    }
    &--4 {
      z-index: 2;
      transform: translatey(0px);
      animation: float 4.5s ease-in-out infinite;
      right: 78%;
      top: 0;
      margin-top: 100px;
    }
    &--5 {
      z-index: 2;
      //transform: translatey(0px);
      //animation: float 4.5s ease-in-out infinite;
      width: 100px;
      height: auto;
      right: 100%;
      top: 0;

      @media screen and (max-width: 769px) {
        right: 99%;
      }
    }
    &--6 {
      z-index: 2;
      //transform: translatey(0px);
      //animation: float 4.5s ease-in-out infinite;
      width: 190px;
      height: auto;
      right: 69%;
      top: -30px;

      transform: scale(0.8, 0.8);
      @media screen and (max-width: 1025px) {
        right: 85%;
      }

      @media screen and (max-width: 769px) {
        top: 0;
        right: 70%;
      }

      img {
        @media screen and (max-width: 769px) {
          width: 100px;
        }
      }
    }
  }

  @keyframes float {
    0% {
      -webkit-filter: drop-shadow(0px 25px 15 0px rgba(151, 145, 145, 0.6));
      filter: drop-shadow(5px 50px 5px rgba(151, 145, 145, 0.6));
      transform: translatey(0px);
    }
    50% {
      -webkit-filter: drop-shadow(0px 55px -15px 0px rgba(151, 145, 145, 0.2));
      filter: drop-shadow(-15px 75px 15px rgba(151, 145, 145, 0.2));
      transform: translatey(-20px);
    }
    100% {
      -webkit-filter: drop-shadow(0px 25px 15 0px rgba(151, 145, 145, 0.6));
      filter: drop-shadow(5px 50px 5px rgba(151, 145, 145, 0.6));
      transform: translatey(0px);
    }
  }
  .vfms-video {
    width: 100%;
  }

  .ws10-c-form__radio:checked + .ws10-c-form__label::after {
    background-color: #007c92;
  }

  .vf-bold {
    font-family: "Vodafone";
    src: local("Vodafone Rg Bold"),
      url("https://www.vodafone.es/c/statics/fonts/vodafonergbd-webfont.woff")
        format("woff"),
      url(fonts/vodafone-bold.woff) format("woff");
    font-style: "normal";
    font-weight: 700;
    font-display: swap;
  }
  .vf-form {
    padding: 10px 0 0 24px;
    &__box {
      width: initial;
      &:first-child {
        padding-right: 20px;
      }
    }
  }

  .vf-rates {
    &__container {
      @media screen and (min-width: 768px) {
        align-items: start;
        align-items: start;
      }
      @media screen and (min-width: 970px) {
        align-items: flex-end;
        align-items: flex-end;
      }
    }
    .vf-button {
      &--mobile {
        min-width: 120px;
      }
    }
  }

  .vf-banner50 {
    &__img {
      max-width: 100%;
      @media screen and (min-width: 970px) {
        max-width: 100%;
      }
    }

    &__container1 {
      @media screen and (min-width: 970px) {
        order: 2;
      }
    }

    &__container2 {
      @media screen and (min-width: 970px) {
        order: 1;
      }
    }
  }
  .vf-flex {
    &--container {
      display: flex;
    }
  }
  .vf-flex--item:nth-of-type(1) {
    order: 2;
    @media screen and (min-width: 640px) {
      order: 1;
    }
  }
  .vf-flex--item:nth-of-type(2) {
    order: 1;
    @media screen and (min-width: 640px) {
      order: 2;
    }
  }
  .vf-card {
    &--offer {
      @media screen and (min-width: 970px) {
        padding-left: 32px;
      }
    }
  }
  .vf-rate {
    &--fibra {
      display: block;
      @media screen and (min-width: 640px) {
        display: flex;
        align-items: center;
      }
    }
  }
  .vfms-height-mobile {
    @media screen and (max-width: 768px) {
      height: 20rem;
    }
  }
  .vfms-flow-flex{
    flex-flow: row;
    flex-wrap: wrap;
    @media screen and (min-width: 768px) {
      flex-flow: row-reverse;
    }
  }
}
