<section class="ws10-breadcrumbs ws10-u-color--bg-white ws10-u-color--midnight">
    <ul class="ws10-o-wrapper ws10-flex vf-breadcrumbs ws10-u--mb0 ws10-u--p2x">
        <li><a class="vf-breadcrumbs__link ws10-u--mr2x" title="Inicio" target="_self" href="https://www.vodafone.es/c/particulares/es/"> Inicio</a></li>
        <li>Tarifas Fibra + Móvil</li>
    </ul>
</section>
