<section class="vf-rates ws10-u--pt8x ws10-u--pb8x">
  <div class="vf-rates__container ws10-o-layout ws10-flex__align-items--end">
    <div class="ws10-o-layout__item ws10-u--1/2@tablet ws10-u--1/3@desktop">
      <!-- Vodafone One ilimitada Avanzada 300-->
      <section
        class="ws10-c-card ws10-c-card-rate ws10-c-card--no-shadow"
        data-ws10-js="card-rate"
      >
        <div class="ws10-c-card-rate__w-rates">
          <div class="ws10-c-card-rate__a-rate">
            <ul
              class="ws10-c-card-rate__product-info"
              data-vfes-seo-empathy-promoperiod="50% dto. 6 meses Permanencia 1 año"
              data-vfes-seo-empathy-promoprice="28,49"
              data-vfes-seo-empathy-price="61,99"
            >
              <li class="ws10-c-card-rate__product-info-item">
                <svg
                  class="ws10-c-card-rate__product-icon ws10-u-color--black"
                  xmlns="http://www.w3.org/2000/svg"
                  xmlns:xlink="http://www.w3.org/1999/xlink"
                >
                  <use xlink:href="#icon-mobile"></use>
                </svg>

                <div class="ws10-c-card-rate__product">
                  <p class="ws10-c-card-rate__product-title">
                    Datos y minutos ilimitados
                  </p>
                  <p
                    class="ws10-c-card-rate__product-txt ws10-c-card-rate__product-txt--primary"
                  >
                    Velocidad alta
                    <svg
                      class="ws10-c-card-rate__product-txt-icon"
                      xmlns="http://www.w3.org/2000/svg"
                      xmlns:xlink="http://www.w3.org/1999/xlink"
                    >
                      <use xlink:href="#icon-thunder-2grey"></use>
                    </svg>
                  </p>
                </div>
              </li>
              <li
                class="ws10-c-card-rate__product-info-item"
                data-js-vf="_secondLine"
              >
                <svg
                  class="ws10-c-card-rate__product-icon ws10-u-color--black"
                  xmlns="http://www.w3.org/2000/svg"
                  xmlns:xlink="http://www.w3.org/1999/xlink"
                >
                  <use xlink:href="#icon-sim"></use>
                </svg>
                <div class="ws10-c-card-rate__product">
                  <p class="ws10-c-card-rate__product-title">
                    Segunda línea GRATIS 1 año
                  </p>
                  <p class="ws10-c-card-rate__product-txt">
                    Datos y minutos ilimitados
                  </p>
                </div>
              </li>
              <li class="ws10-c-card-rate__product-info-item">

                <svg
                  class="ws10-c-card-rate__product-icon ws10-u-color--black"
                  xmlns="http://www.w3.org/2000/svg"
                  xmlns:xlink="http://www.w3.org/1999/xlink"
                >
                  <use xlink:href="#icon-broadband-or-wifi"></use>
                </svg>
                <div class="ws10-c-card-rate__product">
                  <p class="ws10-c-card-rate__product-title">
                    300Mbps Fibra Óptica</p>
                  <p class="ws10-c-card-rate__product-txt">
                    + llamadas ilimitadas en fijo
                  </p>
                </div>
              </li>
               <li class="ws10-c-card-rate__product-info-item">
                  <svg class="ws10-c-card-rate__product-icon ws10-u-color--black" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <use xlink:href="#icon-tv"></use>
                  </svg>
                  <div class="ws10-c-card-rate__product">
                    <p class="ws10-c-card-rate__product-title">
                      Pack TV Universal GRATIS
                    </p>
                    <p class="ws10-c-card-rate__product-txt" style="font-size: 17px;">
                      con más de 30 canales internacionales
                    </p>
                  </div>
                </li>

            </ul>

            <div data-js-vf="_priceIlimitada">
              <div class="ws10-c-card-rate__w-cta" >
                <div class="ws10-c-card-rate__w-offers">
                  <div class="ws10-c-card-rate__offer" id="rate-1-offer-1">
                    <p
                      class="ws10-c-card-rate__dto ws10-c-card-rate__dto--percent"
                    >
                      50% dto. 6 meses
                    </p>
                    <p
                      class="ws10-c-card-rate__dto ws10-c-card-rate__dto--label"
                    >
                      Permanencia 6 meses
                    </p>
                    <p
                      class="ws10-c-card-rate__dto ws10-c-card-rate__dto--price"
                    >
                      <del>56,99€/mes</del>
                    </p>
                    <p class="ws10-c-card-rate__price ws10-u-color--black">
                      28,49€<sub>/mes</sub>
                    </p>
                  </div>
                </div>
                <a
                  href="https://www.vodafone.es/c/particulares/es/productos-y-servicios/vodafone-one/alt/n/paquete-one-1/"
                  type="submit"
                  name="cta"
                  title="más info"
                  class="ws10-c-button ws10-c-button--auto"
                  data-analytics-context="mas info:vodafone one ilimitada avanzada 300mbps"
                  data-analytics-element="cardrate"
                  data-analytics-category="cta"
                  data-analytics-id="-4725875160583"
                >
                  Más info
                </a>
              </div>

            </div>

          </div>
        </div>
      </section>
    </div>
    <div class="ws10-o-layout__item ws10-u--1/2@tablet ws10-u--1/3@desktop">
      <!-- Vodafone One ilimitada Avanzada 600-->

      <section
        class="ws10-c-card ws10-c-card-rate ws10-c-card--no-shadow"
        data-ws10-js="card-rate"
      >
        <div class="ws10-c-card-rate__w-rates">
          <div class="ws10-c-card-rate__a-rate">
            <ul
              class="ws10-c-card-rate__product-info"
              data-vfes-seo-empathy-promoperiod="50% dto. 6 meses Permanencia 1 año"
              data-vfes-seo-empathy-promoprice="30,49"
              data-vfes-seo-empathy-price="61,99"
            >
              <li class="ws10-c-card-rate__product-info-item">
                <svg
                  class="ws10-c-card-rate__product-icon ws10-u-color--black"
                  xmlns="http://www.w3.org/2000/svg"
                  xmlns:xlink="http://www.w3.org/1999/xlink"
                >
                  <use xlink:href="#icon-mobile"></use>
                </svg>

                <div class="ws10-c-card-rate__product">
                  <p class="ws10-c-card-rate__product-title">
                    Datos y minutos ilimitados
                  </p>
                  <p
                    class="ws10-c-card-rate__product-txt ws10-c-card-rate__product-txt--primary"
                  >
                    Velocidad alta
                    <svg
                      class="ws10-c-card-rate__product-txt-icon"
                      xmlns="http://www.w3.org/2000/svg"
                      xmlns:xlink="http://www.w3.org/1999/xlink"
                    >
                      <use xlink:href="#icon-thunder-2grey"></use>
                    </svg>
                  </p>
                </div>
              </li>
              <li
                class="ws10-c-card-rate__product-info-item"
                data-js-vf="_secondLine"
              >
                <svg
                  class="ws10-c-card-rate__product-icon ws10-u-color--black"
                  xmlns="http://www.w3.org/2000/svg"
                  xmlns:xlink="http://www.w3.org/1999/xlink"
                >
                  <use xlink:href="#icon-sim"></use>
                </svg>
                <div class="ws10-c-card-rate__product">
                  <p class="ws10-c-card-rate__product-title">
                    Segunda línea GRATIS 1 año
                  </p>
                  <p class="ws10-c-card-rate__product-txt">
                    Datos y minutos ilimitados
                  </p>
                </div>
              </li>
              <li class="ws10-c-card-rate__product-info-item">

                <svg
                  class="ws10-c-card-rate__product-icon ws10-u-color--black"
                  xmlns="http://www.w3.org/2000/svg"
                  xmlns:xlink="http://www.w3.org/1999/xlink"
                >
                  <use xlink:href="#icon-broadband-or-wifi"></use>
                </svg>
                <div class="ws10-c-card-rate__product">
                  <p class="ws10-c-card-rate__product-title">
                    600Mbps Fibra Óptica</p>
                  <p class="ws10-c-card-rate__product-txt">
                    + llamadas ilimitadas en fijo
                  </p>
                </div>
              </li>
               <li class="ws10-c-card-rate__product-info-item">
                  <svg class="ws10-c-card-rate__product-icon ws10-u-color--black" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <use xlink:href="#icon-tv"></use>
                  </svg>
                  <div class="ws10-c-card-rate__product">
                    <p class="ws10-c-card-rate__product-title">
                      Pack TV Universal GRATIS
                    </p>
                    <p class="ws10-c-card-rate__product-txt" style="font-size: 17px;">
                      con más de 30 canales internacionales
                    </p>
                  </div>
                </li>

            </ul>

            <div data-js-vf="_priceMaxi">
              <div class="ws10-c-card-rate__w-cta">
                <div class="ws10-c-card-rate__w-offers">
                  <div class="ws10-c-card-rate__offer" id="rate-1-offer-1">
                    <p
                      class="ws10-c-card-rate__dto ws10-c-card-rate__dto--percent"
                    >
                      50% dto. 6 meses
                    </p>
                    <p
                      class="ws10-c-card-rate__dto ws10-c-card-rate__dto--label"
                    >
                      Permanencia 6 meses
                    </p>
                    <p
                      class="ws10-c-card-rate__dto ws10-c-card-rate__dto--price"
                    >
                      <del>61,99€/mes</del>
                    </p>
                    <p class="ws10-c-card-rate__price ws10-u-color--black">
                      30,49€<sub>/mes</sub>
                    </p>
                  </div>
                </div>
                <a
                  href="https://www.vodafone.es/c/particulares/es/productos-y-servicios/vodafone-one/alt/n/paquete-one-2/"
                  type="submit"
                  name="cta"
                  title="más info"
                  class="ws10-c-button ws10-c-button--auto"
                  data-analytics-context="mas info:vodafone one ilimitada avanzada 600mbps"
                  data-analytics-element="cardrate"
                  data-analytics-category="cta"
                  data-analytics-id="-4725875160583"
                >
                  Más info
                </a>
              </div>
            </div>

          </div>
        </div>
      </section>

    </div>
    <div class="ws10-o-layout__item ws10-u--1/2@tablet ws10-u--1/3@desktop">
      <!-- Vodafone One ilimitada Plus 600 -->

      <section
        class="ws10-c-card ws10-c-card-rate ws10-c-card--no-shadow"
        data-ws10-js="card-rate"
      >
        <div class="ws10-c-card-rate__w-rates">
          <div class="ws10-c-card-rate__a-rate">
            <ul
              class="ws10-c-card-rate__product-info"
              data-vfes-seo-empathy-promoperiod="50% dto. 6 meses Permanencia 1 año"
              data-vfes-seo-empathy-promoprice="37,49"
              data-vfes-seo-empathy-price="74,99"
            >
              <li class="ws10-c-card-rate__product-info-item">
                <svg
                  class="ws10-c-card-rate__product-icon ws10-u-color--black"
                  xmlns="http://www.w3.org/2000/svg"
                  xmlns:xlink="http://www.w3.org/1999/xlink"
                >
                  <use xlink:href="#icon-mobile"></use>
                </svg>

                <div class="ws10-c-card-rate__product">
                  <p class="ws10-c-card-rate__product-title">
                    Datos y minutos ilimitados
                  </p>
                  <p
                    class="ws10-c-card-rate__product-txt ws10-c-card-rate__product-txt--primary"
                  >
                    velocidad máxima 5G
                    <svg
                      class="ws10-c-card-rate__product-txt-icon"
                      xmlns="http://www.w3.org/2000/svg"
                      xmlns:xlink="http://www.w3.org/1999/xlink"
                    >
                      <use xlink:href="#icon-thunder-3"></use>
                    </svg>
                  </p>
                </div>
              </li>
              <li
                class="ws10-c-card-rate__product-info-item"
                data-js-vf="_secondLine"
              >
                <svg
                  class="ws10-c-card-rate__product-icon ws10-u-color--black"
                  xmlns="http://www.w3.org/2000/svg"
                  xmlns:xlink="http://www.w3.org/1999/xlink"
                >
                  <use xlink:href="#icon-sim"></use>
                </svg>
                <div class="ws10-c-card-rate__product">
                  <p class="ws10-c-card-rate__product-title">
                    Segunda línea GRATIS 1 año
                  </p>
                  <p class="ws10-c-card-rate__product-txt">
                    Datos y minutos ilimitados
                  </p>
                </div>
              </li>
              <li class="ws10-c-card-rate__product-info-item">

                <svg
                  class="ws10-c-card-rate__product-icon ws10-u-color--black"
                  xmlns="http://www.w3.org/2000/svg"
                  xmlns:xlink="http://www.w3.org/1999/xlink"
                >
                  <use xlink:href="#icon-broadband-or-wifi"></use>
                </svg>
                <div class="ws10-c-card-rate__product">
                  <p class="ws10-c-card-rate__product-title">
                    600Mbps Fibra Óptica</p>
                  <p class="ws10-c-card-rate__product-txt">
                    + llamadas ilimitadas en fijo
                  </p>
              </li>
              <li class="ws10-c-card-rate__product-info-item">
                <svg
                  class="ws10-c-card-rate__product-icon ws10-u-color--black"
                  xmlns="http://www.w3.org/2000/svg"
                  xmlns:xlink="http://www.w3.org/1999/xlink"
                >
                  <use xlink:href="#icon-tv"></use>
                </svg>
                <div class="ws10-c-card-rate__product">
                  <p class="ws10-c-card-rate__product-title">
                    Pack TV Seriefans GRATIS 1 año
                  </p>
                  <p
                    class="ws10-c-card-rate__product-txt"
                    style="font-size: 17px;"
                  >
                    con HBO España y 60 canales más
                  </p>
                </div>
              </li>
            </ul>

            <div data-js-vf="_priceTotal">
              <div class="ws10-c-card-rate__w-cta" >
                <div class="ws10-c-card-rate__w-offers">
                  <div class="ws10-c-card-rate__offer" id="rate-1-offer-1">
                    <p
                      class="ws10-c-card-rate__dto ws10-c-card-rate__dto--percent"
                    >
                      50% dto. 6 meses
                    </p>
                    <p
                      class="ws10-c-card-rate__dto ws10-c-card-rate__dto--label"
                    >
                      Permanencia 6 meses
                    </p>
                    <p
                      class="ws10-c-card-rate__dto ws10-c-card-rate__dto--price"
                    >
                      <del>74,99€/mes</del>
                    </p>
                    <p class="ws10-c-card-rate__price ws10-u-color--black">
                      37,49€<sub>/mes</sub>
                    </p>
                  </div>
                </div>
                <a
                  href="https://www.vodafone.es/c/particulares/es/productos-y-servicios/vodafone-one/alt/n/paquete-one-3/"
                  type="submit"
                  name="cta"
                  title="más info"
                  class="ws10-c-button ws10-c-button--auto"
                  data-analytics-context="mas info:vodafone one ilimitada plus 600mbps"
                  data-analytics-element="cardrate"
                  data-analytics-category="cta"
                  data-analytics-id="-4725875160583"
                >
                  Más info
                </a>
              </div>
            </div>
          </div>
        </div>
      </section>

    </div>
  </div>

</section>