{{!-- <!-- Sección Tabla -->
<section class="vf-table">
       
     <h2 class="ws10-u-heading--4-lt">
           <strong>¿Aún tienes dudas? Compara entre tarifas de fibra, móvil y TV</strong>
        </h2>
    <div class="vf-table__container ws10-u--mb8x">
        <table class="vf-table__datalist ws10-u--m0"
                summary="Tabla comparativa de la tarifa ilimitada Total en función del número de líneas escogidas (entre 1 y 4)">
            <caption class="ws10-u--hidden-visually">Comparativa de tarifas de fibra, móvil y TV</caption>
            <thead>
            <tr>
                <th id="total" headers="blank" scope="col" class="vf-table__th">
                    <span class="vf-table__title ws10-u-heading--4-lt">ilimitada</span><br>
                    <span class="vf-table__title--big"><strong>
                        26,99€
                        </strong><span class="vf-table__title--small">/mes</span></span>
                </th>
                <th id="moviles2" headers="blank" scope="col" class="vf-table__th">
                    <span class="vf-table__title ws10-u-heading--4-lt">ilimitada Maxi</span><br>
                    <span class="vf-table__title--big"><strong>
                        36,99€
                        </strong><span class="vf-table__title--small">/mes</span></span>
                </th>
                <th id="moviles3" headers="blank" scope="col" class="vf-table__th">
                    <span class="vf-table__title ws10-u-heading--4-lt">ilimitada Total 600Mbps</span><br>
                    <span class="vf-table__title--big"><strong>
                        41,99€
                        </strong><span class="vf-table__title--small">/mes</span></span>
                </th>
                <th id="moviles4" headers="blank" scope="col" class="vf-table__th">
                    <span class="vf-table__title ws10-u-heading--4-lt">ilimitada Total 1Gbps</span><br>
                    <span class="vf-table__title--big"><strong>
                        46,99€
                        </strong><span class="vf-table__title--small">/mes</span></span>
                </th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th id="ilimitados" headers="blank" scope="rowgroup" class="vf-table__td--subheader"
                        colspan="4"><strong>Datos ilimitados</strong>
                </th>
            </tr>
            <tr>
                <td headers="total ilimitados" class="vf-table__td vf-table__icon vf-table__icon--tick"><span
                        class="ws10-u--hidden-visually">Sí</span>Velocidad media</td>
                <td headers="moviles2 ilimitados" class="vf-table__td vf-table__icon vf-table__icon--tick"><span
                        class="ws10-u--hidden-visually">Sí</span>Velocidad alta</td>
                <td headers="moviles3 ilimitados" class="vf-table__td vf-table__icon vf-table__icon--tick"><span
                        class="ws10-u--hidden-visually">Sí</span>Velocidad máxima</td>
                <td headers="moviles4 ilimitados" class="vf-table__td vf-table__icon vf-table__icon--tick"><span
                        class="ws10-u--hidden-visually">Sí</span>Velocidad máxima</td>
            </tr>
            <tr>
                <th id="fibra" headers="blank" scope="rowgroup" class="vf-table__td--subheader" colspan="4">
                    <strong>Fibra Óptica</strong>
                </th>
            </tr>
            <tr>
                <td headers="total fibra" class="vf-table__td vf-table__icon vf-table__icon--tick"><span
                        class="ws10-u--hidden-visually">Sí</span>300Mbps</td>
                <td headers="moviles2 fibra" class="vf-table__td vf-table__icon vf-table__icon--tick"><span
                        class="ws10-u--hidden-visually">Sí</span>600Mbps</td>
                <td headers="moviles3 fibra" class="vf-table__td vf-table__icon vf-table__icon--tick"><span
                        class="ws10-u--hidden-visually">Sí</span>600Mbps</td>
                <td headers="moviles4 fibra" class="vf-table__td vf-table__icon vf-table__icon--tick"><span
                        class="ws10-u--hidden-visually">Sí</span>1Gbps</td>
            </tr>
            <tr>
                <th id="wifi" headers="blank" scope="rowgroup" class="vf-table__td--subheader" colspan="4">
                    <strong>TV</strong>
                </th>
            </tr>
            <tr>
                <td headers="total wifi" class="vf-table__td vf-table__icon vf-table__icon--fault"><span
                        class="ws10-u--hidden-visually">No</span></td>
                <td headers="moviles2 wifi" class="vf-table__td vf-table__icon vf-table__icon--tick"><span
                        class="ws10-u--hidden-visually">Sí</span></td>
                <td headers="moviles3 wifi" class="vf-table__td vf-table__icon vf-table__icon--tick"><span
                        class="ws10-u--hidden-visually">Sí</span></td>
                <td headers="moviles4 wifi" class="vf-table__td vf-table__icon vf-table__icon--tick"><span
                        class="ws10-u--hidden-visually">Sí</span></td>
            </tr>
        
            </tbody>
        </table>
    </div>
</section> --}}
