<link href="css/ws10.css" rel="stylesheet" />
<link href="css/styles.css" rel="stylesheet" data-ws10-microcss />
<script>

utag_data.plans_add2cart = [{ "product_name": "vodafone one ilimitada plus x2 600mbps", "product_category": "movil+fibra", "product_variant": "datos y minutos ilimitados+600mbps fibra optica", "promotion_price_name": "50% dto. 3 meses", "promotion_gift_name": "", "product_id": "268548269", "product_detail": "", "product_sale_type": "yes:transactional", "product_additional_lines": [{ "product_name": "", "product_category": "", "promotion_price_name": "", "product_id": "" }], "product_packs_tv": [{ "product_name": "", "product_category": "", "promotion_price_name": "", "promotion_gift_name": "", "product_id":""}]},{"product_name": "vodafone one ilimitada plus x2 600mbps ilimitada total pack tv plus x2 series","product_category": "movil+fibra","product_variant": "datos y minutos ilimitados+600mbps fibra optica","promotion_price_name": "50% dto. 3 meses","promotion_gift_name": "","product_id": "268548269","product_detail": "","product_sale_type": "yes:transactional","product_packs_tv": [{"product_name": "","product_category": "","promotion_price_name": "","promotion_gift_name": "","product_id": ""}]}]

</script>
<div class="vfes-ms-content ws10-u-color--bg-light-grey" id="ilimitada" style="visibility: hidden;opacity: 0">

    <!-- BANNER & DIV TICKET QUE INYECTA WCS -->
    {{> headerTicket }}
    <!-- CONTENIDO EN 2/3 DE LA PÁGINA -->
    <div class="ws10-o-wrapper">
        <div class="ws10-o-layout">
            <div class="ws10-o-layout__item ws10-u--2/3@desktop ws10-u--3/5@tablet">
                <!-- MÓVIL -->
                {{> mobile }}
                <!-- SEGUNDA LÍNEA GRATIS -->
                {{> secondLine }}
                {{!-- TV --}}
                {{> tv }}
                <!-- POPUP TV -->
                {{> popupTv }}
                <!-- DECO -->
                {{> deco }}
                <!-- FIBRA -->
                {{> fibra }}
                <!-- TAMBIÉN INCLUIDO -->
                {{> alsoincluded }}


                <!-- SIN SORPRESAS -->
                {{> sinsorpresas }}
                <!-- TIMELINE  -->
                {{> timeline }}
            </div>
        </div>
    </div>
    <!-- STICKY BOTTOM -->


    {{> sticky }}

    <!-- TERMINALES-->
    {{> terminales }}

</div>

<script src="js/ws10.js"></script>
<script src="js/main.js"></script>
