<section
  class="vf-sticky ws10-c-card-rate-sticky ws10-u--hidden"
  data-js-vf="_stickyRate"
>
  <div data-js-vf="_recommendedRate">
    <div class="ws10-c-card ws10-c-card--no-borders-bottom-radius">
      <div class="ws10-c-card-rate-sticky__w-cta" data-js-vf="_portability">
        <div
          class="ws10-c-card-rate-sticky__offer ws10-flex ws10-flex__direction--column"
        >
          <del class="ws10-c-card-rate-sticky__dto-price">54,99€/mes</del>
          <span class="ws10-c-card-rate-sticky__final-price">
            <span
              class="ws10-c-card-rate-sticky__final-price-value"
            >26,99€</span>
            <span class="ws10-c-card-rate-sticky__final-price-date">/mes</span>
          </span>
        </div>
        <a
          href="https://www.vodafone.es/c/tienda-online/particulares/contratacion?id=1255058&tcli=0&tta=1"
          name="cta"
          title="CTA"
          class="ws10-c-button ws10-c-button--auto"
          data-analytics-element="stiky inferior"
          data-analytics-context="lo quiero"
          data-analytics-category="cta"
          data-analytics-id="3155775530819"
          onmousedown="addtocart(utag_data.plans_add2cart)"
        >
          Lo quiero
        </a>
      </div>
      <div
        class="ws10-c-card-rate-sticky__w-cta ws10-u--hidden"
        data-js-vf="_newNumber"
      >
        <div
          class="ws10-c-card-rate-sticky__offer ws10-flex ws10-flex__direction--column"
        >
          <del class="ws10-c-card-rate-sticky__dto-price">54,99€/mes</del>
          <span class="ws10-c-card-rate-sticky__final-price">
            <span
              class="ws10-c-card-rate-sticky__final-price-value"
            >26,99€</span>
            <span class="ws10-c-card-rate-sticky__final-price-date">/mes</span>
          </span>
        </div>
        <a
          href="https://www.vodafone.es/c/tienda-online/particulares/contratacion?id=1250784&tcli=0&tta=1"
          name="cta"
          title="CTA"
          class="ws10-c-button ws10-c-button--auto"
          data-analytics-element="stiky inferior"
          data-analytics-context="lo quiero"
          data-analytics-id="8399925331411"
          data-analytics-category="cta"
        >
          Lo quiero
        </a>
      </div>
    </div>
  </div>
  <div data-js-vf="_regularRate" class="ws10-u--hidden">

    <div class="ws10-c-card ws10-c-card--no-borders-bottom-radius">
      <div class="ws10-c-card-rate-sticky__w-cta" data-js-vf="_portability">
        <div
          class="ws10-c-card-rate-sticky__offer ws10-flex ws10-flex__direction--column"
        >
          <del class="ws10-c-card-rate-sticky__dto-price">64,99€/mes</del>
          <span class="ws10-c-card-rate-sticky__final-price">
            <span
              class="ws10-c-card-rate-sticky__final-price-value"
            >26,99€</span>
            <span class="ws10-c-card-rate-sticky__final-price-date">/mes</span>
          </span>
        </div>
        <a
          href="https://www.vodafone.es/c/tienda-online/particulares/contratacion?id=1255058&tcli=0&tta=1"
          name="cta"
          title="CTA"
          class="ws10-c-button ws10-c-button--auto"
          data-analytics-element="stiky inferior"
          data-analytics-context="lo quiero"
          data-analytics-category="cta"
          data-analytics-id="3155775530818"
          onmousedown="addtocart(utag_data.plans_add2cart)"
        >
          Lo quiero
        </a>
      </div>
      <div
        class="ws10-c-card-rate-sticky__w-cta ws10-u--hidden"
        data-js-vf="_newNumber"
      >
        <div
          class="ws10-c-card-rate-sticky__offer ws10-flex ws10-flex__direction--column"
        >
          <del class="ws10-c-card-rate-sticky__dto-price">64,99€/mes</del>
          <span class="ws10-c-card-rate-sticky__final-price">
            <span
              class="ws10-c-card-rate-sticky__final-price-value"
            >26,99€</span>
            <span class="ws10-c-card-rate-sticky__final-price-date">/mes</span>
          </span>
        </div>
        <a
          href="https://www.vodafone.es/c/tienda-online/particulares/contratacion?id=1250784&tcli=0&tta=1"
          name="cta"
          title="CTA"
          class="ws10-c-button ws10-c-button--auto"
          data-analytics-element="stiky inferior"
          data-analytics-context="lo quiero"
          data-analytics-id="8399925331410"
          data-analytics-category="cta"
        >
          Lo quiero
        </a>
      </div>
    </div>
  </div>
</section>