<section
  class="vf-sticky ws10-c-card-rate-sticky ws10-u--hidden"
  data-js-vf="_stickyRate"
>
  <div data-js-vf="_recommendedRate">
    <div class="ws10-c-card ws10-c-card--no-borders-bottom-radius">
      <div class="ws10-c-card-rate-sticky__w-cta" data-js-vf="_portability">
        <div
          class="ws10-c-card-rate-sticky__offer ws10-flex ws10-flex__direction--column"
        >
          <del class="ws10-c-card-rate-sticky__dto-price">54,99€/mes</del>
          <span class="ws10-c-card-rate-sticky__final-price">
            <span
              class="ws10-c-card-rate-sticky__final-price-value"
            >28,49€</span>
            <span
              class="ws10-c-card-rate-sticky__final-price-date"
            >/mes</span>
          </span>
        </div>
        <a
          data-cta="300:port:sticky"
          type="submit"
          class="ws10-c-button ws10-c-button--auto"
          href="#"
          onmousedown="#"
          data-analytics-element="#"
          data-analytics-context="#"
          data-analytics-category="#"
          data-analytics-id=""
        >
          Lo quiero
          <span class="ws10-u--hidden-visually" data-cta-a11y></span>
        </a>
      </div>
      <div
        class="ws10-c-card-rate-sticky__w-cta ws10-u--hidden"
        data-js-vf="_newNumber"
      >
        <div
          class="ws10-c-card-rate-sticky__offer ws10-flex ws10-flex__direction--column"
        >
          <del class="ws10-c-card-rate-sticky__dto-price">54,99€/mes</del>
          <span class="ws10-c-card-rate-sticky__final-price">
            <span
              class="ws10-c-card-rate-sticky__final-price-value"
            >28,49€</span>
            <span
              class="ws10-c-card-rate-sticky__final-price-date"
            >/mes</span>
          </span>
        </div>
        <a
          data-cta="300:new:sticky"
          type="submit"
          class="ws10-c-button ws10-c-button--auto"
          href="#"
          onmousedown="#"
          data-analytics-element="#"
          data-analytics-context="#"
          data-analytics-category="#"
          data-analytics-id=""
        >
          Lo quiero
          <span class="ws10-u--hidden-visually" data-cta-a11y></span>
        </a>
      </div>
    </div>
  </div>
  <div data-js-vf="_regularRate" class="ws10-u--hidden">

    <div class="ws10-c-card ws10-c-card--no-borders-bottom-radius">
      <div class="ws10-c-card-rate-sticky__w-cta" data-js-vf="_portability">
        <div
          class="ws10-c-card-rate-sticky__offer ws10-flex ws10-flex__direction--column"
        >
          <del class="ws10-c-card-rate-sticky__dto-price">64,99€/mes</del>
          <span class="ws10-c-card-rate-sticky__final-price">
            <span
              class="ws10-c-card-rate-sticky__final-price-value"
            >28,49€</span>
            <span
              class="ws10-c-card-rate-sticky__final-price-date"
            >/mes</span>
          </span>
        </div>
        <a
          data-cta="600:port:sticky"
          type="submit"
          class="ws10-c-button ws10-c-button--auto"
          href="#"
          onmousedown="#"
          data-analytics-element="#"
          data-analytics-context="#"
          data-analytics-category="#"
          data-analytics-id=""
        >
          Lo quiero
          <span class="ws10-u--hidden-visually" data-cta-a11y></span>
        </a>
      </div>
      <div
        class="ws10-c-card-rate-sticky__w-cta ws10-u--hidden"
        data-js-vf="_newNumber"
      >
        <div
          class="ws10-c-card-rate-sticky__offer ws10-flex ws10-flex__direction--column"
        >
          <del class="ws10-c-card-rate-sticky__dto-price">64,99€/mes</del>
          <span class="ws10-c-card-rate-sticky__final-price">
            <span
              class="ws10-c-card-rate-sticky__final-price-value"
            >28,49€</span>
            <span
              class="ws10-c-card-rate-sticky__final-price-date"
            >/mes</span>
          </span>
        </div>
        <a
          data-cta="600:new:sticky"
          type="submit"
          class="ws10-c-button ws10-c-button--auto"
          href="#"
          onmousedown="#"
          data-analytics-element="#"
          data-analytics-context="#"
          data-analytics-category="#"
          data-analytics-id=""
        >
          Lo quiero
          <span class="ws10-u--hidden-visually" data-cta-a11y></span>
        </a>
      </div>
    </div>
  </div>
</section>
