<div
  class="ws10-c-backdrop ws10-c-backdrop--full-height js-backdrop"
  data-ws10-js="backdrop"
  aria-hidden="true"
>
  <section
    id="icon-backdrop"
    class="ws10-c-backdrop__item js-backdrop-item"
    aria-hidden="true"
    role="dialog"
    aria-modal="true"
  >
    <div class="ws10-c-backdrop__head vf-block">
      <div class="ws10-c-backdrop__head-content">
        <p class="ws10-c-backdrop__title ws10-align--center">
          Si ya eres cliente...
        </p>
        <button
          class="ws10-c-backdrop__close js-backdrop-close"
          aria-hidden="false"
          data-analytics-context="aspa de cierre"
          data-analytics-element="pop up"
          data-analytics-category="cta"
          data-analytics-id="-1083616303361"
        >
          <svg
            class="ws10-c-backdrop__close-icon"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
          >
            <title>Close</title>
            <use xlink:href="#icon-close"></use>
          </svg>
        </button>
      </div>
    </div>
    <div
      class="ws10-c-backdrop__content js-backdrop-content ws10-align--center"
    >
      <p>Si ya eres cliente de Vodafone y también empleado de una de las
        empresas a las que le ofrecemos nuestros servicios de
        telecomunicaciones,
        <strong>envía un correo a ofertaempleados@vodafone.com indicando tu
          DNI/NIF y el número de código que te ha facilitado tu empresa.</strong></p>
      <p>Una vez recibido el correo, te responderemos a la mayor brevedad
        posible indicándote los siguientes pasos, ya que si aún no dispones de
        una de las nuevas tarifas tendrás que cambiarte a una de ellas.</p>
      <a
        href="mailto:ofertaempleados@vodafone.com"
        class="ws10-c-button ws10-u--mt4x@desktop"
        data-analytics-context="enviar correo"
        data-analytics-element="pop up"
        data-analytics-category="cta"
        data-analytics-id="-5504488699476"
      >
        Enviar correo
      </a>
    </div>
  </section>
</div>
