<section class="vf-timeline ws10-u--pt12x">
  <h3 class="ws10-u-heading--4"><strong>¿Cómo contrato {{ cardRates.title }}?</strong></h3>
  <ul class="ws10-c-timeline-steps">
    <li class="ws10-c-timeline-steps__item">
      <svg
        class="ws10-c-timeline-steps__icon"
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        width="48px"
        height="48px"
      >
        <title>Business</title>
        <use xlink:href="#icon-shopping-trolley-mid"></use>
      </svg>
      <p class="ws10-c-timeline-steps__title">Compra online</p>
      <p class="ws10-c-timeline-steps__text">Recibirás un email de
        confirmación con el detalle de tu pedido y próximos pasos.</p>
    </li>
    <li class="ws10-c-timeline-steps__item">
      <svg
        class="ws10-c-timeline-steps__icon"
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        width="48px"
        height="48px"
      >
        <title>Business</title>
        <use xlink:href="#icon-engineer-mid"></use>
      </svg>
      <p class="ws10-c-timeline-steps__title">Cita de instalación</p>
      <p class="ws10-c-timeline-steps__text">Una vez contratado, un
        experto se pondrá en contacto contigo para concretar la fecha de
        instalación que más te convenga. ¡Tú eliges!</p>
    </li>
    <li class="ws10-c-timeline-steps__item">
      <svg
        class="ws10-c-timeline-steps__icon"
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        width="48px"
        height="48px"
      >
        <title>Business</title>
        <use xlink:href="#icon-calendar-mid"></use>
      </svg>
      <p class="ws10-c-timeline-steps__title">Día de instalación</p>
      <p class="ws10-c-timeline-steps__text">El técnico llevará el
        router y el decodificador si lo has contratado con TV. Lo
        tendrás todo listo en unas 2h (WiFi y TV).</p>
    </li>
    <li class="ws10-c-timeline-steps__item">
      <svg
        class="ws10-c-timeline-steps__icon"
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        width="48px"
        height="48px"
      >
        <title>Business</title>
        <use xlink:href="#icon-business-mid"></use>
      </svg>
      <p class="ws10-c-timeline-steps__title">Portabilidad</p>
      <p class="ws10-c-timeline-steps__text">Recibirás un SMS con la
        fecha y lugar de tu nueva SIM del móvil, así sabrás el día
        exacto del cambio. Nos aseguramos de que no te quedas sin línea.</p>
    </li>
    <li class="ws10-c-timeline-steps__item">
      <svg
        class="ws10-c-timeline-steps__icon"
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        width="48px"
        height="48px"
      >
        <title>Business</title>
        <use xlink:href="#icon-unified-communication-mid"></use>
      </svg>
      <p class="ws10-c-timeline-steps__title">Mi Vodafone</p>
      <p class="ws10-c-timeline-steps__text">Podrás registrarte y hacer
        seguimiento de tu pedido y gestionar tus servicios de Vodafone.</p>
    </li>
  </ul>
</section>
