<section class="vf-vodafone-one ws10-u--pt16x ws10-o-layout">
    <h2 class="ws10-o-layout__item ws10-u-heading--3 ws10-u--pb8x"><strong>Vodafone One las tarifas de Fibra y Móvil pensadas para ti</strong></h2>
    <ul class="ws10-flex ws10-flex__wrap">
        <li class="ws10-o-layout__item ws10-u--p5x ws10-u--1/2@tablet ws10-u--1/4@desktop">
            <article class="ws10-c-feature-hifi">
                    <span class="ws10-c-feature-hifi__background">
                        <img src="img/section-vodafone-one/icono-convergente.svg" alt="icono convergente">
                    </span>
                <h3 class="ws10-c-feature-hifi__title">Vodafone One</h3>
                <p class="ws10-c-feature-hifi__text">Móvil, fibra y fijo incluido. Y el pack de TV aparte para que puedas configurar tu televisión eligiendo tu contenido favorito.</p>
            </article>
        </li>
        <li class="ws10-o-layout__item ws10-u--p5x ws10-u--1/2@tablet ws10-u--1/4@desktop">
            <article class="ws10-c-feature-hifi">
                    <span class="ws10-c-feature-hifi__background">
                        <img src="img/section-vodafone-one/icono-fibra.svg" alt="icono wifi">
                    </span>
                <h3 class="ws10-c-feature-hifi__title">Fibra óptica</h3>
                <p class="ws10-c-feature-hifi__text">La instalación al igual que el módem, es gratuita y rápida pero no tanto como la fibra con la que podrán conectarse sin perder velocidad varios dispositivos a la vez. Además, al ser fibra óptica simétrica tendrás los mismos megas de subida que de bajada.</p>
            </article>
        </li>
        <li class="ws10-o-layout__item ws10-u--p5x ws10-u--1/2@tablet ws10-u--1/4@desktop">
            <article class="ws10-c-feature-hifi">
                    <span class="ws10-c-feature-hifi__background">
                        <img src="img/section-vodafone-one/icono-paquetes.svg" alt="icono paquetes">
                    </span>
                <h3 class="ws10-c-feature-hifi__title">Paquetes Vodafone</h3>
                <p class="ws10-c-feature-hifi__text">Configura tu paquete para que incluya fibra, móvil y televisión. Añade las líneas que necesites y elige el pack de televisión que se adapte a tus gustos.</p>
            </article>
        </li>
        <li class="ws10-o-layout__item ws10-u--p5x ws10-u--1/2@tablet ws10-u--1/4@desktop">
            <article class="ws10-c-feature-hifi">
                    <span class="ws10-c-feature-hifi__background">
                        <img src="img/section-vodafone-one/icono-5g.svg" alt="icono 5g">
                    </span>
                <h3 class="ws10-c-feature-hifi__title">Red 5G</h3>
                <p class="ws10-c-feature-hifi__text">Navega a máxima velocidad con 5G. Descarga una serie en segundos, juega online a tiempo real y disfruta de una calidad mayor de vídeo y voz.</p>
            </article>
        </li>
    </ul>
</section>
