<div class="ws10-c-backdrop js-backdrop" data-ws10-js="backdrop" aria-hidden="true">
    <!-- POPUP TV -->
    <section id="seriefans" class="ws10-c-backdrop__item js-backdrop-item" aria-hidden="true" role="dialog"
        aria-modal="true">
        <div class="ws10-c-backdrop__head">
            <button class="ws10-c-backdrop__close js-backdrop-close" aria-hidden="false">
                <svg class="ws10-c-backdrop__close-icon" xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink">
                    <title>Close</title>
                    <use xlink:href="#icon-close"></use>
                </svg>
            </button>
        </div>
        <div class="ws10-c-backdrop__content js-backdrop-content ws10-u--pt0 ws10-u--mt0">
            <p class="ws10-u-heading--4 ws10-u-heading--4-lt ws10-align--center ws10-u--pt0 ws10-u--mt0">Canales
                Pack Seriefans</p>
            <ul class="ws10-flex ws10-flex__wrap">
                <li class="ws10-o-layout__item ws10-u--1/4 ws10-u--1/6@tablet ws10-align--center">
                    <picture>
                        <source srcset="img/section-tv/popup/seriefans/hbo.webp" type="image/webp">
                        <source srcset="img/section-tv/popup/seriefans/hbo.png" type="image/png">
                        <img src="img/section-tv/popup/seriefans/hbo.png" alt="logo HBO">
                    </picture>
                    <p class="ws10-c-paragraph ws10-u--mb0">HBO España</p>
                </li>
                <li class="ws10-o-layout__item ws10-u--1/4 ws10-u--1/6@tablet ws10-align--center">
                    <picture>
                        <source srcset="img/section-tv/popup/seriefans/hbo.webp" type="image/webp">
                        <source srcset="img/section-tv/popup/seriefans/hbo.png" type="image/png">
                        <img src="img/section-tv/popup/seriefans/hbo.png" alt="logo HBO">
                    </picture>
                    <p class="ws10-c-paragraph ws10-u--mb0">FOXNOW</p>
                </li>
                <li class="ws10-o-layout__item ws10-u--1/4 ws10-u--1/6@tablet ws10-align--center">
                    <picture>
                        <source srcset="img/section-tv/popup/seriefans/hbo.webp" type="image/webp">
                        <source srcset="img/section-tv/popup/seriefans/hbo.png" type="image/png">
                        <img src="img/section-tv/popup/seriefans/hbo.png" alt="logo HBO">
                    </picture>
                    <p class="ws10-c-paragraph ws10-u--mb0">AXN Now</p>
                </li>
                <li class="ws10-o-layout__item ws10-u--1/4 ws10-u--1/6@tablet ws10-align--center">
                    <picture>
                        <source srcset="img/section-tv/popup/seriefans/hbo.webp" type="image/webp">
                        <source srcset="img/section-tv/popup/seriefans/hbo.png" type="image/png">
                        <img src="img/section-tv/popup/seriefans/hbo.png" alt="logo HBO">
                    </picture>
                    <p class="ws10-c-paragraph ws10-u--mb0">TNT</p>
                </li>
                <li class="ws10-o-layout__item ws10-u--1/4 ws10-u--1/6@tablet ws10-align--center">
                    <picture>
                        <source srcset="img/section-tv/popup/seriefans/fox.webp" type="image/webp">
                        <source srcset="img/section-tv/popup/seriefans/fox.png" type="image/png">
                        <img src="img/section-tv/popup/seriefans/fox.png" alt="logo canal Fox">
                    </picture>
                    <p class="ws10-c-paragraph ws10-u--mb0">FOX</p>
                </li>
                <li class="ws10-o-layout__item ws10-u--1/4 ws10-u--1/6@tablet ws10-align--center">
                    <picture>
                        <source srcset="img/section-tv/popup/seriefans/amcseries-desktop.webp" type="image/webp">
                        <source srcset="img/section-tv/popup/seriefans/amcseries-desktop.png" type="image/png">
                        <img src="img/section-tv/popup/seriefans/amcseries-desktop.png" alt="logo AMC SELEKT series">
                    </picture>
                    <p class="ws10-c-paragraph ws10-u--mb0">AMC SELEKT Series</p>
                </li>
                <li class="ws10-o-layout__item ws10-u--1/4 ws10-u--1/6@tablet ws10-align--center">
                    <picture>
                        <source srcset="img/section-tv/popup/seriefans/syfy.webp" type="image/webp">
                        <source srcset="img/section-tv/popup/seriefans/syfy.png" type="image/png">
                        <img src="img/section-tv/popup/seriefans/syfy.png" alt="logo canal Syfy">
                    </picture>
                    <p class="ws10-c-paragraph ws10-u--mb0">SYFY</p>
                </li>
                <li class="ws10-o-layout__item ws10-u--1/4 ws10-u--1/6@tablet ws10-align--center">
                    <picture>
                        <source srcset="img/section-tv/popup/seriefans/calle13.webp" type="image/webp">
                        <source srcset="img/section-tv/popup/seriefans/calle13.png" type="image/png">
                        <img src="img/section-tv/popup/seriefans/calle13.png" alt="logo canal Calle 13">
                    </picture>
                    <p class="ws10-c-paragraph ws10-u--mb0">Calle 13</p>
                </li>
                <li class="ws10-o-layout__item ws10-u--1/4 ws10-u--1/6@tablet ws10-align--center">
                    <picture>
                        <source srcset="img/section-tv/popup/seriefans/axn.webp" type="image/webp">
                        <source srcset="img/section-tv/popup/seriefans/axn.png" type="image/png">
                        <img src="img/section-tv/popup/seriefans/axn.png" alt="logo canal AXN">
                    </picture>
                    <p class="ws10-c-paragraph ws10-u--mb0">AXN</p>
                </li>
                <li class="ws10-o-layout__item ws10-u--1/4 ws10-u--1/6@tablet ws10-align--center">
                    <picture>
                        <source srcset="img/section-tv/popup/seriefans/axnwhite.webp" type="image/webp">
                        <source srcset="img/section-tv/popup/seriefans/axnwhite.png" type="image/png">
                        <img src="img/section-tv/popup/seriefans/axnwhite.png" alt="logo canal AXN White">
                    </picture>
                    <p class="ws10-c-paragraph ws10-u--mb0">AXN White</p>
                </li>
            </ul>
            <p class="ws10-u-heading--5 ws10-align--center">Y además todos los Packs incluyen estos canales:</p>
            <ul class="ws10-flex ws10-flex__wrap">
                <li class="ws10-o-layout__item ws10-u--1/4 ws10-u--1/6@tablet ws10-align--center">
                    <picture>
                        <source srcset="img/section-tv/popup/seriefans/amc_desktop.webp" type="image/webp">
                        <source srcset="img/section-tv/popup/seriefans/amc_desktop.png" type="image/png">
                        <img src="img/section-tv/popup/seriefans/amc_desktop.png" alt="logo AMC">
                    </picture>
                    <p class="ws10-c-paragraph ws10-u--mb0">AMC</p>
                </li>
                <li class="ws10-o-layout__item ws10-u--1/4 ws10-u--1/6@tablet ws10-align--center">
                    <picture>
                        <source srcset="img/section-tv/popup/comunes/foxlife.webp" type="image/webp">
                        <source srcset="img/section-tv/popup/comunes/foxlife.png" type="image/png">
                        <img src="img/section-tv/popup/comunes/foxlife.png" alt="logo FOX LIFE">
                    </picture>
                    <p class="ws10-c-paragraph ws10-u--mb0">FOX Life</p>
                </li>
                <li class="ws10-o-layout__item ws10-u--1/4 ws10-u--1/6@tablet ws10-align--center">
                    <picture>
                        <source srcset="img/section-tv/popup/comunes/cosmo.webp" type="image/webp">
                        <source srcset="img/section-tv/popup/comunes/cosmo.png" type="image/png">
                        <img src="img/section-tv/popup/comunes/cosmo.png" alt="logo canal COSMO">
                    </picture>
                    <p class="ws10-c-paragraph ws10-u--mb0 ws10-u-mb0">Cosmo</p>
                </li>
                <li class="ws10-o-layout__item ws10-u--1/4 ws10-u--1/6@tablet ws10-align--center">
                    <picture>
                        <source srcset="img/section-tv/popup/comunes/comedy.webp" type="image/webp">
                        <source srcset="img/section-tv/popup/comunes/comedy.png" type="image/png">
                        <img src="img/section-tv/popup/comunes/comedy.png" alt="logo canal Comedy Central">
                    </picture>
                    <p class="ws10-c-paragraph ws10-u--mb0">Comedy Central</p>
                </li>
                <li class="ws10-o-layout__item ws10-u--1/4 ws10-u--1/6@tablet ws10-align--center">
                    <picture>
                        <source srcset="img/section-tv/popup/comunes/xtrm.webp" type="image/webp">
                        <source srcset="img/section-tv/popup/comunes/xtrm.png" type="image/png">
                        <img src="img/section-tv/popup/comunes/xtrm.png" alt="logo canal XTRM">
                    </picture>
                    <p class="ws10-c-paragraph ws10-u--mb0">XTRM</p>
                </li>
                <li class="ws10-o-layout__item ws10-u--1/4 ws10-u--1/6@tablet ws10-align--center">
                    <picture>
                        <source srcset="img/section-tv/popup/comunes/tcm.webp" type="image/webp">
                        <source srcset="img/section-tv/popup/comunes/tcm.png" type="image/png">
                        <img src="img/section-tv/popup/comunes/tcm.png" alt="logo canal TCM">
                    </picture>
                    <p class="ws10-c-paragraph ws10-u--mb0">TCM</p>
                </li>
                <li class="ws10-o-layout__item ws10-u--1/4 ws10-u--1/6@tablet ws10-align--center">
                    <picture>
                        <source srcset="img/section-tv/popup/comunes/sundance.webp" type="image/webp">
                        <source srcset="img/section-tv/popup/comunes/sundance.png" type="image/png">
                        <img src="img/section-tv/popup/comunes/sundance.png" alt="logo canal Sundance TV">
                    </picture>
                    <p class="ws10-c-paragraph ws10-u--mb0">Sundance TV</p>
                </li>
                <li class="ws10-o-layout__item ws10-u--1/4 ws10-u--1/6@tablet ws10-align--center">
                    <picture>
                        <source srcset="img/section-tv/popup/comunes/natgeo.webp" type="image/webp">
                        <source srcset="img/section-tv/popup/comunes/natgeo.png" type="image/png">
                        <img src="img/section-tv/popup/comunes/natgeo.png" alt="logo canal National Geographic">
                    </picture>
                    <p class="ws10-c-paragraph ws10-u--mb0">National Geographic</p>
                </li>
                <li class="ws10-o-layout__item ws10-u--1/4 ws10-u--1/6@tablet ws10-align--center">
                    <picture>
                        <source srcset="img/section-tv/popup/comunes/natgeonow.webp" type="image/webp">
                        <source srcset="img/section-tv/popup/comunes/natgeonow.png" type="image/png">
                        <img src="img/section-tv/popup/comunes/natgeonow.png" alt="logo canal National Geographic Now">
                    </picture>
                    <p class="ws10-c-paragraph ws10-u--mb0">National Geographic Now</p>
                </li>
                <li class="ws10-o-layout__item ws10-u--1/4 ws10-u--1/6@tablet ws10-align--center">
                    <picture>
                        <source srcset="img/section-tv/popup/comunes/cocina.webp" type="image/webp">
                        <source srcset="img/section-tv/popup/comunes/cocina.png" type="image/png">
                        <img src="img/section-tv/popup/comunes/cocina.png" alt="logo canal Cocina">
                    </picture>
                    <p class="ws10-c-paragraph ws10-u--mb0">Cocina</p>
                </li>
                <li class="ws10-o-layout__item ws10-u--1/4 ws10-u--1/6@tablet ws10-align--center">
                    <picture>
                        <source srcset="img/section-tv/popup/comunes/decasa.webp" type="image/webp">
                        <source srcset="img/section-tv/popup/comunes/decasa.png" type="image/png">
                        <img src="img/section-tv/popup/comunes/decasa.png" alt="logo canal Decasa">
                    </picture>
                    <p class="ws10-c-paragraph ws10-u--mb0">Decasa</p>
                </li>
                <li class="ws10-o-layout__item ws10-u--1/4 ws10-u--1/6@tablet ws10-align--center">
                    <picture>
                        <source srcset="img/section-tv/popup/comunes/mtv.webp" type="image/webp">
                        <source srcset="img/section-tv/popup/comunes/mtv.png" type="image/png">
                        <img src="img/section-tv/popup/comunes/mtv.png" alt="logo canal MTV">
                    </picture>
                    <p class="ws10-c-paragraph ws10-u--mb0">MTV</p>
                </li>
                <li class="ws10-o-layout__item ws10-u--1/4 ws10-u--1/6@tablet ws10-align--center">
                    <picture>
                        <source srcset="img/section-tv/popup/comunes/mymtv.webp" type="image/webp">
                        <source srcset="img/section-tv/popup/comunes/mymtv.png" type="image/png">
                        <img src="img/section-tv/popup/comunes/mymtv.png" alt="logo canal MTV Music">
                    </picture>
                    <p class="ws10-c-paragraph ws10-u--mb0">MyMTV Music</p>
                </li>
                <li class="ws10-o-layout__item ws10-u--1/4 ws10-u--1/6@tablet ws10-align--center">
                    <picture>
                        <source srcset="img/section-tv/popup/comunes/solmusica.webp" type="image/webp">
                        <source srcset="img/section-tv/popup/comunes/solmusica.png" type="image/png">
                        <img src="img/section-tv/popup/comunes/solmusica.png" alt="logo canal SOL Música">
                    </picture>
                    <p class="ws10-c-paragraph ws10-u--mb0">SOL Música</p>
                </li>

                <li class="ws10-o-layout__item ws10-u--1/4 ws10-u--1/6@tablet ws10-align--center">
                    <picture>
                        <source srcset="img/section-tv/popup/comunes/eurosport.webp" type="image/webp">
                        <source srcset="img/section-tv/popup/comunes/eurosport.png" type="image/png">
                        <img src="img/section-tv/popup/comunes/eurosport.png" alt="logo Eurosport 1">
                    </picture>
                    <p class="ws10-c-paragraph ws10-u--mb0">Eurosport 1</p>
                </li>
                <li class="ws10-o-layout__item ws10-u--1/4 ws10-u--1/6@tablet ws10-align--center">
                    <picture>
                        <source srcset="img/section-tv/popup/comunes/selekt.webp" type="image/webp">
                        <source srcset="img/section-tv/popup/comunes/selekt.png" type="image/png">
                        <img src="img/section-tv/popup/comunes/selekt.png" alt="logo selekt">
                    </picture>
                    <p class="ws10-c-paragraph ws10-u--mb0">Selekt</p>
                </li>
            </ul>

        </div>
    </section>
    <!-- POPUP DISPOSITIVOS COMPATIBLES -->

</div>

<div class="ws10-c-backdrop js-backdrop" data-ws10-js="backdrop" aria-hidden="true">
    <section id="dispositivos-compatibles" class="ws10-c-backdrop__item js-backdrop-item" aria-hidden="true"
        role="dialog" aria-modal="true">
        <div class="ws10-c-backdrop__head">
            <button class="ws10-c-backdrop__close js-backdrop-close" aria-hidden="false">
                <svg class="ws10-c-backdrop__close-icon" xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink">
                    <title>Close</title>
                    <use xlink:href="#icon-close"></use>
                </svg>
            </button>
        </div>
        <div class="ws10-c-backdrop__content js-backdrop-content ws10-u--pt0 ws10-u--mt0">
            <p
                class="ws10-u-heading--4 ws10-u-heading--4-lt ws10-align--center ws10-u--pt0 ws10-u--mt0 ws10-u--pb2x">
                Dispositivos compatibles</p>
            <ul class="ws10-flex ws10-flex__wrap">
                <li class="ws10-u--1/2 ws10-flex ws10-flex__align-items--center">
                    <svg class="ws10-u--pr1x" style="width: 60px; height: 60px;">
                        <title>icon-tv-mid</title>
                        <use xlink:href="#icon-mobile-mid" class="icon-v3"></use>
                    </svg>
                    <p class="ws10-c-paragraph ws10-u--mb0">Móvil / Tablet iOS y Android.</p>
                </li>
                <li class="ws10-u--1/2 ws10-flex ws10-flex__align-items--center">
                    <svg class="ws10-u--pr1x" style="width: 60px; height: 60px;">
                        <title>icon-tv-mid</title>
                        <use xlink:href="#icon-tv-mid" class="icon-v3"></use>
                    </svg>
                    <p class="ws10-c-paragraph ws10-u--mb0 ws10-u--4/5">Modelos de smart TV Samsung (a partir de
                        2017). Modelos de smart TV Sony (desde 2015) , Philips (desde 2018) y Xiaomi y TCL con
                        Android TV.
                    </p>
                </li>
                <li class="ws10-u--1/2 ws10-flex ws10-flex__align-items--center">
                    <svg class="ws10-u--pr1x" style="width: 60px; height: 60px;">
                        <title>icon-connected-devices-mid</title>
                        <use xlink:href="#icon-connected-devices-mid" class="icon-v3"></use>
                    </svg>
                    <p class="ws10-c-paragraph ws10-u--mb0">Chromecast.</p>
                </li>
                <li class="ws10-u--1/2 ws10-flex ws10-flex__align-items--center">
                    <svg class="ws10-u--pr1x" style="width: 60px;">
                        <title>icon-desktop-mid</title>
                        <use xlink:href="#icon-desktop-mid" class="icon-v3"></use>
                    </svg>
                    <p class="ws10-c-paragraph ws10-u--mb0">PC/Mac.</p>
                </li>
                <li class="ws10-u--1/2 ws10-flex ws10-flex__align-items--center">
                    <img src="img/section-tv/icono-fire-tv.svg" alt="icono Fire TV Stick" class="ws10-u--pr1x"
                        style="width: 60px; height: 60px;">
                    <p class="ws10-c-paragraph ws10-u--mb0">Fire TV Stick.</p>
                </li>
            </ul>
        </div>
    </section>
</div>
