// CSS del microsite
.vfes-ms-content{
    .vfms-banner{
        &--bg {
            background-image: url('../img/cabecera-mobile.jpg');
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            @media screen and (min-width: 640px) {
                background-image: url('../img/cabecera-tablet.jpg');
            }
            @media screen and (min-width: 970px) {
                background-image: url('../img/cabecera-desktop.jpg');
            }
        }
        &--icon{
            width: 44px;
            height: 44px;
            &-container {
                width: 64px;
                height: 64px;
            }
        }
    } 
}